
@{
    ViewBag.Title = "AddAsset";
}

@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid assetAdding-tab" style="width: 84%">
        <div class="content admin-assetadd-container">
            <div class="admin-asset-add">
                <div class="container-fluid top admin-assetadd">
                    <div class="row navbar align-items-center mt-2">
                        <h4 class="header mb-0 text-right">Add Asset</h4>
                    </div>
                    <!-- Basic HTML Form -->
                    <form id="assetadd-form" class="admin-assetform needs-validation" novalidate>
                        <div class="container" style="margin-left: 5px">
                            <div class="row">
                                <div class="col-lg-3 col-md-6" style="padding-left: 0px;">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetID">Asset ID*</label>
                                        <input type="text" class="form-control" value="" name="AssetID" id="AssetID" placeholder="Enter Asset ID" required>
                                        <div class="invalid-feedback">Asset ID is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetLocation">Location*</label>
                                        <select name="AssetLocation" class="AssetLocation form-control form-select" id="AssetLocation" required>
                                            <option value="" disabled selected hidden>Select Location</option>
                                            <option value="222">dfds</option>
                                        </select>
                                        <div class="invalid-feedback">Location is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetAllocateStatus">Mode*</label>
                                        <select name="AssetAllocateStatus" class="AssetAllocateStatus form-control form-select" id="AssetAllocateStatus" required>
                                            <option value="" disabled selected hidden>Select Status</option>
                                            <option value="222">dfds</option>
                                        </select>
                                        <div class="invalid-feedback">Allocate Status is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetType">Type*</label>
                                        <select name="AssetType" class="AssetType form-control form-select" id="AssetType" required>
                                            <option value="" disabled selected hidden>Select Type</option>
                                            <option value="222">dfds</option>
                                        </select>
                                        <div class="invalid-feedback">Asset Type is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6" style="padding-left: 0px;">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetImage" style="width:100%;">Add Asset Image*</label>
                                        <div class="upload-btn-wrapper attach1wrapper">
                                            <button class="btn asset-upload-btn">Upload</button>
                                            <input type="file"
                                                   class="form-control"
                                                   name="AssetImage"
                                                   id="AssetImage"
                                                   required
                                                   accept=".jpeg,.png,.jpg" data-existingfile="">
                                        </div>
                                        <div class="invalid-feedback">Add Asset Image is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetManufacture">Manufacture*</label>
                                        <input type="text" class="form-control" value="" name="AssetManufacture" id="AssetManufacture" placeholder="Enter Manufacture" required>
                                        <div class="invalid-feedback">Manufacture is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetModel">Model*</label>
                                        <input type="text" class="form-control" value="" name="AssetModel" id="AssetModel" placeholder="Enter Model" required>
                                        <div class="invalid-feedback">Model is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetServiceTag">Service Tag*</label>
                                        <input type="text" class="form-control" value="" name="AssetServiceTag" id="AssetServiceTag" placeholder="Enter Service Tag" required>
                                        <div class="invalid-feedback">Service Tag is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6" style="padding-left: 0px;">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetExpressCode">ExpressCode*</label>
                                        <input type="text" class="form-control" value="" name="AssetExpressCode" id="AssetExpressCode" placeholder="Enter Express Code" required>
                                        <div class="invalid-feedback">Express Code is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetBarcode">Barcode</label>
                                        <input type="text" class="form-control" value="" name="AssetBarcode" id="AssetBarcode" placeholder="Enter Barcode">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetRAM">RAM</label>
                                        <input type="text" class="form-control" value="" name="AssetRAM" id="AssetRAM" placeholder="Enter RAM" >
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetWarrentyStartDate">Warrenty Start Date*</label>
                                        <input type="date" class="form-control" name="AssetWarrentyStartDate" id="AssetWarrentyStartDate" required>
                                        <div class="invalid-feedback">Warrenty Start Date is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6" style="padding-left: 0px;">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetWarrentyEndDate">Warrenty End Date*</label>
                                        <input type="date" class="form-control" name="AssetWarrentyEndDate" id="AssetWarrentyEndDate" required>
                                        <div class="invalid-feedback">Warrenty End Date is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group assetadd-tabs">
                                        <label for="AssetWarrentyStatus">Warrenty Status*</label>
                                        <select name="AssetWarrentyStatus" class="AssetType form-control form-select" id="AssetWarrentyStatus" required>
                                            <option value="" disabled selected hidden>Select Status</option>
                                            <option value="222">dfds</option>
                                        </select>
                                        <div class="invalid-feedback">Warrenty Status is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 text-right">
                                    <button type="button" class="btn assetadd-Cancel">Cancel</button>
                                    <button type="button" class="btn btn-primary assetadd-Update">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function () {
    $("#AssetImage").change(function (e) {
        for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
            var file = e.originalEvent.srcElement.files[i];
            var img = document.createElement("img");
            var reader = new FileReader();
            reader.onloadend = function () {
                img.src = reader.result;
            }
            reader.readAsDataURL(file);
            $("#AssetImage").after(img);
            $(".admin-asset-add .upload-btn-wrapper img").after("<span class='uploaded-image-close'><i class='fa fa-times-circle' aria-hidden='true'></i></span>");
        }
    });

    $(document).on("click", ".uploaded-image-close", function () {
        $(".admin-asset-add .upload-btn-wrapper img").remove();
        $(".admin-asset-add .upload-btn-wrapper .uploaded-image-close").remove();
    });
});
</script>
