
@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid allocatedinfo-tab" style="width: 84%">
        <div class="content admin-allocatedinfo-container">
            <div class="admin-allocatedinfo-add">

                <h2>Allocated Info</h2>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

