


@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")

    <div class="main-content container-fluid assetinfo-tab" style="width: 84%">
        <div class="content admin-assetinfo-container">
            <div class="admin-assetinfo-add">
                <h2>Asset Info</h2>
            </div>
        </div>
    </div>
</div>
