

@Html.Partial("_NavBar")
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Asset Type', 'Number of Assets'],
            ['Laptop', 150],
            ['Keyboard', 50],
            ['Mouse', 100],
            ['Mobile Phone', 70],
            ['UPS', 30]
        ]);

        var options = {
            legend: { position: 'none' }, // Hide the default legend
            chartArea: {
                left:0,
                top: 0,
                width: '80%',
                height: '90%'
            },
            
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);

        // Custom Legend Creation
        createCustomLegend();
    }

    function createCustomLegend() {
        const legendItems = [
            { color: '#3366cc', label: 'Laptop' },
            { color: '#dc3912', label: 'Keyboard' },
            { color: '#ff9900', label: 'Mouse' },
            { color: '#109618', label: 'Mobile Phone' },
            { color: '#990099', label: 'UPS' }
        ];

        const legendContainer = document.getElementById('legend');
        legendContainer.innerHTML = ''; // Clear existing content

        legendItems.forEach(item => {
            const legendItem = document.createElement('div');
            legendItem.style.display = 'flex';
            legendItem.style.alignItems = 'right';
            legendItem.style.marginBottom = '10px';

            const colorBox = document.createElement('div');
            colorBox.style.width = '13px';
            colorBox.style.height = '13px';
            colorBox.style.backgroundColor = item.color;
            colorBox.style.marginRight = '5px';
            colorBox.style.marginTop = '2px';

            const label = document.createElement('span');
            label.textContent = item.label;
            label.style.fontSize = '14px';

            legendItem.appendChild(colorBox);
            legendItem.appendChild(label);
            legendContainer.appendChild(legendItem);
        });
    }
</script>
<style>
   
</style>
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid assetinfo-tab" style="width: 84%">
        <div class="content admin-assetinfo-container" style="margin-left: -10px; ">
            <div class="admin-assetinfo-view">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-6 col-12 pl-3 asset-list-header">
                            <div class="card">
                                <div class="row">
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon1">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-1.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist">Total Asset</p>
                                            <p class="asset_totallist">150</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon2">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-2.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist">Asset In Use</p>
                                            <p class="asset_totallist">145</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon3">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-3.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist"> Asset In Scrap</p>
                                            <p class="asset_totallist">73</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon4">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-4.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist">Hyd Asset</p>
                                            <p class="asset_totallist">72</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 d-flex assetlist_cardset">
                                        <div class="icon_assetlist icon4">
                                            @*<i class="fa-solid fa-laptop" style="font-size:17px;"></i>*@
                                            <img src="~/Assets/asset-icon-5.png">
                                        </div>
                                        <div class="asset_listdetails_card">
                                            <p class="asset_itemslist">Mdu Asset</p>
                                            <p class="asset_totallist">72</p>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>

                        @*<div class="col-lg-6 col-sm-12 col-md-6 col-12 pl-4">
                            <div class="card">
                                <p style="margin-top:10px;">Asset Type</p>
                                <div class=" chart-legend-container">
                                    <div id="piechart" style="height:172px;"></div>
                                    <div id="legend"></div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="container-fluid top admin-assetinfoview">
                    <div class="row navbar align-items-center">
                        <!-- asset column -->
                        <div class="col-lg-2 col-md-5 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Asset List</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-xl-4 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-assetinfo-search">
                            <div class="search-container">
                                <div class="input-group" style="border-radius: 20px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                                    </div>
                                    <input type="text" placeholder="Search By Keyword" class="assetinfo-advancesearch form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5 col-lg-5 navbarl1 col-sm-12 col-md-7 res-admin-assetinfo-header-right">                            
                            <div class="col-xl-4 col-lg-4 navbarl1 col-sm-4 col-xs-12 col-md-4 res-admin-assetinfo-status p-0">
                                <div class="form-group res-assetinfo p-0">
                                    <select class="form-control form-select" name="assetinfostatus" id="assetinfo-status-dropdown" style="">
                                        <option value="" disabled selected>Allocate Status</option>
                                        <option value="Assigned">Assigned</option>
                                        <option value="NotAssigned">Not Assigned</option>
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2  navbarl1 col-sm-2 col-md-2 res-admin-assetinfo-export p-0 text-right">
                                <div class="adminassetinfo-export" style="">
                                    <button type="button" class="btn assetinfo-export-btn pt-0" id="exportAssetinfo" onclick="exportAssetinfo()">
                                        <span class="assetinfo-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                            <!-- Add asset dropdown -->
                            <div class="col-lg-5 navbarl1 col-sm-6 col-md-6 res-admin-assetinfo-add text-right">
                                <div class="addingassetinfo form-group">
                                    <select name="addasset" class="addasset form-control form-select" id="addassetinfo">
                                        <option value="" disabled="" selected="" hidden="">Add Asset</option>
                                        <option value="Addmanually" class="assetManually">+ Manually</option>
                                        <option value="BulkAsset" class="assetBulk">+ Bulk</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-assetinfo-action-block">
                    <select class="form-control ml-2" name="action" id="action" style="display: none;">
                        <option value="" selected>Action</option>
                        <option value="export">Export</option>
                    </select>
                </div>

                <div class="res-admin-assetinfo-table table-responsive">
                    <table id="adminassetinfotable" class="display" style="width: 100%;">
                        <thead style="background-color: #d8e6fb; border-radius: 10px;">
                            <tr>
                                <th><input type="checkbox" id="Assetlist-selectAll"></th>
                                <th>Asset ID</th>
                                <th>Allocated To</th>
                                <th>Location</th>
                                <th>Allocate Status</th>
                                <th>Assigned By</th>
                                <th>Assigned Date</th>
                                <th style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even">
                                <td><input type="checkbox" class="Assetlist-check"></td>
                                <td class="tdassetid"><span class="assetinfo-image-btn"><img src="/assets/image8.png" alt="PO" style="width:25px"></span><span style="margin-left: 5px; color: #3E78CF;">AMBC/MDU/#767</span></td>
                                <td>1155 Test User</td>
                                <td class="tdassetlocation">Madurai</td>
                                <td>Assigned</td>                                
                                <td>Aravind</td>
                                <td>03-09-2024</td>
                                <td style="text-align:center;">
                                    <span class="assetinfo-list-edit">
                                        <i class="fas fa-ellipsis-v asset-edit-dropdown" onclick="toggleAssetActionOptions(this)"></i>
                                        <div class="asset-options" style="display:none">
                                            <a class="dropdown-item emp-leave-edit" onclick="assetview(1)">View</a>
                                            <a class="dropdown-item emp-leave-edit" onclick="assetedit(1)">Edit</a>
                                            <a class="dropdown-item emp-leave-cancel" onclick="assetchangelog(1)">Change Log</a>
                                            <a class="dropdown-item emp-leave-cancel" onclick="assettransfer(1)">Asset Transfer</a>
                                            <a class="dropdown-item emp-leave-cancel" onclick="assetdelete(1)">Delete</a>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td><input type="checkbox" class="Assetlist-check"></td>
                                <td class="tdassetid"><span class="assetinfo-image-btn"><img src="/assets/image8.png" alt="PO" style="width:25px"></span><span style="margin-left: 5px; color: #3E78CF;">AMBC/MDU/#769</span></td>
                                <td>1155 Test User</td>
                                <td class="tdassetlocation">Madurai</td>
                                <td>Assigned</td>
                                <td>Aravind</td>
                                <td>03-09-2024</td>
                                <td style="text-align:center;">
                                    <span class="assetinfo-list-edit">
                                        <i class="fas fa-ellipsis-v asset-edit-dropdown" onclick="toggleAssetActionOptions(this)"></i>
                                        <div class="asset-options" style="display:none">
                                            <a class="dropdown-item emp-leave-edit" onclick="assetview(1)">View</a>
                                            <a class="dropdown-item emp-leave-edit" onclick="assetedit(1)">Edit</a>
                                            <a class="dropdown-item emp-leave-cancel" onclick="assetchangelog(1)">Change Log</a>
                                            <a class="dropdown-item emp-leave-cancel" onclick="assettransfer(1)">Asset Transfer</a>
                                            <a class="dropdown-item emp-leave-cancel" onclick="assetdelete(1)">Delete</a>
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
    </div>

<script src="~/Scripts/z-AssetScript.js"></script>
<script>
    $(document).ready(function () {
        // Initialize DataTable if not already initialized
        if (!$.fn.DataTable.isDataTable('#adminassetinfotable')) {
            var table = $('#adminassetinfotable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
            $('.assetinfo-advancesearch').on('keyup', function () {
                table.search(this.value).draw(); // Perform global search on all columns
            });
        }
    });

    function toggleAssetActionOptions(iconElement) {
        const optionsMenu = $(iconElement).next('.asset-options');
        $('.asset-options').not(optionsMenu).hide(); // Hide any other open menus
        optionsMenu.toggle(); // Toggle visibility of the clicked menu
    }

</script>

