@Html.Partial("_NavBar")
@{
    ViewBag.Title = "EmpMaintananceHistory";
}

<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid maintenancehistory-tab" style="width: 84%">
        <div class="content admin-maintenancehistory-container">
            <div class="admin-maintenancehistory-view">
                <div class="container-fluid">
                    <div class="container-fluid top admin-maintenancehistoryview">
                        <div class="row navbar align-items-center">
                            <div class="col-lg-5 col-md-5 topic d-flex maintenancehistory-details">
                                <div class="maintenancehistory-header-title">
                                    <span class="maintenancehistory-image-btn"><img src="~/Assets/EmpImages/1155.jpeg" alt="ename"></span><span class="maintenancehistory-id-select" data-assetid="name">Name</span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-5 navbarl1 col-sm-12 col-md-8 admin-maintenancehistory-header-right">
                                <div class="col-xl-3 col-lg-3 navbarl1 col-sm-5 col-xs-12 col-md-4 res-admin-maintenancehistory-status p-0">
                                    <div class="form-group res-maintenancehistorylisting">
                                        <select class="form-control form-select" name="maintenancehistorystatus" id="maintenancehistory-status-dropdown" style="">
                                            <option value="2024" disabled selected>2024</option>
                                            <option value="2025">2025</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-1 col-lg-1  navbarl1 col-sm-2 col-md-2 admin-maintenancehistory-export p-0">
                                    <div class="maintenancehistory-export" style="">
                                        <button type="button" class="btn maintenancehistory-export-btn pt-0" id="exportmaintenancehistory" onclick="exportmaintenancehistory()">
                                            <span class="maintenancehistorylist-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="res-maintenancehistory-table table-responsive">
                        <table id="maintenancehistorytable" class="display" style="width: 100%;">
                            <thead style="background-color: #d8e6fb; border-radius: 10px;">
                                <tr>
                                    <th>Acknowledge</th>
                                    <th>Maintenance Date</th>
                                    <th>Change Request Date</th>
                                    <th>Agent Name</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd">
                                    <td class="maintenancehistoryacknowledge-icon">
                                        <span class="maintenancehistory-btn">
                                            <img src="/assets/Approve.png" alt="Approved" style="width:25px" title="Approved by Mithun Sivaprakasam">
                                            <div style="display:none">Approved</div>
                                        </span>
                                    </td>
                                    <td class="tdmaintenancehistory-date">01 October 2024</td>
                                    <td class="tdmaintenancehistory-changerequest">01 October 2024</td>
                                    <td><span class="maintenancehistory-image-btn"><img src="~/Assets/EmpImages/1155.jpeg" alt="agentname"></span><span class="maintenance-id-select" data-assetid="name">Name</span></td>
                                    <td><div class="maintenancehistory-status completed">Completed</div></td>
                                    <td>Test Notes</td>
                                </tr>
                                <tr class="even">
                                    <td class="maintenancehistoryacknowledge-icon">
                                        <span class="maintenancehistory-btn">
                                            <img src="/assets/Approve.png" alt="Approved" style="width:25px" title="Approved by Mithun Sivaprakasam">
                                            <div style="display:none">Approved</div>
                                        </span>
                                    </td>
                                    <td class="tdmaintenancehistory-date">01 October 2024</td>
                                    <td class="tdmaintenancehistory-changerequest">01 October 2024</td>
                                    <td><span class="maintenancehistory-image-btn"><img src="~/Assets/EmpImages/1155.jpeg" alt="agentname"></span><span class="maintenance-id-select" data-assetid="name">Name</span></td>
                                    <td><div class="maintenancehistory-status completed">Completed</div></td>
                                    <td>Test Notes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (!$.fn.DataTable.isDataTable('#maintenancehistorytable')) {
            var table = $('#maintenancehistorytable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
        }
    });
</script>