
@{
    ViewBag.Title = "PurchaseSuperAdminView";
}

@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid PurchaseAccountAdding-tab" style="width: 84%">
        <div class="content admin-purchaseaccountadd-container">
            <div class="admin-purchaseaccount-add">
                <div class="container-fluid top admin-purchaseaccountadd">
                    <div class="row navbar align-items-center mt-2">
                        <h4 class="header mb-0 text-right">Purchase Request 24</h4>
                    </div>

                    <!-- Basic HTML Form -->
                    <form id="purchaseaccount-form" class="admin-purchaseaccountform needs-validation" novalidate>
                        <div class="container" style="margin-left: 5px">
                            <div class="row">
                                <div class="col-lg-3 col-md-6" style="padding-left: 0px;">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PAVendorID">Vendor ID</label>
                                        <input type="text" class="form-control" name="PAVendorID" value="24" id="PAVendorID" placeholder="Enter Vendor ID" required readonly>
                                        <div class="invalid-feedback">Vendor ID is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PAVendorName">Vendor Name</label>
                                        <input type="text" class="form-control" name="PAVendorName" id="PAVendorName" value="Test data" required readonly>
                                        <div class="invalid-feedback">Vendor Name is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PAVendorEmail">Vendor Email</label>
                                        <input type="text" class="form-control" name="PAVendorEmail" id="PAVendorEmail" value="Testdata@gmail.com" required readonly>
                                        <div class="invalid-feedback">Vendor Email is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PAFiles">Files</label>
                                        <input type="text" class="form-control" name="PAFiles" id="PAFiles" value="test.pdf" required readonly>
                                        <div class="invalid-feedback">Files is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6" style="padding-left: 0px;">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PARequestedDate">Requested Date</label>
                                        <input type="text" class="form-control" name="PARequestedDate" value="24-07-2024" id="PARequestedDate" required readonly>
                                        <div class="invalid-feedback">Requested Date is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PARequestedBy">Requested By</label>
                                        <input type="text" class="form-control" name="PARequestedBy" id="PARequestedBy" value="Test data" required readonly>
                                        <div class="invalid-feedback">Requested By is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PAQuotePrice">Quote Price</label>
                                        <input type="text" class="form-control" name="PAQuotePrice" id="PAQuotePrice" value="Rs 2000" required readonly>
                                        <div class="invalid-feedback">Quote Price is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PAApprovedBy">Approved By</label>
                                        <input type="text" class="form-control" name="PAApprovedBy" id="PAApprovedBy" value="Test User" required readonly>
                                        <div class="invalid-feedback">Approved By is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6" style="padding-left: 0px;">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PAAppovedDate">Approved Date</label>
                                        <input type="text" class="form-control" name="PAAppovedDate" value="24-08-2024" id="PAAppovedDate" required readonly>
                                        <div class="invalid-feedback">Approved Date is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PAPurchaseOrder" style="width:100%;">Purchase Order</label>
                                        <div class="upload-btn-wrapper">
                                            <button class="btn purchaseorder-upload-btn">Upload</button>
                                            <input type="file" value="" class="form-control" name="PAPurchaseOrder" id="PAPurchaseOrder" required>
                                        </div>
                                        <small style="font-size: 12px; float: left; margin-top: -5px; color: #3E78CF; ">File supported PDF, DOCS of 2MB</small>
                                        <div class="invalid-feedback">Purchase Order is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group purchaseaccountadd-tabs">
                                        <label for="PATaxInvoice" style="width:100%;">Tax Invoice</label>
                                        <div class="upload-btn-wrapper">
                                            <button class="btn taxinvoice-upload-btn">Upload</button>
                                            <input type="file" value="" class="form-control" name="PATaxInvoice" id="PATaxInvoice" required>
                                        </div>
                                        <small style="font-size: 12px; float: left; margin-top: -5px; color: #3E78CF; ">File supported PDF, DOCS of 2MB</small>
                                        <div class="invalid-feedback">Tax Invoice is required.</div>
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                <div class="col-lg-12 col-md-12 text-right">
                                    <button type="button" class="btn vendoradd-Cancel">Cancel</button>
                                    <button type="submit" class="btn btn-primary vendoradd-Submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



