
@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid subscriptioninfo-tab" style="width: 84%">
        <div class="content admin-subscriptioninfo-container" style="margin-left: -10px; ">
            <div class="admin-subscriptioninfo-view">
                <div class="container-fluid top admin-subscriptioninfoview">
                    <div class="row navbar align-items-center">
                        <!-- subscription column -->
                        <div class="col-lg-3 col-md-5 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Subscription Listing</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-xl-4 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-subscriptioninfo-search">
                            <div class="search-container">
                                <div class="input-group" style="border-radius: 20px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                                    </div>
                                    <input type="text" placeholder="Search By Keyword" class="subscriptioninfo-advancesearch form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-subscriptioninfo-header-right">
                            <!-- Export -->
                            <div class="col-xl-4 col-lg-3 navbarl1 col-sm-4 col-xs-12 col-md-4 res-admin-subscriptioninfo-status p-0">
                                <div class="form-group res-subscriptioninfo">
                                    <select class="form-control form-select" name="subscriptioninfostatus" id="subscriptioninfo-status-dropdown" style="">
                                        <option value="" disabled selected>Status</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Rejected">Rejected</option>
                                        <option value="Pending">Pending</option>
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-1  navbarl1 col-sm-2 col-md-2 res-admin-subscriptioninfo-export p-0">
                                <div class="adminsubscriptioninfo-export" style="">
                                    <button type="button" class="btn subscriptioninfo-export-btn pt-0" id="exportSubscriptioninfo" onclick="exportSubscriptioninfo()">
                                        <span class="subscriptioninfo-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                            <!-- Add subscription dropdown -->
                            <div class="col-lg-6 navbarl1 col-sm-6 col-md-6 res-admin-subscriptioninfo-add">
                                <div class="addingsubscriptioninfo form-group">
                                    <select name="addsubscriptioninfo" class="addsubscriptioninfo form-control form-select" id="addsubscriptioninfo">
                                        <option value="" disabled="" selected="" hidden="">Add Subscription</option>
                                        <option value="Addmanually" class="subscriptioninfoManually">+ Manually</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-subscriptioninfo-action-block">
                    <select class="form-control ml-2" name="action" id="action" style="display: none;">
                        <option value="" selected>Action</option>
                        <option value="export">Export</option>
                    </select>
                </div>

                <div class="res-admin-subscriptioninfo-table table-responsive">
                    <table id="adminsubscriptioninfotable" class="display" style="width: 100%;">
                        <thead style="background-color: #d8e6fb; border-radius: 10px;">
                            <tr>
                                <th><input type="checkbox" id="vendor-selectAll"></th>
                                <th>Subscription ID</th>
                                <th>Subscription Name</th>
                                <th>Purchase Date</th>
                                <th>Renewal Date</th>
                                <th>Amount</th>
                                <th>Payment Method</th>
                                <th>Mode</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even">
                                <td><input type="checkbox" class="vendor-check"></td>
                                <td class="tdsubscriptionid">2000</td>
                                <td class="tdsubscriptionname">Azure</td>
                                <td>16 May 2024</td>
                                <td>16 May 2024</td>
                                <td>03-09-2024</td>
                                <td>Rs 101</td>
                                <td>Auto- Renewal</td>
                                <td><span class="subscriptioninfo-list-edit"><i class="fas fa-pencil-alt"></i></span></td>
                            </tr>
                            <tr class="odd">
                                <td><input type="checkbox" class="vendor-check"></td>
                                <td class="tdsubscriptionid">2000</td>
                                <td class="tdsubscriptionname">Azure</td>
                                <td>16 May 2024</td>
                                <td>16 May 2024</td>
                                <td>03-09-2024</td>
                                <td>Rs 101</td>
                                <td>Auto- Renewal</td>
                                <td><span class="subscriptioninfo-list-edit"><i class="fas fa-pencil-alt"></i></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Initialize DataTable if not already initialized
        if (!$.fn.DataTable.isDataTable('#adminsubscriptioninfotable')) {
            var table = $('#adminsubscriptioninfotable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
            $('.subscriptioninfo-advancesearch').on('keyup', function () {
                table.search(this.value).draw(); // Perform global search on all columns
            });
        }
    });



</script>
