
@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid subscriptioninfo-tab" style="width: 84%">
        <div class="content admin-subscriptioninfo-container" style="margin-left: -10px; ">
            <div class="admin-subscriptioninfo-view">
                <div class="container-fluid top admin-subscriptioninfoview">
                    <div class="row navbar align-items-center">
                        <!-- subscription column -->
                        <div class="col-lg-3 col-md-5 topic d-flex res-admin-title">
                            <h4 class="header mb-0 text-right">Subscription Listing</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-xl-4 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-subscriptioninfo-search">
                            
                        </div>

                        <div class="col-xl-5 col-lg-6 navbarl1 col-sm-12 col-md-7 res-admin-subscriptioninfo-header-right">
                            <!-- Export -->
                            <div class="col-xl-2 col-lg-1  navbarl1 col-sm-2 col-md-2 res-admin-subscriptioninfo-export p-0">
                                <div class="adminsubscriptioninfo-export" style="">
                                    <button type="button" class="btn subscriptioninfo-export-btn pt-0" id="exportSubscriptioninfo" onclick="exportSubscriptioninfo()">
                                        <span class="subscriptioninfo-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                            <!-- Add subscription dropdown -->
                            <div class="col-lg-6 navbarl1 col-sm-6 col-md-6 res-admin-subscriptioninfo-add">
                                <div class="addingsubscriptioninfo form-group">
                                    <select name="addsubscriptioninfo" class="addsubscriptioninfo form-control form-select" id="addsubscriptioninfo">
                                        <option value="" disabled="" selected="" hidden="">Add Subscription</option>
                                        <option value="Addmanually" class="subscriptioninfoManually">+ Manually</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-subscriptioninfo-action-block">
                    <select class="form-control ml-2" name="action" id="action" style="display: none;">
                        <option value="" selected>Action</option>
                        <option value="export">Export</option>
                    </select>
                </div>

                <div class="admin-subscriptioninfo-list">

                    <div class="subscriptioninfo-list-block">
                        <div class="subscriptioninfo-list-left">
                            <input type="checkbox" name="subscription-list-checkbox" id="subscription-list-checkbox" class="subscription-list-checkbox">
                            <img src="~/Assets/EmpImages/1155.jpeg" />
                        </div>
                        <div class="subscriptioninfo-list-right">
                            <div class="subscriptioninfo-list-right-1 subscriptioninfo-list-due"><span>Due in 2 Month</span></div>
                            <div class="subscriptioninfo-list-right-2 subscriptioninfo-list-title">VONAGE</div>
                            <div class="subscriptioninfo-list-right-3">
                                <div class="subscriptioninfo-fields">
                                    <label>Category</label>
                                    <div class="subscriptioninfo-field-details">IT support</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Subscription ID</label>
                                    <div class="subscriptioninfo-field-details">#4556</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Purchase Date</label>
                                    <div class="subscriptioninfo-field-details">09-09-2024</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Renewal Date</label>
                                    <div class="subscriptioninfo-field-details">09-09-2024</div>
                                </div>
                            </div>
                            <div class="subscriptioninfo-list-right-4">
                                <div class="subscriptioninfo-fields">
                                    <label>Amount</label>
                                    <div class="subscriptioninfo-field-details">2400</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Payment Method</label>
                                    <div class="subscriptioninfo-field-details">Paid In Rupee</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Mode</label>
                                    <div class="subscriptioninfo-field-details">Online</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Vendor</label>
                                    <div class="subscriptioninfo-field-details">Vonage</div>
                                </div>
                            </div>
                            <div class="subscriptioninfo-action">
                                <div class="subscriptioninfo-edit-menu">
                                    <i class="fas fa-ellipsis-v subscriptioninfo-edit" onclick="toggleSubscriptioninfoActionOptions(this)"></i>
                                    <div class="subscriptioninfooptions" style="display:none">
                                        <a class="dropdown-item subscriptioninfo-edit" onclick="subscriptioninfoedit(1)"><i class="fas fa-pencil-alt subscriptioninfo-edit-icon"></i><span>Edit</span></a>
                                        <a class="dropdown-item subscriptioninfo-delete" onclick="subscriptioninfodelete(1)"><i class="fas fa-trash-alt subscriptioninfo-delete-icon"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="subscriptioninfo-list-block">
                        <div class="subscriptioninfo-list-left">
                            <input type="checkbox" name="subscription-list-checkbox" id="subscription-list-checkbox" class="subscription-list-checkbox">
                            <img src="~/Assets/EmpImages/1155.jpeg" />
                        </div>
                        <div class="subscriptioninfo-list-right">
                            <div class="subscriptioninfo-list-right-1 subscriptioninfo-list-due"></div>
                            <div class="subscriptioninfo-list-right-2 subscriptioninfo-list-title">VONAGE</div>
                            <div class="subscriptioninfo-list-right-3">
                                <div class="subscriptioninfo-fields">
                                    <label>Category</label>
                                    <div class="subscriptioninfo-field-details">IT support</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Subscription ID</label>
                                    <div class="subscriptioninfo-field-details">#4556</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Purchase Date</label>
                                    <div class="subscriptioninfo-field-details">09-09-2024</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Renewal Date</label>
                                    <div class="subscriptioninfo-field-details">09-09-2024</div>
                                </div>
                            </div>
                            <div class="subscriptioninfo-list-right-4">
                                <div class="subscriptioninfo-fields">
                                    <label>Amount</label>
                                    <div class="subscriptioninfo-field-details">2400</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Payment Method</label>
                                    <div class="subscriptioninfo-field-details">Paid In Rupee</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Mode</label>
                                    <div class="subscriptioninfo-field-details">Online</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Vendor</label>
                                    <div class="subscriptioninfo-field-details">Vonage</div>
                                </div>
                            </div>
                            <div class="subscriptioninfo-action">
                                <div class="subscriptioninfo-edit-menu">
                                    <i class="fas fa-ellipsis-v subscriptioninfo-edit" onclick="toggleSubscriptioninfoActionOptions(this)"></i>
                                    <div class="subscriptioninfooptions" style="display:none">
                                        <a class="dropdown-item subscriptioninfo-edit" onclick="subscriptioninfoedit(1)"><i class="fas fa-pencil-alt subscriptioninfo-edit-icon"></i><span>Edit</span></a>
                                        <a class="dropdown-item subscriptioninfo-delete" onclick="subscriptioninfodelete(1)"><i class="fas fa-trash-alt subscriptioninfo-delete-icon"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="subscriptioninfo-list-block">
                        <div class="subscriptioninfo-list-left">
                            <input type="checkbox" name="subscription-list-checkbox" id="subscription-list-checkbox" class="subscription-list-checkbox">
                            <img src="~/Assets/EmpImages/1155.jpeg" />
                        </div>
                        <div class="subscriptioninfo-list-right">
                            <div class="subscriptioninfo-list-right-1 subscriptioninfo-list-due"></div>
                            <div class="subscriptioninfo-list-right-2 subscriptioninfo-list-title">VONAGE</div>
                            <div class="subscriptioninfo-list-right-3">
                                <div class="subscriptioninfo-fields">
                                    <label>Category</label>
                                    <div class="subscriptioninfo-field-details">IT support</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Subscription ID</label>
                                    <div class="subscriptioninfo-field-details">#4556</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Purchase Date</label>
                                    <div class="subscriptioninfo-field-details">09-09-2024</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Renewal Date</label>
                                    <div class="subscriptioninfo-field-details">09-09-2024</div>
                                </div>
                            </div>
                            <div class="subscriptioninfo-list-right-4">
                                <div class="subscriptioninfo-fields">
                                    <label>Amount</label>
                                    <div class="subscriptioninfo-field-details">2400</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Payment Method</label>
                                    <div class="subscriptioninfo-field-details">Paid In Rupee</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Mode</label>
                                    <div class="subscriptioninfo-field-details">Online</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Vendor</label>
                                    <div class="subscriptioninfo-field-details">Vonage</div>
                                </div>
                            </div>
                            <div class="subscriptioninfo-action">
                                <div class="subscriptioninfo-edit-menu">
                                    <i class="fas fa-ellipsis-v subscriptioninfo-edit" onclick="toggleSubscriptioninfoActionOptions(this)"></i>
                                    <div class="subscriptioninfooptions" style="display:none">
                                        <a class="dropdown-item subscriptioninfo-edit" onclick="subscriptioninfoedit(1)"><i class="fas fa-pencil-alt subscriptioninfo-edit-icon"></i><span>Edit</span></a>
                                        <a class="dropdown-item subscriptioninfo-delete" onclick="subscriptioninfodelete(1)"><i class="fas fa-trash-alt subscriptioninfo-delete-icon"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="subscriptioninfo-list-block">
                        <div class="subscriptioninfo-list-left">
                            <input type="checkbox" name="subscription-list-checkbox" id="subscription-list-checkbox" class="subscription-list-checkbox">
                            <img src="~/Assets/EmpImages/1155.jpeg" />
                        </div>
                        <div class="subscriptioninfo-list-right">
                            <div class="subscriptioninfo-list-right-1 subscriptioninfo-list-expired"><span>Expired</span></div>
                            <div class="subscriptioninfo-list-right-2 subscriptioninfo-list-title">VONAGE</div>
                            <div class="subscriptioninfo-list-right-3">
                                <div class="subscriptioninfo-fields">
                                    <label>Category</label>
                                    <div class="subscriptioninfo-field-details">IT support</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Subscription ID</label>
                                    <div class="subscriptioninfo-field-details">#4556</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Purchase Date</label>
                                    <div class="subscriptioninfo-field-details">09-09-2024</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Renewal Date</label>
                                    <div class="subscriptioninfo-field-details">09-09-2024</div>
                                </div>
                            </div>
                            <div class="subscriptioninfo-list-right-4">
                                <div class="subscriptioninfo-fields">
                                    <label>Amount</label>
                                    <div class="subscriptioninfo-field-details">2400</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Payment Method</label>
                                    <div class="subscriptioninfo-field-details">Paid In Rupee</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Mode</label>
                                    <div class="subscriptioninfo-field-details">Online</div>
                                </div>
                                <div class="subscriptioninfo-fields">
                                    <label>Vendor</label>
                                    <div class="subscriptioninfo-field-details">Vonage</div>
                                </div>
                            </div>
                            <div class="subscriptioninfo-action">
                                <div class="subscriptioninfo-edit-menu">
                                    <i class="fas fa-ellipsis-v subscriptioninfo-edit" onclick="toggleSubscriptioninfoActionOptions(this)"></i>
                                    <div class="subscriptioninfooptions" style="display:none">
                                        <a class="dropdown-item subscriptioninfo-edit" onclick="subscriptioninfoedit(1)"><i class="fas fa-pencil-alt subscriptioninfo-edit-icon"></i><span>Edit</span></a>
                                        <a class="dropdown-item subscriptioninfo-delete" onclick="subscriptioninfodelete(1)"><i class="fas fa-trash-alt subscriptioninfo-delete-icon"></i><span>Delete</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Initialize DataTable if not already initialized
        if (!$.fn.DataTable.isDataTable('#adminsubscriptioninfotable')) {
            var table = $('#adminsubscriptioninfotable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
            $('.subscriptioninfo-advancesearch').on('keyup', function () {
                table.search(this.value).draw(); // Perform global search on all columns
            });
        }
    });

    function toggleSubscriptioninfoActionOptions(iconElement) {
        const optionsMenu = $(iconElement).next('.subscriptioninfooptions');
        $('.subscriptioninfooptions').not(optionsMenu).hide(); // Hide any other open menus
        optionsMenu.toggle(); // Toggle visibility of the clicked menu
    }



</script>
