@model HRMS.Models.ITsupport.VendorViewModel

@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid VendorApprovalPage-View" style="width: 84%">

        <div class="content sadmin-vendorapproval-container" style="margin-left: -10px;">
            <div class="sadmin-vendorapproval-view">
                <div class="container-fluid top sadmin-vendorapproval">
                    <div class="row navbar align-items-center">
                        <!-- Vendor Approval Title -->
                        <div class="col-lg-4 col-md-7 col-sm-12 topic d-flex res-admin-title">
                            <h4 class="header mb-0">Vendor Approval Request</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-lg-4 navbarl1 col-md-5 col-sm-12 res-sadmin-vendorapproval-search">
                            <div class="search-container">
                                <div class="input-group" style="border-radius: 20px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;">
                                            <i class="fas fa-search" style="color: #369479"></i>
                                        </span>
                                    </div>
                                    <input type="text" placeholder="Search By Keyword" class="vendorapproval-search form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                                </div>
                            </div>
                        </div>
                        <!-- Status Dropdown & Export Button -->
                        <div class="col-lg-4 col-md-6 navbarl1 col-sm-8 res-sadmin-vendorapproval-header-right d-flex">
                            <!-- Status Dropdown -->
                            <div class="col-lg-4 navbarl1 col-sm-6 col-md-6 res-sadmin-vendorapproval-status p-0">
                                <div class="form-group res-vendorapproval">
                                    <select class="form-control form-select" name="vendorapprovalstatus" id="sadmin-vendorapproval-status-dropdown">
                                        <option value="" disabled selected>Status</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Rejected">Rejected</option>
                                        <option value="Pending">Pending</option>
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Export Button -->
                            <div class="col-lg-2 col-sm-4 col-md-2 res-admin-vendor-export p-0">
                                <div class="sadminvendorapproval-export">
                                    <button type="button" class="btn vendorapproval-export-btn pt-0" id="exportVendor" onclick="exportVendor()">
                                        <span class="vendorapproval-export"><img src="/assets/Export.png" alt="Export"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Vendor Approval Table -->
                @Html.Partial("~/Views/Itsupport/_vendorapprovalpartial.cshtml", Model)
            </div>
        </div>

        <!-- Vendor Approval Modal -->
        <div class="modal fade" id="sadmin-approvalcard" tabindex="-1" role="dialog" aria-labelledby="vendorApprovalModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h6>Vendor ID</h6>
                            <p class="m-0 sadmin-vendorid-approvalcard" id="modalVendorID"></p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column sadmin-approvalcard-tabs">
                            <label>Vendor Name</label>
                            <span id="modalVendorName"></span>
                        </div>
                        <div class="d-flex flex-column sadmin-approvalcard-tabs">
                            <label>Vendor Contact</label>
                            <span id="modalVendorContact"></span>
                        </div>
                        <div class="d-flex flex-column sadmin-approvalcard-tabs">
                            <label>Vendor Address</label>
                            <span id="modalVendorAddress"></span>
                        </div>
                        <div class="d-flex flex-column sadmin-approvalcard-tabs">
                            <label>Reason for Approval or Rejection</label>
                            <textarea id="approvalReason" class="form-control"></textarea>
                        </div>
                    </div>
                    @*<div class="modal-footer">
                            <button class="btn btn-success" id="approveBtn" onclick="approveVendor()">Approve</button>
                            <button class="btn btn-danger" id="rejectBtn" onclick="rejectVendor()">Reject</button>
                        </div>*@

                    <div class="modal-footer">
                        <div id="modalMessage" class="text-success"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    const textarea = document.getElementById('approvalreason');
    textarea.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    });



</script>
