.login-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    position: relative;
}

.logo {
    position: absolute;
    width: 10%;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.forgot-password {
    margin-right: 23px;
    font-size: 14px;
    float: right;
    text-decoration: none;
}

.stay-signed-in {
    font-size: 14px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    width: 100%; /* Set width to 100% */
}

a:hover {
    text-decoration: none;
}

.btn-login {
    margin-top: 20px;
}

input {
    max-width: 345px;
}

.btn-admin {
    margin-top: 20px;
}

.login-continue {
    width: 90%;
    padding: 2.5%;
}

.login-heading {
    margin-bottom: 28px;
    margin-left: 7%;
}

.admin-btn {
    margin-top: 5%;
    margin-left: 34%;
    font-weight: 700;
}

.login-form {
    margin-left: 7%;
}

.signin-as {
    margin-left: 152px;
    font-weight: 700;
    margin-top: 16px;
}
