.logo {
    width: 18%;
    margin-left: 40%;
    margin-top: 8%;
}

.login-container {
    max-width: 43%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 18px;
}

.login-heading {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
}

.empemail-field input {
    max-width: 358px;
}

.logininput {
    width: 90% !important;
}


.reset-heading {
    margin-top: 10px;
    margin-left: 7%;
    font-size: 24px;
}



.backtologin-btn {
    margin-left: 32%;
    margin-bottom: 81px;
    width: 118px;
    padding: 9px;
}

.confirmPassword-message {
    margin-left: 10%;
    font-size: 22px;
    margin-top: 80px;
    display: none;
}

.resetlogo {
    width: 18%;
    margin-left: 40%;
    margin-top: 5%;
}


.reset-container {
    max-width: 43%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
}

.resetinput {
    width: 90% !important;
}
