.tab-container {
    margin-left: 5px;
    margin-top: 3%;
}

.myTabContent {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.admin-add-emptab {
    border: 1px solid gray;
}

    .admin-add-emptab.active {
        border-bottom-color: #ffff;
    }

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none !important;
}

.save-and-next {
    height: 37px;
    width: 136px;
    margin-top: 29px;
    margin-left: 135px;
    background-color: #2693F8;
}

/* Add your custom CSS styles here */
.description {
    margin-bottom: 20px;
}

.file-upload {
    border: 2px dashed #007bff; /* Blue border */
    padding: 32px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: 45%;
}

#file-upload-input {
    display: none;
}

#file-upload-label {
    cursor: pointer;
}

.download-btn {
    border: 2px solid #007bff; /* Blue border */
    background-color: #fff; /* White background */
    color: #007bff; /* Blue text color */
}

    .download-btn:hover {
        color: #fff; /* White text color on hover */
        background-color: #007bff; /* Blue background on hover */
    }

.submit-button {
    margin-top: 20px;
    text-align: center;
    margin-right: 49%;
}

.import-user-head {
    margin-top: 0;
    margin-bottom: 5%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: dodgerblue;
    font-weight: 500;
}

.nav-tabs .nav-link {
    color: black;
    font-weight: 500;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: .75rem;
}

.tabs-general {
    margin-bottom: 29px !important;
}

.empattendance {
    width: 100%;
    border: none;
    box-shadow: none;
    margin-top: 1%;
}

#search {
    padding-right: 5%;
}

.attendance_collpase {
    display: flex;
}

.left_attendance {
    margin-right: 10px;
    display: flex !important;
}

#status-nav, #location-nav, #export-nav {
    border: 1px solid transparent;
    padding-left: 2%;
    margin-top: .25rem;
}

#export-nav {
    margin-right: 1%;
}

.right_nav {
    display: flex;
}

.status, .location, .export {
    margin-left: 5%;
    margin-top: 5px;
}

.add_shift {
    margin-left: 5px;
    width: 180% !important;
    color: white;
    background-color: Highlight;
    border: 1px solid Highlight;
    padding: 10px;
}

/*----Calendar row-----*/
.calendar {
    width: 150%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Align buttons vertically */
    margin-left: 20px;
    margin-top: 3%;
}

    .calendar .day {
        width: calc(100% / 30);
        padding: 10px;
    }

#prevBtn, #nextBtn, #calendarBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
}

#prevBtn {
    margin-right: 1%;
}

#nextBtn {
    margin-left: 1%;
}

#calendarBtn {
    color: white;
    background-color: darkturquoise;
    margin-right: 2%;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 18px;
    border-radius: 10px;
}

.calendar_icon {
    margin-top: 2px;
    margin-left: 1%;
    margin-right: 8px !important;
    font-size: 20px;
}

.tabs-general label {
    font-size: 14px;
}

.tabs-general select {
    font-size: 14px;
}

    .tabs-general select option {
        font-size: 14px;
    }

.emergency-det {
    font-size: large;
    font-weight: 600;
    margin-bottom: 32px;
}

.tabs-other label {
    font-size: 14px;
}

.addemp-submit-btn {
    background-color: #2693F8;
}

#myTab {
    background-color: #EEF4FF;
    font-size: 14px;
    width: 100%;
}


@media (min-width:1256px ) and (max-width:1346px) {
    #myTab {
        font-size: 13px;
    }
}

@media (min-width:1186px ) and (max-width:1276px) {
    #myTab {
        font-size: 12px;
    }
}

@media (min-width:1417px) {
    #myTab {
        font-size: 15px
    }
}
