.tab-container {
    margin-left: 5px;
    margin-top: 3%;
}

.admin-add-emptab {
    border: 1px solid gray;
}

    .admin-add-emptab.active {
        border-bottom-color: #ffff;
    }

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none !important;
}



/* Add your custom CSS styles here */
.description {
    margin-bottom: 20px;
}

.file-upload {
    border: 2px dashed #007bff; /* Blue border */
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width:50%;
}

#file-upload-input {
    display: none;
}

#file-upload-label {
    cursor: pointer;
}

.download-btn {
    border: 2px solid #007bff; /* Blue border */
    background-color: #fff; /* White background */
    color: #007bff; /* Blue text color */
}

    .download-btn:hover {
        color: #fff; /* White text color on hover */
        background-color: #007bff; /* Blue background on hover */
    }

.submit-button {
    margin-top: 20px;
    text-align: center;
    margin-right: 49%;
}
.import-user-head {
    margin-top: -7%;
    margin-bottom: 4%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
   color: blue;
   font-weight:500;
}
.nav-tabs .nav-link {
    color: black;
    font-weight: 500;
}
