.container-fluid {
    padding: 0px;
    overflow: hidden !important;
    width: 100%;
    height: 65px;
}

.search-container {
    display: flex;
    position: relative;
    align-items: center;
    height: 35px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    margin-left: 20px;
}

    .search-container input[type="text"] {
        flex: 1;
        border: none;
        outline: none;
    }

    .search-container button {
        position: absolute;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 50%;
        padding: 5px 8px;
        cursor: pointer;
        margin-left: 15px;
        right: 0px;
    }

.material-icons-sharp {
    color: #7d8da1;
}

.features {
    display: flex;
    width: 50px !important;
    padding: 0px;
    margin-left: 20px;
}

#dropdownButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    margin-top: 13px;
    margin-left: 10px;
}

.arrow {
    width: 5px;
}

.advancetitle {
    padding-top: 15px;
}

#buttonforadd {
    border: 1px solid transparent;
    background-color: #fff;
    margin: 0px;
}

.addemployee {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
}

.employeeadd {
    margin: 10px;
    padding-left: 20px;
    font-size: 18px;
}

.header {
    font-size: 30px;
}

.profile-details {
    display: flex;
}

.emp-name {
    margin: 0px;
}

.email {
    padding-bottom: 0px;
    color: #007bff;
    font-size: 12px;
}

tr th {
    align-items: center;
    background-color: #f0f6fc;
}

tr td {
    margin-bottom: 10px;
}

.topic-name {
    padding-left: 70px;
}

.profile-img {
    margin-right: 20px;
}

.toggle-button {
    display: table-row;
}

.dropdown {
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 15px;
}

.collapsedropdown {
    margin-top: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
}

.btn-info:hover, .btn-info:focus {
    background-color: #fff;
    border: 1px solid black;
}

.dropbtn {
    color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
}

.fa-solid {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.addingemployee {
    margin: 0px;
    padding: 0px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icons {
    width: 50px;
    text-align: center;
    display: flex;
}

    .icons .fa-solid {
        color: grey;
        padding: 0px 0px;
    }

.hover-icons .icons {
    display: none;
}

.hover-icons:hover .icons {
    display: block;
}

.navbarl {
    display: flex;
    padding: 0px;
}

.compact {
    margin-left: 30px;
}

.topic {
    display: flex;
}

.btn-primary {
    margin-left: 30px;
    margin-top: 10px;
    height: 35px;
}
