.admin-empview {
    padding: 0px;
    /* overflow: hidden !important;*/
    width: 100%;
    height: 65px;
}

.search-container {
    display: flex;
    position: relative;
    align-items: center;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    margin-left: 20px;
    overflow: hidden;
}

    .search-container input[type="text"] {
        flex: 1;
        border: none;
        outline: none;
        margin-left: 20px;
        border-left: 1px solid #7d8da1;
        padding-left: 10px;
    }

    .search-container button {
        position: absolute;
        background-color: transparent;
        color: #7d8da1;
        border: none;
        cursor: pointer;
        padding-top: 5px;
        left: 0px;
    }

.material-icons-sharp {
    color: #7d8da1;
}

.features {
    display: flex;
    width: 50px !important;
    padding: 0px;
    margin-left: 20px;
}

#dropdownButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    margin-top: 13px;
    margin-left: 10px;
}

.arrow {
    width: 5px;
}

.advancetitle {
    padding-top: 15px;
}

#buttonforadd {
    border: 1px solid transparent;
    background-color: #fff;
    margin: 0px;
}

.addemployee {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 5px;
}

.employeeadd {
    margin: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.header {
    font-size: 30px;
}

.profile-details {
    display: flex;
}

.dropdown {
    padding: 2px 5px;
    margin: 0px 10px;
    border-radius: 15px;
}

.collapsedropdown {
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    padding: 5px 10px 0px 10px !important;
}

.fa-solid {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.addingemployee {
    margin: 0px;
    padding: 0px;
}

.icons {
    width: 50px;
    text-align: center;
    display: flex;
}

ver-icons:hover .icons {
    display: block;
}

.navbarl {
    display: flex;
    padding: 0px;
}

.compact {
    margin-left: 30px;
}

.topic {
    display: flex;
}

#action {
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 0px 10px;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    font-size: 18px;
}

label {
    margin-bottom: 6px;
}

    @media screen and (max-width:768px) {
        .top {
            width: auto;
            height: 120px;
        }
    }

    @media screen and (max-width:425px) {
        .top {
            width: auto;
            height: 160px;
        }
    }

    .dataTables_wrapper {
    padding: 20px;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 20px;
}

.dataTables_info, .dataTables_paginate {
    margin-top: 20px;
}

table.dataTable thead th, table.dataTable tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

    table.dataTable tbody td input[type="checkbox"] {
        margin: 0;
    }

.edit-btn, .delete-btn {
    cursor: pointer;
    margin-right: 5px;
}

.advancefilter {
    margin-left: 10%;
    margin-top: 2%;
}



#adminempmanagementtable.dataTable thead th, #adminempmanagementtable.dataTable thead td {
    padding: 6px 10px;
  
}

.custom-table {
    border: none;
}


.dataTables_wrapper {
    padding: 20px;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 20px;
}

.dataTables_info, .dataTables_paginate {
    margin-top: 20px;
}

table.dataTable {
    border-collapse: collapse;
    width: 100%;
}

    table.dataTable th, table.dataTable td {
        border: none;
        padding: 8px;
    }

.edit-btn, .delete-btn {
    cursor: pointer;
    margin-right: 5px;
}

.profile-img {
    display: flex;
    align-items: center;
}

    .profile-img img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

.action-menu {
   
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

    .action-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .action-menu a:hover {
            background-color: #f1f1f1;
        }

/*.dropdown:hover .dropdown-menu {
    display: block;
}
*/
/*.dropdownmenu:hover #dropdownmenu {
    display: block;
}
    */
/*.dropdown:hover .dropdown-menu {
    display: block;
}*/


#adminempmanagementtable.dataTable thead th {
    border: none;
}

#adminempmanagementtable.dataTable tfoot th {
    border: none;
}

#adminempmanagementtable tbody tr {
    border: none;
}

#adminempmanagementtable.no-footer tfoot th,
#adminempmanagementtable.no-footer tfoot td,
#adminempmanagementtable tr{
    border: none;
}

/*//Hiding jquery default search box*/
#adminempmanagementtable_filter{
    display: none;
}


#adminempmanagementtable, #adminempmanagementtable th, #adminempmanagementtable td {
    border: none;
}

table.dataTable.display tbody tr.odd {
    background-color: white !important;
}
table.dataTable.display tbody tr.even {
    background-color: white !important;
}
/* Initially hide the edit and delete icons */
.edit-btn,
.delete-btn {
    display: none;
}

/* Show the edit and delete icons when the table row is hovered over */
tr:hover .edit-btn,
tr:hover .delete-btn {
    display: inline-block;
}

.tdempname div.default-image,
.tdempname span {
    display: inline-block;
    vertical-align: middle;
}
/* Remove hover background color */
.table.dataTable.hover tbody tr:hover {
    background-color: transparent !important;
}

/* Remove active background color */
.table.dataTable > tbody > tr.active,
.table.dataTable > tbody > tr.active > th,
.table.dataTable > tbody > tr.active > td {
    background-color: transparent !important;
}

/* Remove odd background color */
.table-striped.dataTable tbody tr.odd,
.table-striped.dataTable tbody tr:nth-child(odd) {
    background-color: transparent !important;
}

.admin-empnav {
    margin-top: -22px;
    margin-left: -29px;
}
#adminempmanagementtable {
    width: 93% !important;
    margin-left: 0px;
}

#dropdownMenuContent {
    overflow-y: auto;
    height:177px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: lightblue;
    }
.highlighted {
    background-color: #f0f8ff; /* Change the background color as needed */
}
table.dataTable.display tbody tr:first-child td,
table.dataTable.display tbody tr:first-child td,
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr.odd > .sorting_1 {
    background-color:transparent;
}

.dataTables_wrapper .odd:hover {
    background-color: transparent !important;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1,
table .dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3,
table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
    background-color: transparent !important;
}