

/*<style >
.page_header {
    font-size: 25px;
}

.box_body {
    padding: 0.25rem;
    overflow-y: auto;
}

.box_topic {
    background-color: #EEF4FF;
    font-size: 16px;
}

.box_empimg, .birth_empimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_boxname h6, .emp_birthname h6 {
    font-size: 14px;
    font-weight: 600;
}

.emp_holiday h6 {
    font-size: 13px;
    font-weight: 600;
}

.emp_holiday p {
    font-size: 11px;
}

.emp_holiday {
    line-height: 0rem;
}

.emp_boxname p, .emp_birthname p {
    font-size: 12px;
}

.emp_boxname, .emp_birthname {
    line-height: 0rem;
}

.btn_approve, .btn_reject {
    border: none;
    background-color: white;
    font-size: 13px;
}

.btn_approve {
    color: #FFA77E;
}

.btn_reject {
    color: #FA6B83;
}

.sub_announce, .des_announce, .email_announce {
    border: 1px solid #E2E2E2;
}

.des_announce {
    height: 130px;
}

    .sub_announce::placeholder, .des_announce::placeholder {
        color: #8B8B8B;
        font-size: 12px;
    }

.announce_bodyhead p {
    font-size: 15px;
    margin: 0px;
}

.subject_announce label {
    font-size: 14px;
}

.announce_btn {
    width: 25%;
    background-color: #3E78CF;
    color: white;
    border: 1px solid #3E78CF;
    font-size: 14px;
    padding: 5px 10px;
}

.birth_text, .birth_btn {
    border: 1px solid transparent;
    border-top: 1px solid #E7E7E7;
    color: #68AF9A;
}

.birth_box, .anniver_body {
    height: auto;
}

.birth_text::placeholder {
    font-size: 12px;
    color: #68AF9A;
}

.anniver_empimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.anniver_card {
    border: 1px solid transparent;
}

.anniver_success {
    font-size: 14px;
    color: #4FA7F9;
}

.anniver_content h5 {
    font-size: 16px;
}

.anniver_content p {
    font-size: 12px;
}

.carousel-control-next {
    background-color: #F1F1F1;
    width: 40px;
    height: 30px;
    top: 50%;
}

.anniversary-chvron {
    color: black;
}

</style >
*/


.card {
    margin-bottom: 20px;
    }

.leave-requests {
    max-height: 412px;
    overflow-y: auto;
}
.list-group-item {
    border: none !important;
}
    .leave-requests .list-group-item {
        display: flex;
        flex-direction: column;
        padding: 5px 15px;
        border: none;
        
    }

        .leave-requests .list-group-item:last-child {
            border-bottom: none;
        }

        .leave-requests .list-group-item .leave-info {
            display: flex;
            align-items: center;
        }

        .leave-requests .list-group-item img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .leave-requests .list-group-item .leave-text {
            flex-grow: 1;
        }

            .leave-requests .list-group-item .leave-text small {
                display: block;
                color: gray;
            }

        .leave-requests .list-group-item .btn-group {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }

.holiday_location {
    color: #f8cda7 !important;
}

.compOff-request {
    text-decoration: none;
    color: black;
}

    .compOff-request:hover {
        text-decoration: none;
        color: black;
    }

.btn_approve, .btn_reject {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.inside_content {
    font-size: 12px;
}

.status-priority {
    color: #57a7d5
}

.inside_content .fa-solid {
    color: white;
    background-color: black;
    border-radius: 50%;
    border: 1px solid black;
}
.btn_approve {
    background-color: #28a745;
    color: white;
}

.btn_reject {
    background-color: #dc3545;
    color: white;
    margin-left: 10px;
}

/* .box_approvel_row {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
        }*/


.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #d8e6fb;
    padding: .25rem 0.50rem;
    border-bottom: none;
    font-weight: bold;
}

    .card-header h6 {
        font-weight: bold;
    }


    .leave-requests .list-group-item {
        display: flex;
        justify-content: space-between;
    }

.btn_approve, .btn_reject {
    border: none;
    background-color: white;
    font-size: 13px;
}

.btn_approve {
    color: #3E78CF;
}

.btn_reject {
    color: #FA6B83;
}
.list-group-flush{
    list-style:none;
}
.scrollbar
{
    overflow-y:auto;
}
.admindash_card
{
    height:300px;
}
.announcement_card .form-group label
{
    font-size:15px;
    font-weight:600;
}
.admindash_holiday
{
    line-height:1rem;
    margin-bottom:10px;
}
.smalltext {
    color: #6c757d;
    font-size: 15px;
}
.employee_img
{
    height:40px;
    width:40px;

}
.birthdayinfo {
    line-height: 1rem;
}
.leave-text
{
    line-height:1rem;
}
.calendar-body
{
    overflow-x:hidden;
}
@media (min-width:320px) and (max-width:425px) {
    .main-content{
        padding:0px;
        margin:0px;
        width:100% !important;
    }
}
@media (min-width:426px) and (max-width:767px) {
    .main-content {
        padding: 0px;
        margin: 0px;
        width: 100% !important;
    }
}