/* Style for open status */
.ithrticket-status-open {
    background: #b3ffec;
    color: #00b386;
    border: 1px solid #00b386;
}

/* Style for closed status */
.ithrticket-status-closed {
    background: #ffcccb;
    color: #ff0000;
    border: 1px solid #ff0000;
}

/* Style for resolved status */
.ticket-status-pending {
    background: #fff5cc;
    color: #ff9933;
    border: 1px solid #ff9933;
}

/* Style for re-open status */
.ticket-status-re-open {
    background: #ffffb3;
    color: #b3b300;
    border: 1px solid #b3b300;
}

.ticket-status-cancelled {
    background: #ffe0cc;
    color: #ff6600;
    border: 1px solid #E40F36;
}
