/* Style for open status */
.ithrticket-status-open {
    background: #C70000;
    color: #fff;
    border: 0px solid #C70000;
}

/* Style for closed status */
.ithrticket-status-closed {
    background: #2693F8;
    color: #fff;
    border: 0px solid #2693F8;
}

/* Style for resolved status */
.ticket-status-pending {
    background: #57257D;
    color: #fff;
    border: 0px solid #57257D;
}

/* Style for re-open status */
.ticket-status-re-open {
    background: #B85F5F;
    color: #fff;
    border: 0px solid #B85F5F;
}

.ticket-status-cancelled {
    background: #ffe0cc;
    color: #ff6600;
    border: 0px solid #E40F36;
}

.ticket-status-acknowledge {
    background: #4EA72E;
    color: #fff;
    border: 0px solid #4EA72E;
}