/*.col-3 {
    padding: 10px;
    display: table-column;
    align-items: center;
}

.col-6 {
    padding: 10px;
    margin: 0px;
}

    .col-6 input {
        width: 90%;
    }

.row {
    height: 12vh;
}

label {
    padding: 0px !important;
    margin-bottom: 0px;   
}*/

/*.text-muted {
    padding-left: 150px;
    font-size: 12px;
}

#personal-heading p {
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
}*/

/*button {
    color: white;
    font-weight: 200;
    background-color: rgb(105, 105, 231);
    border: 1px solid rgb(123, 123, 207);
    padding: 10px 20px;
}

.add {
    margin-left: 2px;
    padding: 0px 5px;
    color: white;
    background-color: #b3aaaa;
    font-size: 10px;
    border: 1px solid #b3aaaa;
}

::placeholder {
    color: #b3aaaa;
    font-size: 14px;
    padding-left: 10px;
}

.title p {
    font-size: 30px;
    padding-left: 20px;
}

.fill {
    display: flex;
}*/

/*.mytabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding-left: 30px;
}

    .mytabs input[type="radio"] {
        display: none;
    }

    .mytabs .label {
        padding: 10px 25px !important;
        background: #e2e2e2;
    }

    .mytabs .tab {
        width: 100%;
        padding: 20px;
        background: #fff;
        order: 1;
        display: none;
    }

        .mytabs .tab h2 {
            font-size: 3em;
        }

    .mytabs input[type='radio']:checked + .label + .tab {
        display: block;
    }*/

/*input {
    width: 80%;
    height: 30px;
    border: 1px solid #dbcece;
}

select {
    width: 80%;
    height: 30px;
    border: 1px solid #dbcece;
}*/

/*select.select {
        color: rgb(187, 182, 182) !important;
        font-size: 14px;
    }

.mytabs input[type="radio"]:checked + .label {
    background: #fff;
    color: black;
    border-right: 1px solid rgb(187, 182, 182);
    border-top: 1px solid rgb(187, 182, 182);
    border-left: 1px solid rgb(187, 182, 182);
    border-radius: 10px 10px 0px 0px;
}

.mytabs input[type="radio"]:not(:checked) + .label {
    border-bottom: 1px solid rgb(187, 182, 182);
    background-color: white;
    color: #b3aaaa;
}

#general-button, #bank-button, #ID-button, #statutory-button, #Education-button, #previous-button, #seperation-button {
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
}

#personal-heading {
    height: 28px;
}

.error {
    color: red;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.hide {
    display: none;
}*/

.tab-container {
    margin-left: 5px;
    margin-top: 3%;
}

.admin-add-emptab {
    border: 1px solid gray;
    
}

    .admin-add-emptab.active {
        border-bottom-color: #ffff;
    }
