.half-day-select {
    margin-top: 9px;
    width: 115px;
    font-size: 15px;
    height: 33px;
    padding: 0;
}

.apply-date-section {
    display: flex;
    justify-content: space-between;
}

    .apply-date-section .form-group {
        flex: 1;
        margin-right: 20px;
    }

        .apply-date-section .form-group:last-child {
            margin-right: 0;
        }

.apply-date-label {
    
    font-weight: bold;
}

.apply-leave-form {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 14px;
}

.vertical-line {
    border-left: 1px solid #000;
    height: 20px;
    margin: 0 10px;
}

.dayleave-type-container {
    display: flex;
    align-items: center;
    
}
#dayTypeContainer {
    overflow-y: auto;
    max-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:15px;
   
}
.dayleave-type-container .form-check {
    margin-right: 20px;
}
