body {
    /*background-color: #F2F6FF;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*.btn {
    background-color: #2693F8;
    color: white;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}*/

   /* .btn:focus, .btn:active  {
        outline: none !important;
        border: 3px solid #1E90FF;
    }
.btn:focus, .btn:active, .btn:hover {
    background-color: #2693F8;
    color: white;
}*/

.default-image-navbar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-right: 12px;
}

.navbar-name {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image : url("");
}

.sidebaractive {
    background-color: #F5F8F9;
    border-radius: 3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    font-size: 14px !important; /* Adjust font size as needed */
    color: black !important; /* Adjust text color as needed */
    background: content-box !important; /* Adjust background color as needed */
    border-radius: 5px !important; /* Adjust border radius as needed */
    padding: 4px 9px !important; /* Adjust padding as needed */
}
.paginate_button {
    padding: 4px 9px !important;
}
thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}
