#ajax-overlay {
    top: 0;
    z-index: 9999;
    width: 2%;
    height: 2%;
    display: none;
}

.cv-spinner {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 183px;
}

.spinner {
    position: relative;
    width: 50px;
    height: 50px;
}

    .spinner::before,
    .spinner::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid transparent;
    }

    .spinner::before {
        border-top-color: #2693F8;
        border-right-color: #00c6ff;
        animation: rotation 1s linear infinite;
    }

    .spinner::after {
        border-bottom-color: #FF5733;
        border-left-color: #FFC300;
        animation: rotation 1s linear infinite reverse;
    }

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

:root {
    --primary-color: #002F6B;
    --progress-text-color: var(--primary-color);
    --progress-body-margin: 0 auto 8px;
}

.progress-container {
    display: flex;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s, transform 0.5s;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

    .progress-container.show-progress {
        opacity: 1;
        transform: scale(1);
    }

.progressloader {
    max-width: 50%;
}

.progress-body {
    margin: var(--progress-body-margin);
    width: auto;
    height: 145px;
    position: relative;
}

.progress-text {
    color: var(--progress-text-color);
    visibility: visible; /* Adjusted to ensure text is visible */
    text-align: center;
    margin-top: 10px; /* Add some space between spinner and text */
}
