
@media only screen and (min-width:0px) and (max-width:480px) {

    /* signin start */
    .mobile-view .login-page .login-container {
        padding: 30px 20px;
    }
    /* signin end */

    /* emp dashboard start */

    body .emp-dashboard-horizon .dashboard-header-block .dashboard-header-left {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    body .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right {
        width: 100%;
    }

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-left {
        width: 100%;
        margin-bottom: 10px;
    }

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right {
        width: 100%;
    }

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-left .dh-date {
        text-align: center;
    }

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-left .dh-time {
        text-align: center;
    }

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right label {
        display: inline-block;
        width: 50%;
    }

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right .dh-checkin-time,
    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right .dh-checkout-time,
    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right .dh-currenttime-display {
        display: inline-block;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-basic-info {
        margin-bottom: 15px;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-block-content {
        height: 170px;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info .emp-dash-block-header .header-title {
        width: 68%;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info .emp-dash-block-header .header-viewall {
        width: 30%;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info.emp-dash-hr-announcements .emp-dash-block-header .header-viewall {
        display: none;
    }

    .emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content {
        height: 340px;
    }

    .emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content .ed-hr-announcements-left {
        width: 50%;
    }

    .emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content .ed-hr-announcements-right {
        width: 40%;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-block-2 {
        margin-top: 5px;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets {
        margin-top: 20px;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-management {
        margin-top: 20px;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info.emp-dash-attendance .emp-dash-block-header .header-title {
        width: 58%;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-blocks .ed-block-left {
        width: 100%;
        text-align: center;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-blocks .ed-block-right {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    .emp-dashboard-horizon .emp-dash-leave .emp-dash-block-content .leave-container {
        margin-top: 0px !important;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar {
        margin-top: 20px;
    }

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-header .header-dropdown {
        width: 32%;
    }

    .emp-dashboard-horizon #emp-dash-hr-announcement-popup .ed-hr-announcements-right {
        width: 43%;
    }

    /* emp dashboard end */

    /* emp selfservice start */

    .emp-selfservice-list-horizon {
        padding: 20px 25px;
        margin-top: 35px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 {
        text-align: center;
        padding: 20px 0px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 .emp-ss-details-block1-left {
        width: auto;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-center {
        display: none;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right {
        max-width: 100%;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all .block-view {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all label {
        margin-left: 0px !important;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all .form-group {
        padding: 0 10px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-detailed-all-header {
        padding: 0;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block4 .emp-change-password {
        float: left;
        margin-left: 15px;
        margin-top: 10px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block2 {
        position: relative;
        bottom: -300px;
        z-index: 99;
        background: #fff;
    }

    /*.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block2 .responsive-tabs.nav-tabs > li {
        display: block !important;
    }*/

    .emp-selfservice-list-horizon .emp-selfservice-details-all {
        margin: 60px 0 0 0;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left {
        height: 290px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block1,
    .emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block2,
    .emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block3 {
        margin: 0px 0;
    }

    /* emp selfservice end */

    /* emp attendance start */

    .emp-attendance-list-horizon {
        padding: 20px 25px;
        margin-top: 35px;
    }

    .emp-attendance-list-horizon #empAttendance {
        padding: 20px 20px;
    }

    .emp-attendance-list-horizon .attendance-nav .att-calender .apply-div {
        width: 35%;
    }

    .emp-attendance-list-horizon .att-table {
        margin-top: 20px;
    }

    /* emp attendance end */
}

@media only screen and (min-width:360px) and (max-width:740px) and (orientation: landscape) {

    /* signin start*/
    body .login-page .login-container {
        padding: 30px 20px !important;
    }

    body .login-page-horizon .copyrights-ambc {
        position: relative;
        margin-top: 30px;
        padding-bottom: 15px;
    }
    /* signin end*/


    /* emp dashboard start */

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-left {
        width: 50%;
    }

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right {
        width: 50%;
    }

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right {
        vertical-align: initial;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block2 {
        position: initial;
    }

    /* emp dashboard end */

    /* emp selfservice start */

    .emp-selfservice-list-horizon {
        padding: 20px 25px;
        margin-top: 35px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 {
        text-align: left;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 .emp-ss-details-block1-left {
        width: auto;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-center {
        display: none;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right {
        max-width: 100%;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all .block-view {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all label {
        margin-left: 0px !important;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all .form-group {
        padding: 0 10px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-detailed-all-header {
        padding: 0;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block4 .emp-change-password {
        float: left;
        margin-left: 15px;
        margin-top: 10px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block2 {
        position: relative;
        bottom: -295px;
        z-index: 99;
        background: #fff;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block2 .responsive-tabs.nav-tabs > li {
        display: block !important;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all {
        margin: 60px 0 0 0;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left {
        height: 150px;
    }

    .emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block1,
    .emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block2,
    .emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block3 {
        margin: 0px 0;
    }

    /* emp selfservice end */

    /* emp attendance start */

    .emp-attendance-list-horizon {
        padding: 20px 25px;
        margin-top: 35px;
    }

    .emp-attendance-list-horizon #empAttendance {
        padding: 20px 20px;
    }

    .emp-attendance-list-horizon .attendance-nav .att-calender .apply-div {
        width: 35%;
    }

    .emp-attendance-list-horizon .att-table {
        margin-top: 20px;
    }

    .emp-attendance-list-horizon #attendanceTable {
        table-layout: fixed;
    }

    .emp-attendance-list-horizon #attendanceTable .attendence-thead th:nth-child(1) {
        width: 120px !important;
    }

    .emp-attendance-list-horizon #attendanceTable .attendence-thead th:nth-child(2) {
        width: 230px !important;
    }

    .emp-attendance-list-horizon #attendanceTable .attendence-thead th:nth-child(3) {
        width: 100px !important;
    }

    .emp-attendance-list-horizon #attendanceTable .attendence-thead th:nth-child(4) {
        width: 100px !important;
    }

    /* emp attendance end */

}

@media only screen and (min-width:1400px) and (max-width: 2560px) {
    .emp-ticketing-horizon #empticketlistingTable tbody td:nth-child(1) {
        width: 910px !important;
    }
}
