#left-side-menu {
    display: none;
}

@media only screen and (min-width:0px) and (max-width:480px) {

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .p-sm-0 {
        padding: 0 !important;
    }

    /* header and side menu start*/
    .navbar.navbar-expand-md .logo-img {
        width: 80px;
    }

    #left-side-menu-normal {
        display: none;
    }

    #left-side-menu.show {
        display: block;
    }

    #left-side-menu .sidebar {
        z-index: 9999;
        position: fixed;
        width: 70%;
        top: 0px !important;
    }

    #left-side-menu .sidebar-header {
        margin: 0px 10px 0px 10px;
        border-bottom: 1px solid #ccc;
        color: black;
    }

    #left-side-menu .sidebar-header .bl {
        display: inline-flex;
        width: 22%;
        padding: 0px 0px 0px 0px;
    }

    #left-side-menu .sidebar-header .br {
        display: inline-block;
        width: 73%;
        padding: 0px 0px 0px 0px;
        float: inline-end;
        margin-top: 2px;
    }

    #left-side-menu .sidebar-header .bl img {
        //width: 45px;
        border-radius: 40px;
    }

    #left-side-menu .sidebar-header .br div {
        line-height: 1.5;
        font-size: 12px;
        width: 200px; /* Set your desired width */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #left-side-menu .sidebar-header a {
        color: #007bff;
    }

    #left-side-menu .sidebar-header .name {
    }

    #logout_sidebar_button {
        position: absolute;
        display: inline-block;
        bottom: 5px;
        left: 0px;
        width: 100%;
        padding: 0;
        box-shadow: 0px -6px 7px 0px #ccc;
    }

    #logout_sidebar_button li {
        text-align: center;
        display: block;
    }

    /* header and side menu end*/

    /* emp dashboard start */

    .mobile-view .leaveslider-item {
        min-width: 100%;
    }

    .mobile-view .employeedash {
        padding-right: 0;
    }

    .mobile-view .dashcard_style {
        height: auto;
    }

    .mobile-view .day-date-time {
        //width: 50%;
    }

    .mobile-view .in-out {
        //width: 50%;
    }

    .mobile-view #dashcurrentTime {
        font-size: 30px;
    }

    .mobile-view .total-hours {
        display: inline-block;
    }

    .mobile-view .emp-dashboard .main-content.container-fluid {
        width: 100% !important;
        padding: 65px 0px;
    }
    
    /* emp dashboard end */

    /* admin dashboard start */
    .mobile-view .leaveslider-item {
        min-width: 100%;
    }

    .mobile-view .res-admindash {
        padding-right: 0;
    }

    .mobile-view .dashcard_style {
        height: auto;
    }

    .mobile-view .day-date-time {
        //width: 50%;
    }

    .mobile-view .in-out {
        //width: 50%;
    }

    .mobile-view #dashcurrentTime {
        font-size: 30px;
    }

    .mobile-view .total-hours {
        display: inline-block;
    }

    .mobile-view .res-admin-dashboard .main-content.container-fluid {
        width: 100% !important;
        padding: 65px 0px;
    }

    .mobile-view .res-admindash .header-title {
        margin-left: -5px;
    }


    /* admin dashboard end */

    /* self services start*/
    .mobile-view .emp-self-service .main-content.container-fluid {
        width: 100% !important;
        padding: 55px 0;
    }

    .mobile-view .main-content.container-fluid .backgroundimg {
        overflow-x: initial;
        width: 100% !important;
        margin-left: -15px;
    }

    .mobile-view .main-content.container-fluid .empviewrow .block-view {
        width: 100% !important;
        margin-bottom: 15px;
    }
    /* self services end*/

    /* attendence start*/

    .mobile-view .emp-attendance .main-content.container-fluid {
        width: 100% !important;
        padding: 65px 0px;
    }  

    .mobile-view .attendance-nav .att-div {
        width: 100%;
        display: inline-block;
    }

    .mobile-view .attendance-nav .att-calender {
        width: 100%;
        display: inline-block;
    }

    .mobile-view .attendance-nav .apply-div button {
        margin-left: 0px !important;
    }

    .mobile-view #attendanceTable_wrapper {
        padding: 0;
    }

    .mobile-view .att-table .attendence-thead th {
        width: auto !important;
    }

    .mobile-view .att-calender .b-to {
        margin-top: 10px;
    }

    .mobile-view .att-calender .b-from span,
    .mobile-view .att-calender .b-to span {
        width: 35px;
    }

    .mobile-view .apply-div {
        margin: 10px 0px 0px 0px;
        padding: 0;
    }

    /* attendence end*/

    /* leave start*/
    .mobile-view .emp-leave .main-content.container-fluid {
        width: 100% !important;
        padding: 65px 0px;
    }

    .mobile-view .emp-leave .tracker_topic {
        margin: 0 !important;
    }

    .mobile-view .emp-leave .empleave-calendar-body {
        padding: 15px 0px;
    }

    .mobile-view .emp-leave .empleave-calendar-header {
        justify-content: flex-end;
    }

    .mobile-view .emp-leave #leaveHistoryTable_wrapper {
        padding: 0 !important;
    }

    .mobile-view .emp-leave .leavehistory_btn {
        margin-top: 20px !important;
    }

    .mobile-view .emp-leave .popup-form {
        padding: 0 !important;
    }

    .mobile-view .emp-leave .apply-date-section {
        display: block;
    }

    .mobile-view .emp-leave .apply-date-section .form-group {
        margin-right: 0;
    }

    /* leave end*/

    /* login start*/

    .mobile-view .login-page .login-container {
        max-width: 100%;
        margin-top: 40px;
        padding: 30px 0px;
    }

    .mobile-view .login-page .logo {
        width: 40%;
        margin-left: 26%;
        margin-top: 20%;
    }

    .mobile-view .login-page .signin-as {
        margin-left: 0% !important;
        text-align: center;
    }

    .mobile-view .login-page .password-label {
        width: 90%;
    }

    .mobile-view .login-page .forgot-password {
        margin-right: 0% !important;
        float: right;
        width: 100%;
        margin-left: 0px !important;
        text-align: right;
    }
    /* login end*/

    /* forgot password start*/

    .mobile-view .login-page .forgot-container {
        width: 100% !important;
        margin-top: 40px !important;
        padding: 20px 30px !important;
    }

    .mobile-view .login-page .forgot-container .login-heading {
        margin-left: 0px !important;
    }

    .mobile-view .login-page #forgotpassword {
        margin-left: 0px !important;
    }

    .mobile-view .login-page #forgotpassword button{
        width: 100% !important;
    }

    /* forgot password start*/

    /* admin employee management start */

    .mobile-view .res-admin-employee-management .main-content.container-fluid {
        width: 100% !important;
        padding: 65px 0px;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-search .search-container {
        width: 100%;
        margin-left: 0 !important;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter {
        margin: 15px 0%;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter .advanced-filtertab {
        width: 100%;
    }

    .mobile-view .res-admin-employee-management .addingemployee,
    .mobile-view .res-admin-employee-management .addingemployee select {
        width: 100%;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter-show #demo.show{
        position: fixed;
        z-index: 9;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 5px 0 #ccc;
        border-radius: 14px;
        width: 80%;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter-show .res-admin-filter-inside {
        margin: 0;
        justify-content: initial !important;
        display: block !important;
        margin-right: 0px !important;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter-show .res-admin-filter-inside div.dropdown {
        margin: 10px 0px !important;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter-show .res-admin-filter-inside select{
        width: 100% !important;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter-show .res-clear-btn {
        background: #2693F8;
        padding: 5px 20px;
        border-radius: 5px;
        color: #fff;
        text-transform: capitalize;
        margin-left: 0 !important;
        display: inline-block;
    }

    .mobile-view .res-admin-employee-management .res-admin-emp-table {
        margin-top: 25px;
        width: 95%;
    }

    .mobile-view .admin-empview .res-admin-title {
        margin: 0 0 10px 0px;
        padding: 0;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter-show #demo.show span.res-close-btn {
        display: none;
    }

    .mobile-view .res-admin-employee-management .res-admin-empman-filter-show #demo.show span.res-close-btn {
        display: block !important;
        color: red;
        font-size: 14px;
        text-align: center;
        float: right;
        border-radius: 15px;
        border: 1px solid #ccc;
        width: 25px;
        padding: 1px;
    }

    .mobile-view .res-admin-employee-management .admin-empadd-view .file-upload {
        width: 100%;
    }

    .mobile-view .res-admin-employee-management .admin-empadd-view .submit-button {
        margin-top: 20px;
        text-align: center;
        margin-right: auto;
    }

    .mobile-view .res-admin-employee-management .admin-empadd-view #myTabContent .save-and-next,
    .mobile-view .res-admin-employee-management .admin-empadd-view #myTabContent .addemp-submit-btn {
        height: auto;
        width: auto !important;
        margin-top: auto !important;
        margin-left: 15px !important;
    }

    .mobile-view .res-admin-employee-management .admin-empadd-view #myTabContent .res-save-btn {
        padding: 0;
    }

    .mobile-view .res-admin-emp-tabs {
        background-color: #EEF4FF;
        font-size: 15px;
        width: 92% !important;
        display: inline-block;
        min-width: 100%;
        overflow-x: auto;
        display: inline-block;
        min-width: 98%;
        margin-left: 5px;
    }

    .mobile-view .responsive-tabs.nav-tabs {
        position: relative;
        z-index: 10;
        height: 42px;
        overflow: visible;
        border-bottom: none;
    }

    .responsive-tabs.nav-tabs i.fa {
        position: absolute;
        top: 14px;
        right: 22px;
    }

    .responsive-tabs.nav-tabs i.fa.fa-caret-up {
        display: none;
    }

    .responsive-tabs.nav-tabs > li {
        display: none;
        float: none;
        text-align: center;
    }

    .responsive-tabs.nav-tabs > li:last-of-type > a {
        margin-right: 0;
    }

    .responsive-tabs.nav-tabs > li > a {
        margin-right: 0;
        background: #fff;
        border: 1px solid #DDDDDD;
    }

    .responsive-tabs.nav-tabs > li.active {
        display: block;
    }

    .responsive-tabs.nav-tabs > li.active a {
        border: 1px solid #DDDDDD;
        border-radius: 2px;
    }

    .responsive-tabs.nav-tabs.open i.fa.fa-caret-up {
        display: block;
    }

    .responsive-tabs.nav-tabs.open i.fa.fa-caret-down {
        display: none;
    }

    .responsive-tabs.nav-tabs.open > li {
        display: block;
    }

    .responsive-tabs.nav-tabs.open > li a {
        border-radius: 0;
    }

    .responsive-tabs.nav-tabs.open > li:first-of-type a {
        border-radius: 2px 2px 0 0;
    }

    .responsive-tabs.nav-tabs.open > li:last-of-type a {
        border-radius: 0 0 2px 2px;
    }

    .mobile-view .res-admin-employee-management .addempheadline {
        margin-left: 5px !important;
    }

    .mobile-view .res-admin-employee-management #myTabContent .tab-container {
        padding: 0 5px 0 0px;
    }

    /* admin employee management end */

    /* admin attendance start*/
    .mobile-view .res-admin-attendance .main-content.container-fluid {
        width: 100% !important;
        padding: 65px 0px;
    }

    .mobile-view .res-admin-attendance .res-admin-attendance-header {
        display: inline !important;
        width: 94%;
    }

    .mobile-view .res-admin-attendance .res-admin-attendance-header .adminatt-dropdown {
        width: 30%;
        display: inline-block !important;
    }

    .mobile-view .res-admin-attendance .res-admin-attendance-header .adminatt-dropdown select {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .mobile-view .res-admin-attendance .admin-attendancemgmt-view .days-container {
        overflow-x: scroll;
        display: inline-flex;
        width: 88%;
        margin: 10px 7%;
    }

    .mobile-view .res-admin-attendance .res-admin-attendance-header .adminatt-dropdown label{
        width: 65px;
    }

    .mobile-view .res-admin-attendance .table-responsive {
        overflow-x: auto !important;
    }

    .mobile-view #dateDropdown {
        margin-left: 22px;
    }

    .mobile-view #dateDropdown .res-date-from-to {
        justify-content: initial !important;
        width: 100%;
        display: inline-block !important;
        padding-right: 0 !important;
    }

    .mobile-view #dateDropdown .res-date-from-to .form-group.b-from,
    .mobile-view #dateDropdown .res-date-from-to .form-group.b-to {
        justify-content: initial !important;
        width: 47%;
        display: inline-flex !important;
    }

    .mobile-view #dateDropdown .res-date-from-to .form-group label {
        margin-right: 10px;
    }

    .mobile-view #dateDropdown .res-date-from-to .form-group input {
    }

    .mobile-view .dropdowns-container {
        display: inline-block;
        width: 100%;
    }

    .mobile-view .dropdowns-container .month-dropdown {
        width: 100%;
        display: inline-block;
    }

    .mobile-view .dropdowns-container .month-dropdown input {
        width: 92% !important;
    }

    .mobile-view #leaveUpdateModal .leaveupdate_checkin,
    .mobile-view #leaveUpdateModal .leaveupdate_checkout {
        width: 100%;
    }

    .mobile-view #leaveUpdateModal .res-submit-btn {
        margin: 0 15px !important;
        padding: 0;
    }

    .mobile-view #leaveUpdateModal .modal-content {
        width: 100% !important;
        margin-top: 75px;
    }

    .mobile-view .addshiftcontent {
        padding: 0px 0px 0px 20px;
    }

    .mobile-view #startTime,
    .mobile-view #endTime {
        width: 100% !important;
    }

    .mobile-view .res-start-end-time {
        display: block;
    }

    .mobile-view .res-admin-individual-attendance {
        margin-top: 0px !important;
    }

    .mobile-view .res-admin-individual-attendance .res-admin-individual-att-from-to {
        margin-left: 5% !important;
    }

    .mobile-view .res-admin-individual-attendance #emptoDate {
        margin-right: 8px !important;
        margin-bottom: 20px;
    }

    .mobile-view .res-admin-individual-attendance #empfromDate {
        margin-bottom: 10px;
    }

    .mobile-view .res-admin-individual-attendance #applyButton {
        width: auto !important;
    }

    /* admin attendance end */
}

/* Media Query for low resolution  Tablets, Ipads start */
@media only screen and (min-width:481px) and (max-width:767px){
    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .p-md-0 {
        padding: 0 !important;
    }

    /* login start*/

    .tablet-view .login-page .login-container {
        max-width: 100%;
        margin-top: 40px;
        padding: 30px 0px;
    }

    .tablet-view .login-page .logo {
        width: 40%;
        margin-left: 26%;
        margin-top: 20%;
    }

    .tablet-view .login-page .signin-as {
        margin-left: 0% !important;
        text-align: center;
    }

    .tablet-view .login-page .password-label {
        width: 90%;
    }

    .tablet-view .login-page .forgot-password {
        margin-right: 0% !important;
        float: right;
        width: 100%;
        margin-left: 0px !important;
        text-align: right;
    }
    .tablet-view .login-page .empemail-field input {
        max-width: 100%;
    }
    /* login end*/

    /* forgot password start*/

    .tablet-view .login-page .forgot-container {
        width: 100% !important;
        margin-top: 40px !important;
        padding: 20px 30px !important;
    }

    .tablet-view .login-page .forgot-container .login-heading {
        margin-left: 0px !important;
    }

    .tablet-view .login-page #forgotpassword {
        margin-left: 0px !important;
    }

    .tablet-view .login-page #forgotpassword button {
        width: 100% !important;
    }

    .tablet-view .login-page #forgotpassword .empemail-field input {
        max-width: 100%;
    }

    /* forgot password start*/

    /* emp dashboard start */
    .tablet-view .emp-dashboard .main-content {
        width: 75% !important;
    }

    .tablet-view #dashcurrentTime {
        font-size: 22px;
    }

    /* emp dashboard end */

    /* admin dashboard start */
    .tablet-view .res-admin-dashboard .main-content {
        width: 75% !important;
    }

    .tablet-view .res-admin-dashboard .dashcard_style {
        height: auto;
    }

    /* admin dashboard end */

    /* self services start*/
    .tablet-view .emp-self-service .main-content.container-fluid {
        width: 73% !important;
        padding: 55px 0;
    }

    .tablet-view .main-content.container-fluid .backgroundimg {
        width: 112% !important;
        margin-left: -15px;
    }

    .tablet-view .main-content.container-fluid .empviewrow .block-view {
        width: 100% !important;
        margin-bottom: 15px;
    }
    /* self services end*/
}
/* Media Query for low resolution  Tablets, Ipads end */

/* Media Query for Tablets Ipads portrait mode start */
@media only screen and (min-width:768px) and (max-width:1024px) {

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .p-md-0 {
        padding: 0 !important;
    }

    /* login start*/

    .tablet-view .login-page .login-container {
        max-width: 100%;
        margin-top: 40px;
        padding: 30px 0px;
    }

    .tablet-view .login-page .logo {
        width: 40%;
        margin-left: 26%;
        margin-top: 20%;
    }

    .tablet-view .login-page .signin-as {
        margin-left: 0% !important;
        text-align: center;
    }

    .tablet-view .login-page .password-label {
        width: 90%;
    }

    .tablet-view .login-page .forgot-password {
        margin-right: 0% !important;
        float: right;
        width: 100%;
        margin-left: 0px !important;
        text-align: right;
    }

    .tablet-view .login-page .empemail-field input {
        max-width: 100%;
    }
    /* login end*/

    /* forgot password start*/
    .tablet-view .login-page .forgot-container {
        width: 100% !important;
        margin-top: 40px !important;
        padding: 20px 30px !important;
    }

        .tablet-view .login-page .forgot-container .login-heading {
            margin-left: 0px !important;
        }

    .tablet-view .login-page #forgotpassword {
        margin-left: 0px !important;
    }

    .tablet-view .login-page #forgotpassword button {
        width: 100% !important;
    }

    .tablet-view .login-page #forgotpassword .empemail-field input {
        max-width: 100%;
    }

    /* forgot password start*/

    /* emp dashboard start */
    .tablet-view .emp-dashboard .main-content {
        width: 75% !important;
        margin-left: 190px;
    }

    .tablet-view #dashcurrentTime {
        font-size: 22px;
    }
    /* emp dashboard end */

    /* admin dashboard start */
    .tablet-view .res-admin-dashboard .main-content {
        width: 75% !important;
    }

    .tablet-view .res-admin-dashboard .dashcard_style {
        height: auto;
    }

    /* admin dashboard end */

    /* self services start*/
    .tablet-view .emp-self-service .main-content.container-fluid {
        width: 73% !important;
        padding: 55px 0;
    }

    .tablet-view .main-content.container-fluid .backgroundimg {
        width: 112% !important;
        margin-left: -15px;
    }

    .tablet-view .main-content.container-fluid .empviewrow .block-view {
        width: 100% !important;
        margin-bottom: 15px;
    }

    .tablet-view .self-service-header-info h4 {
        line-height: 1.5;
        //width: 200px; /* Set your desired width */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tablet-view .self-service-header-info p {
        line-height: 1.5;
        //width: 200px; /* Set your desired width */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* self services end*/

    /* attendence start*/

    .tablet-view .emp-attendance .main-content.container-fluid {
        width: 74% !important;
        padding: 64px 0px;
        margin-right: 0;
    }

    .tablet-view .attendance-nav .att-div {
        width: 100%;
        display: inline-block;
    }

    .tablet-view .attendance-nav .att-calender {
        width: 100%;
        display: inline-block;
    }

    .tablet-view .attendance-nav .apply-div button {
        margin-left: 0px !important;
    }

    .tablet-view #attendanceTable_wrapper {
        padding: 0;
    }

    .tablet-view .att-table .attendence-thead th {
        //width: auto !important;
    }

    .tablet-view .att-calender .b-to {
        margin-top: 0px;
    }

    .tablet-view .att-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .tablet-view .apply-div {
        margin: 10px 0px 0px 0px;
        padding: 0;
    }

    /* attendence end*/

    /* leave start */

    .tablet-view .emp-leave .main-content.container-fluid {
        width: 100% !important;
        padding: 65px 0px;
    }

    .tablet-view .emp-leave .tracker_topic {
        margin: 0 !important;
    }

    .tablet-view .emp-leave .empleave-calendar-body {
        padding: 15px 0px;
    }

    .tablet-view .emp-leave .empleave-calendar-header {
        justify-content: flex-end;
    }

    .tablet-view .emp-leave #leaveHistoryTable_wrapper {
        padding: 0 !important;
    }

    .tablet-view .emp-leave .leavehistory_btn {
        margin-top: 20px !important;
    }

    .tablet-view .emp-leave .popup-form {
        padding: 0 !important;
    }

    .tablet-view .emp-leave .apply-date-section {
        display: block;
    }

    .tablet-view .emp-leave .apply-date-section .form-group {
        margin-right: 0;
    }

    /* leave end*/

    /*admin emp management page start*/

    .tablet-view .res-admin-employee-management .main-content {
        width: 75% !important;
    }

    .tablet-view .admin-empview .res-admin-title {
        margin: 0 0 10px 0px;
        padding: 0;
    }

    .tablet-view .res-admin-employee-management .res-admin-empman-search .search-container {
        width: 100%;
        margin-left: 0 !important;
    }

    .tablet-view .res-admin-employee-management .res-admin-empman-add {
        margin-top: 15px;
    }

    .tablet-view .res-admin-employee-management .res-admin-filter-inside {
        display: inline-block !important;
        margin-right: 0px !important;
    }

        .tablet-view .res-admin-employee-management .res-admin-filter-inside .dropdown {
            display: inline-block;
            width: 25%;
        }

    .tablet-view .res-admin-employee-management .admin-empview {
        margin-bottom: 20px;
    }

    .tablet-view .res-admin-employee-management .res-admin-empman-filter-show {
        display: inline;
    }

    .tablet-view .res-admin-employee-management .res-admin-emp-table {
        margin-top: -15px;
    }

    .tablet-view .res-admin-employee-management .res-clear-btn {
        background: #2693F8;
        padding: 5px 20px;
        border-radius: 5px;
        color: #fff;
        text-transform: capitalize;
        margin-left: 0 !important;
        margin-top: 10px;
        display: inline-block;
    }

    .tablet-view .res-admin-employee-management .admin-empadd-view #myTabContent .save-and-next,
    .tablet-view .res-admin-employee-management .admin-empadd-view #myTabContent .addemp-submit-btn {
        height: auto;
        width: 51% !important;
        margin-top: auto !important;
        margin-left: 0px !important;
        float: left;
        margin-bottom: 30px;
    }

    .tablet-view .res-admin-employee-management .admin-empadd-view .import-user-head {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .tablet-view .res-admin-employee-management .admin-empadd-view .file-upload {
        width: 100%;
    }

    .tablet-view .res-admin-employee-management .admin-empadd-view .submit-button {
        margin-top: 20px;
        text-align: center;
        margin-right: auto;
    }

    .tablet-view .res-admin-employee-management .res-save-btn {
        max-width: 100% !important;
        flex: auto;
    }
    
    /*admin emp management page end*/

    /* admin attendance start*/
    .tablet-view .res-admin-attendance .main-content.container-fluid {
        width: 71% !important;
        padding: 65px 0px;
    }
    .tablet-view .res-admin-attendance .res-admin-attendance-header {
        display: inline !important;
        width: 94%;
    }

    .tablet-view .res-admin-attendance .res-admin-att-header-block {
        padding: 0;
    }

    .tablet-view .dropdowns-container .month-dropdown {
        width: 50%;
        display: inline-block;
    }

    .tablet-view .dropdowns-container {
        display: inline-block;
        width: 100%;
    }

        .tablet-view .dropdowns-container .month-dropdown input {
            width: 92% !important;
        }

    .tablet-view .res-admin-attendance .admin-attendancemgmt-view .days-container {
        overflow-x: scroll;
        display: inline-flex;
        width: 95%;
        margin: 10px 4%;
    }

    .tablet-view .res-admin-attendance .res-admin-attendance-header .adminatt-dropdown {
        width: 25%;
        display: inline-block !important;
    }

    .tablet-view .res-admin-attendance .res-admin-attendance-header .adminatt-dropdown select {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .tablet-view .res-admin-attendance .res-admin-attendance-header .res-add-shift-btn {
        width: 20%;
        display: inline;
    }

    .tablet-view .res-admin-attendance .dropdowns-container .day {
        padding: 0 4px;
    }

    .tablet-view .res-admin-attendance .table-responsive {
        overflow-x: auto !important;
    }

    .tablet-view #leaveUpdateModal .leaveupdate_checkin, .tablet-view #leaveUpdateModal .leaveupdate_checkout {
        width: 100%;
    }

    .tablet-view #leaveUpdateModal .res-submit-btn {
        margin: 0 15px !important;
        padding: 0;
    }

    .tablet-view .res-admin-individual-attendance {
        margin-top: 0px !important;
    }

    .tablet-view .res-admin-individual-attendance .res-admin-individual-att-from-to {
        margin-left: 5% !important;
    }
    /* admin attendance end*/
}

/* Media Query for Tablets Ipads portrait mode end */

@media (min-width: 768px) {
    .responsive-tabs.nav-tabs i.fa {
        display: none;
    }
}
