/*
.active {
    background-color: #4CAF50;
}
*/
.selfservice-table {
    border: 1px solid #ccc; /* Add border */
    border-collapse: collapse; /* Collapse the borders */
    width: 100%;
    height: 100%;
}

.td-heading td tr{
    border: none; /* Remove cell borders */
    padding: 8px; /* Add some padding */
}

.td-heading {
    font-weight: bold;
    background-color: #EEF4FF;
    height: 10%; /* Example background color */
}
.material-icons {
    vertical-align: middle;
    margin-bottom: -2px;
}
.table-row {
    margin-bottom: 14px;
    width: 113%;
}
.emp-backgroundimg {
    width: 118%;
    margin-left: -145px;
    margin-top: -20px;
    height: 88px;
}
.emp-data {
    margin-left: -107px;
    margin-top: -58px;
}
.emp-imgs {
    width: 104px;
}
.emp-imageurl{
    width: 200px;
    height: 100px;
    border-radius: 50%;
}
.default-image {
    margin-top: 14px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #69696985;
    color: #fff;
    text-align: center;
    line-height: 71px;
    /* margin-right: 13px; */
    margin-bottom: 23px;
}
    

.selfservice-table td {
    border: none;
    line-height: 0.75;
}
