/*
.active {
    background-color: #4CAF50;
}
*/
/*.selfservice-table {
    border: 1px solid #ccc;*/ /* Add border */
/*border-collapse: collapse;*/ /* Collapse the borders */
/*width: 105%;
    height: 100%;*/
/* white-space: nowrap;*/
/*}

.td-heading td tr{
    border: none;*/ /* Remove cell borders */
/*padding: 8px;*/ /* Add some padding */
/*}

.td-heading {
    font-weight: bold;
    background-color: #EEF4FF;
    height: 10%;*/ /* Example background color */
/*}
.material-icons {
    vertical-align: middle;
    margin-bottom: -2px;
}
.table-row {
    margin-bottom: 14px;
    width: 113%;
}
.emp-backgroundimg {
    width: 118%;
    margin-left: -145px;
    margin-top: -20px;
    height: 88px;
}
.emp-data {
  
    margin-top: -58px;
}
.emp-imgs {
    width: 104px;
}
.emp-imageurl{
   width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #007bff;
    margin-bottom: 20px;
    margin-top: -50px;
}
.default-image {
    margin-top: 14px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #69696985;
    color: #fff;
    text-align: center;
    line-height: 71px;*/
/* margin-right: 13px; */
/*margin-bottom: 23px;
}


.selfservice-table td {
    border: none;
    line-height: 0.75;

}

.fixedcontent {
    width: 50%;
    text-overflow: ellipsis;
    line-height: 1.25;
    white-space: nowrap;
}

.label-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }

.fixed-width-label {
    width: 120px;*/ /* Adjust as needed */
/*}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}*/


.default-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* font-weight: bold; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: -50px;
    margin-left: -18px;
    margin-bottom: 20px;
    font-size: xx-large;
}

.emp-imageurl {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 20px;
    margin-top: -50px;
    color: white;
    margin-left: -18px;
}

.material-icons {
    vertical-align: middle;
    margin-bottom: -2px;
}
