.empdash-navbar {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    margin-top: 0px;
    }

.logo-img {
    width: 125px;
    margin-top: 60px;
}

.navbar-brand {
    align-items: center;
    text-align: center;
    padding-bottom: 70px;
    margin: 0px;
}

#help-nav {
    font-size: 18px;
    width: 71%;
    border: transparent;
    color: dodgerblue;
    margin-top: 10px;
    margin-right: 10px;
}

.nav-profile {
    width: 60px;
    padding-right: 10px;
}

#navbar-profile {
    display: flex;
    align-items: center;
}

#profile-nav {
    width: 10%;
    border: transparent;
    color: dodgerblue;
    font-size: 17px;
}

.nav-name {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.sidebar ul li a {
    color: black;
    text-decoration:none;
}

.sidebar {
    background-color: #F2F6FF;
    border-right: 1px solid gainsboro;
    width: 14%;
    background-color: #F2F6FF;
    border-right: 1px solid gainsboro;
    width: 14%;
    height: 222%;
    padding: 1%;
    margin-top: 3%;
    position: fixed;
    
    line-height: 4;
}

.dashboard-content {
    margin-top: 5%;
    margin-left: 23%;
}

#empdash-menu {
   
    margin-top: 17px;
    margin-left: -30px;
}
#admindash-menu {
    margin-top: 17px;
    margin-left: -30px;
}
.sidebar li {
    display: flex;
    align-items: center;
}

    .sidebar li .material-icons {
        margin-right: 8px;
        vertical-align: middle; /* Align icon vertically in the middle */
    }

    .sidebar li .menu-text {
        flex-grow: 1;
        vertical-align: middle; /* Align text vertically in the middle */
    }
.empdash-navbar {
    height: 60px; /* Adjust this value as needed */
}