.empdash-navbar {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    margin-top: 0px;
    height: 55px;
}

.logo-img {
    width: 125px;
}

.dash-logo {
    align-items: center;
    text-align: center;
    padding-bottom: 70px;
    margin: 0px;
}

#help-nav {
    font-size: 18px;
    width: 71%;
    border: transparent;
    color: dodgerblue;
    margin-top: 10px;
    margin-right: 10px;
}

.nav-profile {
    width: 60px;
    padding-right: 10px;
}

#navbar-profile {
    display: flex;
    align-items: center;
}

#profile-nav {
    width: 10%;
    border: transparent;
    color: dodgerblue;
    font-size: 17px;
}

.nav-name {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
}

/*.sidebar {
    background-color: #F2F6FF;
    border-right: 1px solid gainsboro;
    width: 14%;
    background-color: #F2F6FF;
    border-right: 1px solid gainsboro;
    width: 14%;
    height: 222%;
    padding: 1%;
    margin-top: 3%;
    position: fixed;
    margin-left: -1%;
    line-height: 4;
}*/

.dashboard-content {
    margin-left: 23%;
}

#empdash-menu {
    margin-top: 17px;
    margin-left: -30px;
}

#admindash-menu {
    margin-left: -30px;
}

.sidebar li {
    display: flex;
    align-items: center;
}

    .sidebar li .material-icons {
        margin-right: 8px;
        vertical-align: middle;
    }

    .sidebar li .menu-text {
        flex-grow: 1;
        vertical-align: middle;
    }

.empdash-navbar {
    height: 60px;
}

/* Custom CSS for sidebar and main content */
.sidebar {
    background-color: #F2F6FF;
    color: #fff;
    height: 100%;
    line-height: 4;
}

    .sidebar a {
        color: #fff;
    }

.main-content {
    padding-top: 56px; /* Height of navbar */
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0; /* Fill the entire height */
        left: 0;
        width: 200px; /* Adjust as needed */
        z-index: 1; /* Ensure sidebar is above the main content */
        overflow-y: auto; /* Enable scrolling if content exceeds sidebar height */
    }

    .main-content {
        margin-left: 200px; /* Width of sidebar */
    }
}

/* Image bar with full width */
.backgroundimg {
    margin-left: -16px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.emp-backgroundimg {
    width: 100vw; /* Full width of the viewport */
    height: 90px;
}
