body {
    color: #212529;
}

.menu-icon {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    height: 5px;
}

.btn-primary {
    background: #2693F8 !important;
    border-color: #2693F8 !important;
}

tbody {
    font-size: 14px;
}

.chatIcon {
    color: #e0e0d1 !important;
}

.sidebar li .material-icons {
    width: 30px;
}

.mutedText {
    color: #9A9A9A;
}

#leaveHistoryTable tbody .fontSmall {
    line-height: 1.2rem;
}

#icon-change {
    margin-top: 2px;
}

#empleaveCompOffTable td {
    border: 1px solid transparent;
}

input[type=radio] {
    border: 2px solid white;
    box-shadow: 0 0 0 1px #007bff;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transition: all ease-in 0.2s;
}

    input[type=radio]:checked {
        background-color: #007bff;
    }

div.main-content {
    //padding-top: 35px;
}

#profileDropdown .profile-dropdown-info .loggedinempname {
    display: inline-block;
    color: #343a40;
}

#profileDropdown .profile-dropdown-info .loggedinempid {
    display: inline-block;
    color: #343a40;
}

/* sidebar menu start */

.sidebar .sidebar-dropdown .side-menubar-updown {
    display: inline-block;
    text-align: right;
    width: 32%;
}

.sidebar .admin-leave-main-menu .side-menubar-updown {
    width: 45%;
}

.sidebar .sidebar-dropdown {
    display: inline-block;
    width: 100%;
}

.sidebar .sidebar-dropdown .sidebar-submenu {
    display: none;
}

.sidebar .sidebar-dropdown .sidebar-submenu .menu-bar-design-red {
    width: 5px;
    background-color: red;
    display: inline-block;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.sidebar .sidebar-dropdown .sidebar-submenu .menu-bar-design-blue {
    width: 5px;
    background-color: #2693F8;
    display: inline-block;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.sidebar .sidebar-dropdown .sidebar-submenu .menu-bar-design-darkcyan {
    width: 5px;
    background-color: darkcyan;
    display: inline-block;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.sidebar .sidebar-dropdown .sidebar-submenu .menu-bar-design-chocolate {
    width: 5px;
    background-color: chocolate;
    display: inline-block;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.sidebar .sidebar-dropdown .sidebar-submenu .menu-bar-design-slategrey {
    width: 5px;
    background-color: slategrey;
    display: inline-block;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.sidebar .sidebar-submenu ul {
    padding-left: 0px;
    cursor: pointer;
}

.sidebar .sidebar-submenu li a {
    padding-left: 15px;
}

.sidebar .sidebar-dropdown.active div.sidebar-submenu {
    display: block;
}

.pink-effect {
    background-clip: text;
    filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
    box-shadow: 0 0rem 0 0 rgba(10, 75, 195, 0.50), 0 0px 1.5rem rgba(255, 29, 88, 1) inset, 0 0.75rem 0.5rem rgba(255, 29, 88, 0.4) inset, 0 0.1px 0px 0 rgba(255, 29, 88, 1) inset;
}

.black-effect {
    background-clip: text;
    filter: drop-shadow(0 2px 2px hsla(248, 188%, 54%, 1));
    box-shadow: 0 0rem 0 0 rgba(10, 75, 195, 0.50), 0 0px 1.5rem rgba(22, 23, 72, 1) inset, 0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset, 0 0.1px 0px 0 rgba(152, 70, 158, 1) inset;
}

.orange-effect {
    background-clip: text;
    filter: drop-shadow(0 2px 2px hsla(235, 77%, 68%, 1));
    box-shadow: 0 0rem 0 0 rgba( 255, 137, 40, 0.50), 0 0px 1.5rem rgba( 255, 137, 40, 1) inset, 0 0.75rem 0.5rem rgba( 255, 137, 40, 0.4) inset, 0 0.1px 0px 0 rgba( 255, 137, 40, 1) inset;
}

.yellow-effect {
    background-clip: text;
    filter: drop-shadow(0 2px 2px hsla(25, 35%, 74%, 1));
    box-shadow: 0 0rem 0 0 rgba( 255, 137, 40, 0.50), 0 0px 1.5rem rgba( 247, 195, 49, 1) inset, 0 0.75rem 0.5rem rgba(247, 195, 49, 0.4) inset, 0 0.1px 0px 0 rgba(247, 195, 49, 1) inset;
}

.blue-effect {
    background-clip: text;
    filter: drop-shadow(0 2px 2px hsla(222, 77%, 83%, 1));
    box-shadow: 0 0rem 0 0 rgba( 255, 137, 40, 0.50), 0 0px 1.5rem rgba( 0, 73, 183, 1) inset, 0 0.75rem 0.5rem rgba(0, 73, 183, 0.4) inset, 0 0.1px 0px 0 rgba(0, 73, 183, 1) inset;
}

/* sidebar menu end */

/* admin dashnoard start */
.res-admin-dashboard .dashcard_style {
    height: auto;
    width: auto;
}

.res-admin-dashboard .header-title {
    margin-left: -7px !important;
}

.admindash_card .dashhoiday_description {
}

.admindash_card .res-holidays-details-left {
    display: inline-block;
    font-size: 12px;
    width: 80%;
}

.admindash_card .res-holidays-details-right {
    display: inline-block;
    font-size: 10px;
    width: 18%;
    text-align: center;
}

    .admindash_card .res-holidays-details-right div.res-holiday-count {
        border: 1px solid #00ffcc;
        border-radius: 10px;
        width: 25px;
        text-align: center;
        font-size: 11px;
        margin: 0 auto;
        color: #00ffcc;
    }

    .admindash_card .res-holidays-details-right div.res-holiday-desc {
        padding: 2px 5px;
        color: #00ffcc;
    }

.res-holidays-details-left.compOff-request .res-admin-dash-location {
    display: inline;
}

.res-admin-dash-upcomingholidays-block li {
    margin-bottom: 10px;
}

.admin-dashboard-view .admindash_card tbody#calendarBody:before,
.emp-dashboard .employeedash tbody#calendarBody:before {
    /* This doesn't work because of border-collapse */
    line-height: 10px;
    content: "_";
    color: white;
    display: block;
}

/* admin dashnoard end */

/* admin employee management start */
.res-admin-employee-management .res-admin-filter-inside {
    //display: inline-block !important;
    margin-right: 0px !important;
}

    .res-admin-employee-management .res-admin-filter-inside .dropdown {
        display: inline-block;
        width: 21%;
    }

.res-admin-employee-management .res-clear-btn {
    background: #2693F8;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize;
    margin-left: 0 !important;
    margin-top: 10px;
    display: inline-block;
}

.res-admin-employee-management .admin-empadd-view #myTabContent .save-and-next,
.res-admin-employee-management .admin-empadd-view #myTabContent .addemp-submit-btn {
    height: auto;
    width: auto !important;
    margin-top: auto !important;
    margin-left: 0px !important;
    float: left;
    margin-bottom: 30px;
}

.admin-empmanagement-container .submit-button {
    margin-top: 20px;
    text-align: left;
    margin-right: 0;
    margin-bottom: 20px;
}

.admin-empmanagement-container .import-user-head {
    margin-top: 0;
    margin-bottom: 15px;
}

.admin-empmanagement-container {
    margin-top: 2%;
}

.dropdown-toggle {
    color: white;
}

.admin-empmanagement-view .res-admin-filter {
    margin-right: 0px !important;
}

.admin-empmanagement-view .res-admin-title {
    padding: 0;
}

#adminempmanagementtable {
    //width: inherit !important;
}

.admin-empmanagement-view .res-admin-empman-header-right {
    justify-content: end;
    display: flex;
}

.admin-empmanagement-view .res-admin-empman-filter {
    justify-content: end;
    display: inline-block;
}

.admin-empmanagement-view .res-admin-empman-add {
    display: inline-block;
}

.admin-empmanagement-view #myTabContent .container.tab-container .row {
}

    .admin-empmanagement-view #myTabContent .container.tab-container .row .col-lg-3 {
    }

.admin-empmanagement-view .res-admin-empman-filter advanced-filtertab .advance-button {
    margin-left: 16px !important;
}

.admin-empmanagement-view .admin-empadd-view {
    margin-left: 15px;
}

/* admin employee management end */

/*admin attendance start*/
.admin-attendancemgmt-view .b-from label,
.admin-attendancemgmt-view .b-to label {
    margin-right: 10px;
}

.admin-attendancemgmt-view .res-date-from-to {
    padding: 0 15px !important;
}

.admin-attendance-container .addshiftcontent {
    margin-top: -30px;
}

#leaveUpdateModal .leaveupdate_checkin, #leaveUpdateModal .leaveupdate_checkout {
    width: 100%;
}

#leaveUpdateModal .res-submit-btn {
    margin: 0 15px !important;
    padding: 0;
}

.res-admin-individual-att-from-to {
    margin-left: 0% !important;
}

    .res-admin-individual-att-from-to .form-inline {
        justify-content: right;
    }

.adminatt-dropdown label {
    margin-right: 12px !important;
}

.admin-attendancemgmt-view .dropdowns-container {
    justify-content: left;
}

    .admin-attendancemgmt-view .dropdowns-container .day {
        margin: 0 4px;
    }

.admin-attendance-container #adminaddendancetable thead th {
    //text-align: center;
}

.admin-attendance-container #adminaddendancetable .leave-btn,
.admin-attendance-container #adminaddendancetable .gray-btn {
    width: 100%;
}

.addshiftcard #departmentDropdown .multiselect-native-select .btn {
    color: #212529;
}

.addshiftcard #departmentDropdown .multiselect-native-select .multiselect-selected-text {
    float: left;
    width: 94%;
}

.addshiftcard #departmentDropdown .multiselect-native-select button b {
    float: right;
    width: 100%;
}

.addshiftcard #departmentDropdown .multiselect-native-select button .multiselect-container > li > a > label {
    padding: 3px 20px 3px 15px;
}

.admin-empmanagement-view .nav-tabs .nav-link {
    padding: 7px 13px;
}

.admin-empmanagement-view .nav-tabs.responsive-tabs {
    border-radius: 10px 10px 0px 0px;
}

.res-admin-individual-attendance-table .leave-btn,
.res-admin-individual-attendance-table .gray-btn,
.res-admin-individual-attendance-table .present-btn,
.res-admin-individual-attendance-table .yellow-btn,
.res-admin-individual-attendance-table .absent-btn {
    width: 80% !important;
}

.addshiftcard #employeeDropdown .multiselect-native-select .btn {
    color: #212529;
}

.addshiftcard #employeeDropdown .multiselect-native-select .multiselect-selected-text {
    float: left;
    width: 94%;
}

.addshiftcard #employeeDropdown .multiselect-native-select button b {
    float: right;
    width: 100%;
}

.addshiftcard #employeeDropdown .multiselect-native-select button .multiselect-container > li > a > label {
    padding: 3px 20px 3px 15px;
}

.res-admin-attendance-main #adminaddendancetable_wrapper {
    padding-right: 0;
}

.res-admin-attendance-individual #adminaddendancetable_wrapper {
    margin-right: 20px;
}

.res-admin-individual-attendance {
    margin-left: 5px;
    padding-left: 0px;
}

.res-admin-attendance-individual #adminaddendancetable {
    padding-left: 0;
    margin-left: 0 !important;
}

.addshiftcontent .addshiftcard .res-adminatt-dept-dropdown {
    width: 74%;
    margin-left: -10px;
    display: inline-block;
}

    .addshiftcontent .addshiftcard .res-adminatt-dept-dropdown #departmentDropdown {
        width: 100%;
    }

    .addshiftcontent .addshiftcard .res-adminatt-dept-dropdown #employeeDropdown {
        width: 100%;
    }

/*admin attendance end*/

/* admin leave start*/
.res-admin-leave .main-content.container-fluid {
    width: 87% !important;
    margin-left: 180px;
    margin-top: 20px;
}

.res-admin-leave #adminleaveSettingsDropdown {
    background-color: #2693F8;
    color: #fff;
}

.res-admin-leave .empleave-calendar-header {
    margin-right: 0;
}

.highlight-currentleave {
    background-color: #e6f2ff;
}

.res-admin-leave .leavemonthmonth-dropdown {
    margin-right: 10px;
}

.res-admin-leave #daysLeaveContainer.Leave-days-container {
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0px;
}

.res-admin-leave .leavemonthmonth-dropdown #myLeaveMonth {
    width: 85%;
    border-radius: 17px;
    margin-left: 0px;
    background-color: aliceblue;
}

.res-admin-leave #daysLeaveContainer.Leave-days-container .dayLeave {
    display: inline-block;
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    margin: 0 2px;
    cursor: pointer;
    font-size: 14px;
}

#adminleaveTable-mgmt .mutedText {
    color: #aaa;
}

#adminleaveTable-mgmt .chatIcon {
    top: 5px;
}

#adminleaveTable-mgmt .acceptLeaveBtn {
    border: 1px solid #00ffcc;
    color: #00ffcc;
    margin-right: 10px;
}

    #adminleaveTable-mgmt .acceptLeaveBtn:hover {
        border: 1px solid #00ffcc;
        color: #fff;
        background: #00ffcc;
    }

#adminleaveTable-mgmt .rejectLeaveBtn {
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
}

    #adminleaveTable-mgmt .rejectLeaveBtn:hover {
        border: 1px solid #ff4d4d;
        color: #fff;
        background: #ff4d4d;
    }

.adminleave-dropdown select, .adminleave-dropdown .multiselect-container {
    border: 0px solid #ced4da;
}

.adminleave-dropdown .form-control:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

.admin-leave-container #LeaveDateDropdown {
    margin-left: 56%;
}

.admin-leave-container .export-label {
    margin-right: 15px !important;
}

.res-adminleaveTable-mgmt #adminleaveTable-mgmt_wrapper {
    padding: 0;
}

#LeaveDateDropdown label {
    margin-top: 4px;
}

.res-adminleave-header-right {
    padding-right: 0px;
}

.admin-leavecalender-view .empleave-calendar-table .empleave-leave-request {
    position: relative;
    float: left;
    top: 15px;
    left: 0px;
}

    .admin-leavecalender-view .empleave-calendar-table .empleave-leave-request img {
        margin-left: -7px;
    }

    .admin-leavecalender-view .empleave-calendar-table .empleave-leave-request .more-count {
        background: #ccc;
        border-radius: 20px;
        width: 25px;
        height: 25px;
        text-align: center;
        font-size: 12px;
        margin-left: -5px;
        padding-top: 4px;
    }

.admin-leavecalender-view .container.admin-leave-tracker {
    max-width: 100%;
}

.admin-leave-container .res-adminleave-date-align {
    justify-content: left;
}

.res-admin-leave .leaveSettings-dropdown a {
    cursor: pointer;
}

#adminleaveTable-mgmt .admin-leaveapprovaloptions {
    position: absolute;
    font-size: 12px;
    top: -25px;
    //left: 55px;
}

    #adminleaveTable-mgmt .admin-leaveapprovaloptions .changestatusreject {
        padding: 4px 5px;
        background: #f5f5f0;
        color: #000;
        border: 0px solid #f5f5f0;
        font-size: 10px;
        box-shadow: 1px 4px 5px 1px #f5f5f0;
    }

    #adminleaveTable-mgmt .admin-leaveapprovaloptions .changestatusapprove {
        padding: 4px 5px;
        background: #f5f5f0;
        color: #000;
        border: 0px solid #f5f5f0;
        font-size: 10px;
        box-shadow: 1px 4px 5px 1px #f5f5f0;
    }

#adminleaveTable-mgmt .adminleave-leave-approval {
    margin-left: 10px;
    cursor: pointer;
}

#adminleaveTable-mgmt .commentSec .statusBtnFlex {
    position: relative;
    right: 0px;
}

.admin-leave-tracker .empleave-calendar-body {
    padding-left: 0;
}

.admin-leave-container .balance-section-wrapper .res-emp-apply-leave .balance-section {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    background: #e6ffff;
    width: 60%;
}

.admin-leave-container .res-emp-apply-leave .balance-section .leave-apply-info-block {
    display: inline-block;
    width: 100%;
}

    .admin-leave-container .res-emp-apply-leave .balance-section .leave-apply-info-block .res-leave-apply-left {
        display: inline-block;
        width: 90%;
    }

    .admin-leave-container .res-emp-apply-leave .balance-section .leave-apply-info-block .res-leave-apply-right {
        display: inline-block;
        width: 10%;
    }

.res-adminleaveTable-mgmt #adminleaveTable-mgmt .userLeaveDetails .fontSmall a {
    text-decoration: none !important;
}

.admin-leavecalender-view .adminside-leaveapply {
    background: #2693F8;
    color: #fff;
    cursor: pointer;
}

/* admin leave end*/

/* admin leave balance start*/
.res-admin-leave-balance {
    margin-top: -25px;
    margin-left: -1%;
    width: 103%;
}

    .res-admin-leave-balance .search-container {
        margin-left: 5% !important;
    }

    .res-admin-leave-balance .res-admin-leave-balance-export {
        margin-left: 0%;
    }

    .res-admin-leave-balance #leaveBalanceTable {
        margin: 0px;
        width: 112%;
    }

        .res-admin-leave-balance #leaveBalanceTable thead {
            background-color: transparent;
        }

            .res-admin-leave-balance #leaveBalanceTable thead th {
                color: #000;
                border-top: 0px;
                font-weight: normal;
                text-align: center;
            }

                .res-admin-leave-balance #leaveBalanceTable thead th:nth-child(1),
                .res-admin-leave-balance #leaveBalanceTable thead th:nth-child(2) {
                    //visibility: hidden;
                }

        .res-admin-leave-balance #leaveBalanceTable tbody td {
            text-align: center;
        }

            .res-admin-leave-balance #leaveBalanceTable tbody td:nth-child(1),
            .res-admin-leave-balance #leaveBalanceTable tbody td:nth-child(2) {
                text-align: left;
            }

        .res-admin-leave-balance #leaveBalanceTable thead th:nth-child(3) {
            width: 95px;
        }

        .res-admin-leave-balance #leaveBalanceTable thead th:nth-child(5) {
            width: 90px;
        }

        .res-admin-leave-balance #leaveBalanceTable thead th:nth-child(7) {
            width: 140px;
        }

        .res-admin-leave-balance #leaveBalanceTable thead th:nth-child(11) {
            width: 60px;
        }

#exportLeaveButton i {
    color: #212529;
}

.res-admin-leave-balance-update h1 {
    font-size: 20px;
}

.table.leaveblanceupdate-table {
    width: 80%;
}

    .table.leaveblanceupdate-table thead th {
        border-bottom: 0px solid #dee2e6;
        width: 20%;
        font-weight: normal;
    }

        .table.leaveblanceupdate-table thead th:nth-child(1) {
            visibility: hidden;
        }

.res-admin-leave-balance-update .res-adminleaveapply-btn {
    width: 70%;
    display: inline-block;
    text-align: right;
    padding-right: 27px;
}

.res-admin-leave-balance .res-admin-leave-balance-header-right {
    justify-content: end;
    display: inline-flex;
}

.admin-leave-container #updateleavebalanceButton {
    margin-bottom: 20px;
}

.res-admin-leave-balance-dropdown {
    margin-top: 16px;
}

.employeeinfo-balance .fontSmall a {
    color: #3E78CF;
    text-decoration: none !important;
}

.admin-leaveimport-view {
    margin-left: 10px !important;
}

/* admin leave balance end*/

/* admin leave history start */
.res-admin-leave .res-admin-filter-inside {
    margin-right: 0px !important;
}

.res-admin-leave.res-admin-filter {
    margin-right: 0px !important;
}

.res-admin-leave .res-admin-filter-inside .dropdown {
    display: inline-block;
    width: 21%;
}

.res-admin-leave-balance-export .form-group select, .res-admin-leave-balance-export .multiselect-container {
    border: none;
}

.res-admin-leave-balance-export .form-control:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

.res-admin-leave-history .res-admin-leavehistory-block-header {
    display: inline-block;
    justify-content: end;
}

.res-admin-leave-history .res-admin-leavehistory-filter {
    width: 20%;
}

    .res-admin-leave-history .res-admin-leavehistory-filter .advanced-leavehistory-filtertab {
        margin-top: 6px;
        justify-content: center;
    }

.res-admin-leave-history .res-admin-leave-balance-export {
    width: 12%;
    //margin-top: -5px;
}

.res-admin-leave-history .res-admin-leave-balance-calender {
    width: 2%;
    margin-left: -4%;
    display: inline-flex;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#adminleavehistoryfilter .res-adminadvfilter-leavehistory {
    display: inline-block !important;
}

    #adminleavehistoryfilter .res-adminadvfilter-leavehistory label,
    #adminleavehistoryfilter .res-adminadvfilter-leavehistory input {
        display: inline-block;
        font-size: 12px;
    }

    #adminleavehistoryfilter .res-adminadvfilter-leavehistory select {
        font-size: 12px;
        height: 30px !important;
    }

.res-admin-leavehistory-block-header.leavehistory-exportdropdown {
    margin-bottom: 0 !important;
}

#adminleaveHistoryTable .mutedText {
    color: #aaa;
}

.res-admin-leave-history .adminleavehistory-dropdown-toggle {
    border: 1px solid #ced4da;
    border-radius: 0;
    color: #212529;
    width: 85%;
}

    .res-admin-leave-history .adminleavehistory-dropdown-toggle:hover, .res-admin-leave-history .adminleavehistory-dropdown-toggle:focus {
        background-color: transparent;
        color: #ccc;
        border: 1px solid;
    }

.res-admin-leave-history .adminleavehistory-dropdown-menu #employeeSearchinput {
    border-radius: 5px;
    border: 1px solid #80ccff;
}

.res-admin-leave-history .adminleavehistory-dropdown-menu {
    width: 79%;
    box-shadow: 0 0 3px 2px #ccc;
}

/*.res-admin-leave-history .res-admin-total-leaves-import {
    display: none;
}*/

.res-admin-leave-history .res-admin-total-leaves-import button {
    background: #2693F8;
}

.res-admin-leave-history .res-admin-leave-balance-export button {
    background: #2693F8;
}

.res-admin-leave-history .advanceleave-history-button {
    margin-left: 16px !important;
}

#empleave-calendarBody .empleave-leave-request {
    position: relative;
    //float: initial !important;
    top: 14px;
    left: 0px;
    height: auto !important;
}

.LeaveEmpHistory-calender .res-leavehistpry-calender-search #employeeDropdown {
    border: 1px solid #ced4da;
    border-radius: 0;
    color: #212529;
    width: 85%;
}

.LeaveEmpHistory-calender .res-leavehistpry-calender-search .LeaveEmp-dropdown {
    width: 85%;
}

.LeaveEmpHistory-calender .leave-history-calender {
    justify-content: right;
    display: flex;
    cursor: pointer;
}

.dropdowns-leave-container .res-adminleave-drop {
    margin-right: 0px;
    display: inline-flex;
    justify-content: right;
}

.highlight-festival-leave i {
    margin-right: 2px;
}

.res-leavehistpry-calender-search #employeeDropdown {
    background-color: initial;
}

.res-leavehistpry-calender-search .dropdown-menu.LeaveEmp-dropdown {
    box-shadow: 0 0 3px 2px #ccc;
}

.res-admin-leave-history .res-admin-total-leaves-import {
    margin-right: 20px;
}

.admin-empadd-view .download-btn {
    color: #fff;
}

#leaveistory-file-upload-input {
    display: none;
}

#leave-file-upload-label {
    cursor: pointer;
}

.admin-leave-container .res-adminleave-header-left {
    margin-top: 15px;
}

/* admin leave history end*/

/* admin leave import start*/
.admin-leaveimport-view {
}

    .admin-leaveimport-view .download-leave-btn {
        border: 2px solid #007bff;
        background-color: #fff;
        color: #fff;
    }

    .admin-leaveimport-view .leave-file-upload {
        border: 2px dashed #007bff;
        padding: 32px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        width: 45%;
    }

    .admin-leaveimport-view #leave-file-upload-input {
        display: none;
    }

    .admin-leaveimport-view .submit-button {
        margin-top: 20px;
        text-align: left;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .admin-leaveimport-view .download-leave-btn:hover {
        color: #fff;
        background-color: #007bff;
    }

.admin-leave-container #leavehistory-file-upload-label {
    cursor: pointer;
}

/* admin leave import end*/

/* admin leave compoff start*/
.res-admin-leavecompoff-view .dropdowns-leave-compoff-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.res-admin-leavecompoff-view .adminleave-compoff-dropdown select, .res-admin-leavecompoff-view .adminleave-compoff-dropdown .multiselect-container {
    border: 0px solid #ced4da;
}

.res-admin-leavecompoff-view #LeavecompoffDateDropdown {
    margin-left: 56%;
    margin-top: 10px;
}

.res-admin-leavecompoff-view #adminleavecompoffTable_filter,
.res-admin-leavecompoff-view #adminleavecompoffTable_length {
    display: none;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .mutedText {
    color: #aaa;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .chatIcon {
    margin-right: 10px;
    display: inline-block;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .statusBtnFlex .acceptLeavecompoffBtn {
    border: 1px solid #00ffcc;
    color: #00ffcc;
    margin-right: 10px;
    border-radius: 30px;
    padding: 5px 17px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}

    .res-admin-leavecompoff-view #adminleavecompoffTable .statusBtnFlex .acceptLeavecompoffBtn:hover {
        border: 1px solid #00ffcc;
        color: #fff;
        background: #00ffcc;
    }

.res-admin-leavecompoff-view #adminleavecompoffTable .statusBtnFlex .rejectLeavecompoffBtn {
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    border-radius: 30px;
    padding: 5px 17px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}

    .res-admin-leavecompoff-view #adminleavecompoffTable .statusBtnFlex .rejectLeavecompoffBtn:hover {
        border: 1px solid #ff4d4d;
        color: #fff;
        background: #ff4d4d;
    }

.res-admin-leavecompoff-view .statusBtnFlex {
    display: flex;
    justify-content: flex-end;
}

.res-admin-leavecompoff-view .res-adminleave-compoff-header-right {
    margin-top: -10px;
}

.res-admin-leavecompoff-view #adminleavecompoffTable {
    margin-top: 15px;
}

.res-admin-leavecompoff-view .res-adminleave-drop {
    margin-right: 0px;
}

.res-admin-leavecompoff-view .res-adminleave-compoff-header-right .adminleave-compoff-dropdown {
    margin-right: 35px;
}

.res-admin-leavecompoff-view .export-compoff-label {
    margin-right: 20px !important;
}

.res-admin-leavecompoff-view .res-admincompoff-header {
    justify-content: space-around;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .commentSec p {
    display: inline-block;
}

#adminleavecompoffTable .adminleave-edit-history {
    margin-top: 7px;
    color: #aaa;
    margin-left: 10px;
    cursor: pointer;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .admin-leavehistoryoptions {
    position: absolute;
    background: #f5f5f0;
    border: 0px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    right: 50px;
}

    .res-admin-leavecompoff-view #adminleavecompoffTable .admin-leavehistoryoptions .rejectLeavecompoffBtn {
        padding: 4px 5px;
        background: #f5f5f0;
        color: #000;
        border: 0px solid #f5f5f0;
        font-size: 10px;
        box-shadow: 1px 4px 5px 1px #f5f5f0;
    }

        .res-admin-leavecompoff-view #adminleavecompoffTable .admin-leavehistoryoptions .rejectLeavecompoffBtn:hover {
            padding: 4px 5px;
            background: #f5f5f0;
            color: #000;
            border: 0px solid #f5f5f0;
            font-size: 10px;
            box-shadow: 1px 4px 5px 1px #f5f5f0;
        }

    .res-admin-leavecompoff-view #adminleavecompoffTable .admin-leavehistoryoptions .acceptLeavecompoffBtn {
        padding: 4px 5px;
        background: #f5f5f0;
        color: #000;
        border: 0px solid #f5f5f0;
        font-size: 10px;
        box-shadow: 1px 4px 5px 1px #f5f5f0;
    }

        .res-admin-leavecompoff-view #adminleavecompoffTable .admin-leavehistoryoptions .acceptLeavecompoffBtn:hover {
            padding: 4px 5px;
            background: #f5f5f0;
            color: #000;
            border: 0px solid #f5f5f0;
            font-size: 10px;
            box-shadow: 1px 4px 5px 1px #f5f5f0;
        }

/* admin leave compoff end*/

/* admin it ticket start */

.res-admin-it-ticket-listing .adminitticketlisting-dropdown-toggle {
    border: 1px solid #ced4da;
    border-radius: 0;
    color: #212529;
    width: 75%;
    padding: 0.375rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.res-admin-it-ticketlisting-searchbar .adminitticketlisting-dropdown-menu {
    width: 71%;
    box-shadow: 0 0 3px 2px #ccc;
}

.res-admin-it-ticket-listing .res-admin-it-ticketlisting-header-right .res-admin-it-ticketlisting-block-header {
    display: inline-flex;
    padding-top: 15px;
    justify-content: right;
}

.res-admin-it-ticket-listing #adminitticketlistingTable .userIcon {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

#adminitticketlistingTable .res-admin-it-ticketlisting-user-details .admin-it-ticketing-listing-details {
    margin: 5px 0;
}

#adminitticketlistingTable .admin-it-ticketing-listing-details .id-name {
    color: #2693F8;
}

#adminitticketlistingTable .it-ticket-info {
    width: 130px;
    display: inline-block;
    text-align: center;
}

#adminitticketlistingTable .admin-it-ticketing-listing-closedby {
    display: inline-block;
    background: #b3ffff;
    padding: 3px 10px;
    font-size: 12px;
    color: gray;
}

    #adminitticketlistingTable .admin-it-ticketing-listing-closedby span {
        color: #2693F8;
    }

#adminitticketlistingTable .res-it-ticketlisting-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 2px;
}

#adminitticketlistingTable .res-it-ticketlisting-color-red {
    background: red;
}

#adminitticketlistingTable .res-it-ticketlisting-color-orange {
    background: orange;
}

#adminitticketlistingTable .res-admin-it-ticketlisting-date .res-itticketlisting-priority-status {
    margin-left: 2px;
}

#adminitticketlistingTable .fa-solid.fa-clock {
    color: #ccc;
}

#adminitticketlistingTable .it-ticketing-response-time {
    display: inline-block;
    background: #ffe6e6;
    color: #ff9999;
    padding: 0 10px;
    margin-bottom: 5px;
}

#adminitticketlistingTable .it-ticket-prioritylevel {
    display: inline-block;
    width: 160px;
}

#adminitticketlistingTable .it-ticketing-empty-block {
    display: inline-block;
    visibility: hidden;
}

#adminitticketlistingTable .res-itticketlisting-status-level {
    width: 80px;
    text-align: center;
    padding: 2px 15px;
}

#adminitticketlistingTable .ticket-status-closed {
    background: #b3ffec;
    color: #00b386;
    border: 1px solid #00b386;
}

#adminitticketlistingTable .ticket-status-open {
    background: #e6f2ff;
    color: #3399ff;
    border: 1px solid #3399ff;
}

#adminitticketlistingTable .it-ticket-info i {
    margin-right: 5px;
    color: #ccc;
}

#adminitticketlistingTable .res-itticketlisting-location {
    margin-top: 5px;
}

#adminitticketlistingTable.admin-it-ticketlisting-button .collapsedropdown {
    border: 0px;
}

#adminticketlistingTable, #adminticketlistingTable th, #adminticketlistingTable td {
    border: none;
}

#adminitticketlistingTable, #adminitticketlistingTable th, #adminitticketlistingTable td {
    border: none;
}

#adminticketlistingTable tbody tr {
    border-bottom: 1px solid #ccc;
}

#adminitticketlistingTable tbody tr {
    border-bottom: 1px solid #ccc;
}

.res-admin-it-ticketlisting-user-details .it-ticket-msg-icon {
    display: inline-block;
    padding: 15px;
    border-radius: 25px;
    margin-right: 10px;
    color: #fff;
    height: 44px;
}

.admin-it-ticketlisting-button .collapsedropdown {
    border: 0px solid black;
}

#adminitticketlistingfilter .res-adminadvfilter-itticketlisting {
    display: inline-block !important;
}

#adminitticketlistingfilter .res-adminadvfilter-itticketlisting label,
#adminitticketlistingfilter .res-adminadvfilter-itticketlisting input {
    display: inline-block;
    font-size: 12px;
    margin-top: 15px;
}

#adminitticketlistingfilter .res-adminadvfilter-itticketlisting button {
    margin-top: 15px;
}

#adminitticketlistingTable .odd .it-ticket-msg-icon {
    background: #ffb3b3;
}

#adminitticketlistingTable .even .it-ticket-msg-icon {
    background: #99ccff;
}

#adminitticketlistingTable .admin-it-ticketing-listing-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 310px;
}

/* admin it ticket end */

/* admin it ticket form start */

.admin-itticketing-block .form-control {
    display: inline-block;
}

.admin-itticketing-block .div-admin-itticket-status {
    display: inline-block;
    padding-left: 0;
    max-width: 46%;
    margin-right: 15px;
}

.admin-itticketing-block .div-admin-itticket-closeddate {
    display: inline-block;
    padding-right: 0;
    max-width: 49%;
}

.admin-itticketing-block #admin-itticketing-closeddate {
    padding: 19px 10px;
    font-size: 1rem;
}

.admin-ticket-it-popup-form #admin-ticket-it-Form .admin-itticket-submit {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.admin-ticket-it-popup-form .div-admin-itticketing-subject {
    width: 110%;
}

.admin-ticket-it-popup-form .div-admin-itticketing-subject input {
    width: 90%;
    display: inline-block;
}

.admin-ticket-it-popup-form .div-admin-itticketing-subject a {
    position: relative;
    background: #d9d9d9;
    padding: 5px 6px;
    color: #000;
    border-radius: 2px;
}

.admin-ticket-it-popup-form .div-admin-itticket-raisedon {
    width: 46%;
    display: inline-block;
    margin-right: 20px;
}

.admin-ticket-it-popup-form .div-admin-itticket-priority {
    display: inline-block;
    width: 48%;
}

/* admin it ticket form end */

/* admin it ticket comment popup start */

#adminItTicketCommentsModal .modal-header {
    border-bottom: 0px;
    padding: 0 5px;
}

.admin-it-ticketing-commentbox-popup-list {
    height: 250px;
    overflow-y: scroll;
    margin: 15px 10px;
}

.admin-it-ticketing-commentbox-list {
    display: flex;
    font-size: 13px;
}

.admin-it-ticketing-commentbox-list .admin-it-ticketing-commentbox-left {
    padding: 0;
    margin-right: 20px;
}

.admin-it-ticketing-commentbox-list .admin-it-ticketing-commentbox-left img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.admin-it-ticketing-commentbox-list .admin-it-ticketing-commentbox-left .vl {
    border-left: 2px solid #ccc;
    height: 60px;
    margin-left: 20px;
}

.admin-it-ticketing-commentbox-list:last-child .admin-it-ticketing-commentbox-left .vl {
    display: none;
}

.admin-it-ticketing-commentbox-list .admin-it-ticketing-commentbox-mid {
    padding: 0;
    margin-right: 25px;
}

.admin-it-ticketing-commentbox-list .admin-it-ticketing-commentbox-mid .admin-it-ticketing-commentbox-status {
    color: #2693F8;
    margin-bottom: 10px;
}

.admin-it-ticketing-commentbox-list .admin-it-ticketing-commentbox-mid .admin-it-ticketing-commentbox-desc {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.admin-it-ticketing-commentbox-list .admin-it-ticketing-commentbox-right {
    padding: 0;
}

/* admin it ticket comment popup end */

/* admin hr ticket start */

.res-admin-hr-ticket-listing .adminhrticketlisting-dropdown-toggle {
    border: 1px solid #ced4da;
    border-radius: 0;
    color: #212529;
    width: 75%;
    padding: 0.375rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.res-admin-hr-ticketlisting-searchbar .adminhrticketlisting-dropdown-menu {
    width: 71%;
    box-shadow: 0 0 3px 2px #ccc;
}

.res-admin-hr-ticket-listing .res-admin-hr-ticketlisting-header-right .res-admin-hr-ticketlisting-block-header {
    display: inline-flex;
    padding-top: 15px;
    justify-content: right;
}

.res-admin-hr-ticket-listing #adminhrticketlistingTable .userIcon {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

#adminhrticketlistingTable .res-admin-hr-ticketlisting-user-details .admin-hr-ticketing-listing-details {
    margin: 5px 0;
}

#adminhrticketlistingTable .admin-hr-ticketing-listing-details .id-name {
    color: #2693F8;
}

#adminhrticketlistingTable .hr-ticket-info {
    width: 130px;
    display: inline-block;
    text-align: center;
}

#adminhrticketlistingTable .admin-hr-ticketing-listing-closedby {
    display: inline-block;
    background: #b3ffff;
    padding: 3px 10px;
    font-size: 12px;
    color: gray;
}

    #adminhrticketlistingTable .admin-hr-ticketing-listing-closedby span {
        color: #2693F8;
    }

#adminhrticketlistingTable .res-hr-ticketlisting-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 2px;
}

#adminhrticketlistingTable .res-hr-ticketlisting-color-red {
    background: red;
}

#adminhrticketlistingTable .res-hr-ticketlisting-color-orange {
    background: orange;
}

#adminhrticketlistingTable .res-admin-hr-ticketlisting-date .res-ticketlisting-priority-status {
    margin-left: 2px;
}

#adminhrticketlistingTable .fa-solid.fa-clock {
    color: #ccc;
}

#adminhrticketlistingTable .hr-ticketing-response-time {
    display: inline-block;
    background: #ffe6e6;
    color: #ff9999;
    padding: 0 10px;
    margin-bottom: 5px;
}

#adminhrticketlistingTable .hr-ticket-prioritylevel {
    display: inline-block;
    width: 160px;
}

#adminhrticketlistingTable .hr-ticketing-empty-block {
    display: inline-block;
    visibility: hidden;
}

#adminhrticketlistingTable .res-ticketlisting-status-level {
    width: 80px;
    text-align: center;
    padding: 2px 15px;
}

#adminhrticketlistingTable .ticket-status-closed {
    background: #b3ffec;
    color: #00b386;
    border: 1px solid #00b386;
}

#adminhrticketlistingTable .ticket-status-open {
    background: #e6f2ff;
    color: #3399ff;
    border: 1px solid #3399ff;
}

#adminhrticketlistingTable .hr-ticket-info i {
    margin-right: 5px;
    color: #ccc;
}

#adminhrticketlistingTable .res-ticketlisting-location {
    margin-top: 5px;
}

#adminhrticketlistingTable.admin-hr-ticketlisting-button .collapsedropdown {
    border: 0px;
}

#adminticketlistingTable, #adminticketlistingTable th, #adminticketlistingTable td {
    border: none;
}

#adminhrticketlistingTable, #adminhrticketlistingTable th, #adminhrticketlistingTable td {
    border: none;
}

#adminticketlistingTable tbody tr {
    border-bottom: 1px solid #ccc;
}

#adminhrticketlistingTable tbody tr {
    border-bottom: 1px solid #ccc;
}

.res-admin-hr-ticketlisting-user-details .hr-ticket-msg-icon {
    display: inline-block;
    padding: 15px;
    border-radius: 25px;
    margin-right: 10px;
    color: #fff;
    height: 44px;
}

.admin-hr-ticketlisting-button .collapsedropdown {
    border: 0px solid black;
}

#adminhrticketlistingfilter .res-adminadvfilter-hrticketlisting {
    display: inline-block !important;
}

#adminhrticketlistingfilter .res-adminadvfilter-hrticketlisting label,
#adminhrticketlistingfilter .res-adminadvfilter-hrticketlisting input {
    display: inline-block;
    font-size: 12px;
    margin-top: 15px;
}

#adminhrticketlistingfilter .res-adminadvfilter-hrticketlisting button {
    margin-top: 15px;
}

#adminhrticketlistingTable .odd .hr-ticket-msg-icon{
    background: #ffb3b3;
}

#adminhrticketlistingTable .even .hr-ticket-msg-icon {
    background: #99ccff;
}

#adminhrticketlistingTable .admin-hr-ticketing-listing-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 310px;
}

/* admin hr ticket end */

/* admin hr ticket form start */

.admin-hrticketing-block .form-control {
    display: inline-block;
}

.admin-hrticketing-block .div-admin-hrticketing-status {
    display: inline-block;
    padding-left: 0;
    max-width: 46%;
    margin-right: 15px;
}

.admin-hrticketing-block .div-admin-hrticketing-closeddate {
    display: inline-block;
    padding-right: 0;
    max-width: 49%;
}

.admin-hrticketing-block #hrticketing-closeddate {
    padding: 19px 10px;
    font-size: 1rem;
}

.admin-ticket-hr-popup-form #admin-ticket-hr-Form .admin-hrticketing-submit {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.admin-ticket-hr-popup-form .div-hrticketing-subject {
    width: 110%;
}

.admin-ticket-hr-popup-form .div-hrticketing-subject input {
    width: 90%;
    display: inline-block;
}

.admin-ticket-hr-popup-form .div-hrticketing-subject a {
    position: relative;
    background: #d9d9d9;
    padding: 5px 6px;
    color: #000;
    border-radius: 2px;
}

.admin-ticket-hr-popup-form .div-hrticketing-raisedon {
    width: 46%;
    display: inline-block;
    margin-right: 20px;
}

.admin-ticket-hr-popup-form .div-hrticketing-priority {
    display: inline-block;
    width: 48%;
}

/* admin hr ticket form end */

/* admin it ticket comment popup start */

#adminHrTicketCommentsModal .modal-header {
    border-bottom: 0px;
    padding: 0 5px;
}

.admin-hr-ticketing-commentbox-popup-list {
    height: 250px;
    overflow-y: scroll;
    margin: 15px 10px;
}

.admin-hr-ticketing-commentbox-list {
    display: flex;
    font-size: 13px;
}

.admin-hr-ticketing-commentbox-list .admin-hr-ticketing-commentbox-left {
    padding: 0;
    margin-right: 20px;
}

.admin-hr-ticketing-commentbox-list .admin-hr-ticketing-commentbox-left img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.admin-hr-ticketing-commentbox-list .admin-hr-ticketing-commentbox-left .vl {
    border-left: 2px solid #ccc;
    height: 60px;
    margin-left: 20px;
}

.admin-hr-ticketing-commentbox-list:last-child .admin-hr-ticketing-commentbox-left .vl {
    display: none;
}

.admin-hr-ticketing-commentbox-list .admin-hr-ticketing-commentbox-mid {
    padding: 0;
    margin-right: 25px;
}

.admin-hr-ticketing-commentbox-list .admin-hr-ticketing-commentbox-mid .admin-hr-ticketing-commentbox-status {
    color: #2693F8;
    margin-bottom: 10px;
}

.admin-hr-ticketing-commentbox-list .admin-hr-ticketing-commentbox-mid .admin-hr-ticketing-commentbox-desc {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.admin-hr-ticketing-commentbox-list .admin-hr-ticketing-commentbox-right {
    padding: 0;
}

/* admin hr ticket comment popup end */

/* employee dashboard start*/

.emp-dashboard .main-content.container-fluid {
    padding: 75px 0px;
}

.Emp-CompOffRequest {
    text-decoration: none;
    color: black;
}

    .Emp-CompOffRequest:hover {
        text-decoration: none;
        color: black;
    }

.dashholiday_body .card-body.scrollbar {
    padding: 10px 10px;
}

.employeedash {
    margin-left: 20px;
    width: 99%;
}

/* employee dashboard end*/

/* employee attendance start */

#attendanceTable_wrapper {
    padding: 0;
}

.attendance-nav .att-calender {
    width: 50%;
    display: inline-block;
    margin-top: -7px;
    margin-right: 0;
}

    .attendance-nav .att-calender .from-to-calen {
        //width: 74%;
        display: inline-flex;
    }

    .attendance-nav .att-calender .apply-div {
        width: 20%;
        padding: 0;
        display: inline-block;
    }

/*#attendanceTable .empatt-body .attendance-bar.res-emp-attendance-absent-btn {
    border: 1px solid #00B4F2;
}

#attendanceTable .empatt-body .attendance-bar.res-emp-attendance-present-btn {
    border: 1px solid #0FCD92;
}

#attendanceTable .empatt-body .attendance-bar.res-emp-attendance-leave-btn {
    border: 1px solid #F8284A;
}*/

#attendanceTable .empatt-body .attendance-bar.res-emp-attendance-gray-btn {
    border: 1px solid lightgray;
}

/* employee attendance end */

/* emp leave start */

.leave-dashboard-data {
    margin-top: 5px !important;
    margin-left: 10px !important;
}

.empleave-container .container-fluid {
    padding: 0;
}

#leaveCarousel .carousel-item.carousel-leave-item .col-md-2 {
    padding: 0;
}

.empleave-container .tracker_topic {
    margin: 15px 0px 0px 0px !important;
}

.empleave-container .empleave-calendar-body {
    padding: 20px 0;
}

#leaveHistoryTable_wrapper {
    padding: 0 !important;
}

#leaveHistoryTable {
    margin: 0 !important;
}

.leavehistory_btn i {
    color: #007bff;
}

.empleave-calendar-body .highlight-festival-leave div {
    font-size: 12px;
    text-align: left;
    color: orangered;
}

.empleave-calendar-body .highlight-festival-leave {
    color: #212529;
}

.empleave-calendar-body thead th {
    padding: 5px 0;
    height: 26px;
    font-size: 14px;
}

.empleave-calendar-body .empleave-calendar-table td {
    border: 1px solid #ccc;
    text-align: right;
}

.leave-dashboard-data .popup-form {
    margin-top: 20px;
}

.leave-dashboard-data #dayTypeContainer {
    border: 0px solid #ccc;
    padding: 0;
}

.apply-leave-form .form-control:disabled, .apply-leave-form .form-control[readonly] {
    background-color: transparent;
    color: #ccc;
}

input[type=checkbox], input[type=radio] {
    accent-color: #007bff;
}

.leave-dashboard-data .apply-leave-form {
    margin-bottom: 5px;
}

.leave-dashboard-data #dayTypeLabel {
    margin-bottom: 0;
}

.leave-dashboard-data .vertical-line {
    border-left: 1px solid #ccc;
}

#leaveForm #dayTypeContainer {
    border: 0px solid #ccc;
    padding: 0;
}

.empleave-container .empleave-calendar-body .empleave-leave-request {
    height: auto !important;
    text-align: center;
    background: none;
}

    .empleave-container .empleave-calendar-body .empleave-leave-request div {
        height: auto !important;
        border-radius: 3px;
    }

#leaveHistoryTable .emp-leaveoptions {
    position: absolute;
    top: auto;
    cursor: pointer;
    padding: 5px 5px;
    width: 70px;
}

.leave-history #leaveHistoryTable .chatIcon {
    margin-right: 10px;
    display: inline-block;
}

.leave-history #leaveHistoryTable .commentSec p {
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    min-height: 40px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leave-history #empleaveCompOffTable .chatIcon {
    margin-right: 10px;
    display: inline-block;
}

.leave-history #empleaveCompOffTable .commentSec p {
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    min-height: 40px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#empleaveCompOffTable .compoff-actions i {
    cursor: pointer;
}

#empleaveCompOffTable .emp-compoffs {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 2px;
}

    #empleaveCompOffTable .emp-compoffs a.dropdown-item {
        padding: 4px 5px;
        font-size: 12px;
    }

.empleavecompoff-year #empleaveCompOffTable_wrapper {
    padding: 0;
}

.emp-leave .leave-dashboard-data .balance-section-wrapper .res-emp-apply-leave .balance-section {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    background: #e6ffff;
    width: 60%;
}

.emp-leave .leave-dashboard-data .res-emp-apply-leave .balance-section .leave-apply-info-block {
    display: inline-block;
    width: 100%;
}

    .emp-leave .leave-dashboard-data .res-emp-apply-leave .balance-section .leave-apply-info-block .res-leave-apply-left {
        display: inline-block;
        width: 90%;
    }

    .emp-leave .leave-dashboard-data .res-emp-apply-leave .balance-section .leave-apply-info-block .res-leave-apply-right {
        display: inline-block;
        width: 10%;
    }

.leave-dashboard-data .res-emp-leave-title {
    margin-left: 0px;
}

.empleave-container .res-emp-carousel {
    margin-left: 0;
}

.emp-leave-apply-form {
    padding-left: 0px;
}

/* emp leave end*/

/* emp ticket history start */

#empticketlistingTable .emp-ticket-edit-history {
    border: 2px solid lightgray;
    font-size: smaller;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 1rem;
    color: gray;
    cursor: pointer;
    margin-top: 23px;
}

#empticketlistingTable .emp-tickethistoryoptions {
    position: absolute;
    top: auto;
    cursor: pointer;
    padding: 5px 5px;
    width: 70px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    right: 0;
    margin-top: 0px;
}

#empticketlistingTable .emp-tickethistoryoptions a {
    display: block;
    padding: 2px 4px;
    color: #333;
    text-decoration: none;
}

.res-emp-tickethistory-header .res-emp-tickethistory-right {
    display: flex;
    justify-content: right;
}

#empticketlistingTable, #empticketlistingTable th, #empticketlistingTable td {
    border: none;
}

#empticketlistingTable tbody tr {
    border-bottom: 1px solid #ccc;
}

#empticketlistingTable .odd .emp-ticket-msg-icon {
    background: #ffb3b3;
}

.res-emp-ticketlisting-user-details .emp-ticket-msg-icon {
    display: inline-block;
    padding: 15px;
    border-radius: 25px;
    margin-right: 10px;
    color: #fff;
}

#empticketlistingTable .res-emp-ticketlisting-user-details .emp-ticketing-listing-details {
    margin: 5px 0;
}

#empticketlistingTable .emp-ticket-info {
    width: 130px;
    display: inline-block;
    margin-left: 15px;
}

#empticketlistingTable .emp-ticket-info i {
    margin-right: 5px;
    color: #ccc;
}

#empticketlistingTable .emp-ticketing-listing-details .id-name {
    color: #2693F8;
}

#empticketlistingTable .emp-ticketing-response-time {
    display: inline-block;
    background: #ffe6e6;
    color: #ff9999;
    padding: 0 10px;
    margin-bottom: 5px;
}

#empticketlistingTable .emp-ticketing-empty-block {
    display: inline-block;
    visibility: hidden;
}

#empticketlistingTable .res-empticketlisting-location {
    margin-top: 5px;
}

#empticketlistingTable .emp-ticket-prioritylevel {
    display: inline-block;
    width: 100px;
}

#empticketlistingTable .res-emp-ticketlisting-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 2px;
}

#empticketlistingTable .fa-solid.fa-clock {
    color: #ccc;
}

#empticketlistingTable .res-emp-ticketlisting-date .res-empticketlisting-priority-status {
    margin-left: 2px;
}

.res-emp-ticketlisting-color-red {
    background: red;
}

 .res-emp-ticketlisting-color-orange {
    background: orange;
}
 .res-emp-ticketlisting-color-green {
    background: #50BEEA;
}

#empticketlistingTable .res-empticketlisting-status-level {
    width: 80px;
    text-align: center;
    padding: 2px 15px;
}

#empticketlistingTable .ticket-status-open {
    background: #e6f2ff;
    color: #3399ff;
    border: 1px solid #3399ff;
}

#empticketlistingTable .even .emp-ticket-msg-icon {
    background: #99ccff;
}

#empticketlistingTable .ticket-status-closed {
    background: #b3ffec;
    color: #00b386;
    border: 1px solid #00b386;
}

#empticketlistingTable .emp-ticketing-listing-closedby {
    display: inline-block;
    background: #b3ffff;
    padding: 3px 10px;
    font-size: 12px;
    color: gray;
    margin-top: 23px;
}

#empticketlistingTable .emp-ticketing-listing-closedby span {
    color: #2693F8;
}

#empticketlistingTable .emp-ticketing-listing-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 285px;
}

/* emp ticket history end */

/* emp ticket raise start */

.emp-ticket-raise-popup-form #emp-ticket-raise-Form .emp-raiseticket-submit {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.emp-ticket-raise-popup-form #emp-ticket-raise-Form .emp-raiseticket-attach-upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.emp-ticket-raise-popup-form #emp-ticket-raise-Form .emp-raiseticket-attach-label {
    border: 1px solid #b3b3b3;
    color: #595959;
    background-color: #ccc;
    padding: 5px 35px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}

.emp-ticket-raise-popup-form #emp-ticket-raise-Form .emp-raiseticket-attach-upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 31%;
    height: 30px;
    cursor: pointer;
}

.emp-ticket-raise-popup-form #emp-ticket-raise-Form .emp-raiseticket-file-name {
    margin-left: 10px;
    font-size: 12px;
}

.emp-ticket-raise-popup-form #emp-ticket-raise-Form .emp-raiseticket-attach-file-upload-size {
    font-size: 10px;
}

/* emp ticket raise end */

/* emp ticket comment popup start */

.emp-ticketing-commentbox-popup-list {
    height: 250px;
    overflow-y: scroll;
}

.emp-ticketing-commentbox-list {
    display: flex;
    font-size: 13px;
}

    .emp-ticketing-commentbox-list .emp-ticketing-commentbox-left {
        padding: 0;
        margin-right: 20px;
    }

    .emp-ticketing-commentbox-list .emp-ticketing-commentbox-left img {
        width: 42px;
        height: 42px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .emp-ticketing-commentbox-list .emp-ticketing-commentbox-left .vl {
        border-left: 2px solid #ccc;
        height: 60px;
        margin-left: 20px;
    }

    .emp-ticketing-commentbox-list:last-child .emp-ticketing-commentbox-left .vl {
        display: none;
    }

    .emp-ticketing-commentbox-list .emp-ticketing-commentbox-mid {
        padding: 0;
        margin-right: 25px;
    }

    .emp-ticketing-commentbox-list .emp-ticketing-commentbox-mid .emp-ticketing-commentbox-status {
        color: #2693F8;
        margin-bottom: 10px;
    }

    .emp-ticketing-commentbox-list .emp-ticketing-commentbox-mid .emp-ticketing-commentbox-desc {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .emp-ticketing-commentbox-list .emp-ticketing-commentbox-right {
        padding: 0;
    }

    .emp-ticketing-commentbox-popup .emp-tickethistory-comment-submit {
        display: inline-block;
        width: 100%;
        text-align: right;
    }

    .emp-ticketing-commentbox-popup .emp-tickethistory-comment-submit .btn-apply-emp-tickethistory-comment-reopen {
        background: red;
        color: #fff;
        margin-right: 10px;
    }

/* emp ticket comment popup end */
