/* signin start */

.login-page-horizon {
    height: 100vh;
}

.login-page-horizon .login-container {
    padding: 30px 35px;
}

.login-page-horizon .logo {
    width: 11%;
    margin-left: 28%;
    margin-top: 8%;
}

.login-page-horizon .copyrights-ambc {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 82%;
    font-size: 12px;
}

.login-page-horizon .logininput {
    width: 100% !important;
    max-width: 100% !important;
}

.login-page-horizon .toggle-password {
    right: 20px;
}

.login-page-horizon #loginForm .password-label .align-items-center {
    justify-content: space-between;
}

    .login-page-horizon .login-container {
        border-radius: 5px;
    }

/* signin end */

/* forgot password start */

#ForgotEmailID {
    max-width: 100%;
}

/* forgot password end */

/* header start */

.horizon-design {
    padding: 0 3%;
    background: #fff !important;
}

.horizon-design .logo-img {
    width: 100px;
}

.horizon-design #navbarNav .nav-center-block li {
    margin: 0 3%;
}

.horizon-design #navbarNav .nav-center-block li a{
    color: #4B5675;
}

.horizon-design #navbarNav .nav-center-block li.active a{
    color: #000;
}

.horizon-design #navbarNav .header-notification .nav-notification {
    padding: 7px 10px;
    background: #D6E2F3;
    border-radius: 3px;
}

.horizon-design #navbarNav .header-notification .nav-notification img {
    width: 14px;
    height: 14px;
    vertical-align: initial;
}

.horizon-design #navbarNav .header-notification .nav-notification .notification-count {
    position: absolute;
    font-size: 9px;
    background: #267EC4;
    color: #fff;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    top: 7px;
}

/* header end */


/* footer start */

.emp-copyrights-ambc-footer {
    text-align: center;
    font-size: 14px;
    background: #267EC4;
    display: block;
    padding: 10px 0px;
    color: #fff;
}

/* footer end */

/* header profile dropdown start */

.horizon-design .profile-dropdown {
    text-align: left;
    width: 240px !important;
}

.horizon-design .profile-dropdown .header-profile-email {
    color: #828282 !important;
    margin-top: -3px;
}

.horizon-design .profile-dropdown .header-profile-designation {
    display: none;
}

.horizon-design .profile-dropdown .view-profile-btn {
    width: auto !important;
    background-color: transparent !important;
    font-size: 12px;
    border: 0px solid #7E7E7E !important;
    text-align: left;
    padding: 0;
    margin-left: 0 !important;
}

.horizon-design .profile-dropdown .sign-out {
    color: #0D0E12 !important;
    display: inline-block !important;
    margin-left: 0 !important;
    border: 1px solid #A7A7A7;
    text-align: center;
    width: 100%;
    padding: 2px 0px;
}

.horizon-design .profile-dropdown .sign-out i {
    display: none;
}

/* header profile dropdown end */

/* notification start */

#NotificationPopup #notification-header-title {
    font-size: 18px;
}

#NotificationPopup .modal-header button i {
    font-size: 14px;
}

#NotificationPopup .modal-body {
}

#NotificationPopup .modal-body .notification-list-blocks {
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-left {
    width: 12%;
    display: inline-block;
    border-radius: 44px;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    float: left;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-left.light-blue {
    background: #C5E6F6;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-left.light-gray {
    background: #E4E4E4;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-left.light-green {
    background: #C2F3C2;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-left.light-red {
    background: #C2F3C2;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-left img{
    width: 21px;
    height: 21px;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-right {
    display: inline-block;
    width: 70%;
    padding: 0px 10px;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-right .notification-info-title {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 230px;
}

#NotificationPopup .modal-body .notification-list-blocks .notification-block .notification-block-right .notification-info-date {
    font-size: 12px;
    color: gray;
}

/* notification end */

/* emp dashboard start */

.emp-dashboard-horizon {
    padding: 0 0 !important;
    background: #efefef;
}

.emp-dashboard-horizon #left-side-menu-normal {
    display: none;
}

.emp-dashboard-horizon .main-content {
    width: 100% !important;
    margin-left: 0 !important;
    padding: 32px 0px !important;
}

.emp-dashboard-horizon .dashboard-header-block {
    display: inline-block;
    width: 100%;
    background: #267EC4;
    padding: 30px 45px;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-left {
    color: #fff;
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 35px;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-left .dh-user-name {
    font-size: 25px;
    font-weight: bold;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-left .dh-welcome {
    font-size: 20px;
    margin-top: -5px;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right {
    display: inline-block;
    width: 25%;
    background: #fff;
    padding: 16px 25px 16px 15px;
    border-radius: 0 18px 0px 0px;
    border-left: 8px solid #6DB8FF;
    float: right;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-left {
    display: inline-block;
    width: 57%;
    margin-right: 10px;
    margin-top: 18px;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-left .dh-date {
    font-weight: bold;
    font-size: 14px;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-left .dh-attendance {
    background: linear-gradient(90deg, #6ABDFA 0%, #5AADF8 50%, #4296F5 100%);
    color: #fff;
    padding: 5px 7px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
    width: 75%;
    cursor: pointer;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-left .dh-time {
    font-size: 24px;
    font-weight: bold;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right {
    display: inline-block;
    width: 33%;
    margin-left: 10px;
    font-size: 12px;
    vertical-align: top;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right .dh-checkin {
    margin-bottom: 10px;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right .dh-checkout {
    margin-bottom: 10px;
}

.emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right label {
    margin-bottom: 0px;
}

    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right .dh-checkin-time,
    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right .dh-checkout-time,
    .emp-dashboard-horizon .dashboard-header-block .dashboard-header-right .dh-right .dh-currenttime-display {
        color: #1C88D6;
    }

.emp-dashboard-horizon .dashboard-body-block {
    padding: 30px 30px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block {
}

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block .ed-blocks {
        border: 0.3px solid #ccc;
        padding: 22px 15px;
        margin-bottom: 5px;
        background: #fff;
    }

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block .ed-block-left {
    width: 13%;
    display: inline-block;        
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    float: left;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block .ed-block-right {
    display: inline-block;
    width: 70%;
    padding: 0px 10px;
    cursor: pointer;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block .ed-block-right .ed-block-1 {
    font-weight: bold;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block .ed-block-right .ed-block-2 {
    color: #8B8B8B;
    font-size: 12px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block .ed-birthday .ed-block-left {
    background: #FFD1EB;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block .ed-work-anniversary .ed-block-left {
    background: #ECB7804D;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-left-block .ed-new-joiners .ed-block-left {
    background: #FC785E4D;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-1 .emp-dash-basic-info {
    float: left;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info .emp-dash-block-header {
    border: 0.3px solid #b5dcf5;
    background: #DDEDFA;
    padding: 7px 15px;
}

    .emp-dashboard-horizon .dashboard-body-block .emp-dash-block-content {
        border: 1px solid #ccc;
        border-top: 0px solid #ccc;
        padding: 15px 0;
        height: 240px;
        background: #fff;
    }

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management {
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-blocks {
    border: 0.3px solid #ccc;
    padding: 30px 20px;
    margin-bottom: 5px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-blocks .ed-block-left {
    display: inline-block;
    width: 16%;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-blocks .ed-block-left img {
    width: 35px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-blocks .ed-block-right {
    display: inline-block;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-blocks .ed-block-right .ed-block-1 {
    color: #fff;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-learning-management {
    background: #6DB8FF;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-policies {
    background: #6DA0BF;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-management .ed-job-referal {
    background: #FF738B;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-2 {
    margin-top: 20px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info {
    float: left;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info .emp-dash-block-header .header-title {
    width: 73%;
    display: inline-block;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info .emp-dash-block-header .header-viewall {
    width: 25%;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    cursor: pointer;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-attendance #emp-dash-attedence-chart {
    border: 1px solid #ccc;
    color: #524f4f;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-upcoming-holidays .emp-dash-block-content {
    width: 100%;
    padding: 7px 15px;
    height: 260px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-upcoming-holidays .emp-dash-upcoming-holidays-block {
    margin-bottom: 10px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-upcoming-holidays .emp-dash-upcoming-holidays-block .emp-upcoming-left {
    display: inline-block;
    width: 90%;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-upcoming-holidays .emp-dash-upcoming-holidays-block .holiday-name {
        
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-upcoming-holidays .emp-dash-upcoming-holidays-block .holiday-date {
    font-size: 12px;
    color: #8B8B8B;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-upcoming-holidays .emp-dash-upcoming-holidays-block .emp-upcoming-right {
    display: inline-block;
    width: 8%;
    text-align: right;
    font-size: 12px;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets {
    float: left;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-dash-recent-tickets-block {
    padding: 0 15px;
    margin-bottom: 20px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-dash-recent-tickets-block .emp-recent-tickets-left {
    width: 13%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-dash-recent-tickets-block .emp-recent-tickets-left .emp-ticket-navbar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FEF0ED;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C78B7F;
    margin-right: 12px;
    font-weight: bold;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-dash-recent-tickets-block .emp-recent-tickets-right {
    width: 80%;
    display: inline-block;
}


.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-recent-tickets-right .recent-tickets-title {
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-recent-tickets-right .recent-tickets-info {
    font-size: 13px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-recent-tickets-right .recent-tickets-info .recent-tickets-info-left {
    width: 48%;
    display: inline-block;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-recent-tickets-right .recent-tickets-info .recent-tickets-info-left img{
    margin-right: 5px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-recent-tickets-right .recent-tickets-info .recent-tickets-info-left .emp-ticket-priority-status {
    color: blue;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-recent-tickets-right .recent-tickets-info .recent-tickets-info-right {
    width: 48%;
    display: inline-block;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-recent-tickets-right .recent-tickets-info .recent-tickets-info-right .status-pending {
    color: red;
    font-weight: normal;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-recent-tickets-right .recent-tickets-info .recent-tickets-info-right .status-closed {
    color: green;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-recent-tickets .emp-dash-block-content {
    height: 260px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-basic-info .emp-dash-block-header .header-dropdown {
    text-align: right;
    width: 23%;
    display: inline-block;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-hours-spent .emp-dash-block-content {
    height: 260px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-block-3 {
    margin-top: 20px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar {
        
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar table.table{
    border-collapse: separate;
    border-spacing: 5px 0;
    table-layout: fixed;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-header .header-title {
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-header .header-dropdown {
    text-align: right;
    width: 23%;
    display: inline-block;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-header .header-dropdown i {
    background: #65D6D6;
    padding: 5px 7px;
    font-size: 10px;
    color: #fff;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-content {
    padding: 2px 0;
    height: 255px;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-content .table thead th {
    border-bottom: 0px solid #dee2e6;
    font-weight: normal;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-content .table td,
.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-content .table th {
    border-top: 0px solid #dee2e6;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-content .table .highlight-current {
    background-color: #c6e3e3;
}

.emp-dashboard-horizon .dashboard-body-block .emp-dash-calendar .emp-dash-block-content .table .highlight-festival {
    background-color: #65D6D6;
}

.emp-dashboard-horizon .emp-dash-modal {

}

.emp-dashboard-horizon .emp-dash-modal .modal-header {
    border-bottom: 1px solid transparent;
}

.emp-dashboard-horizon .emp-dash-modal .modal-header button {
    font-size: 14px;
    z-index: 999;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body {
    margin-top: -40px;
    max-height: 450px;
    overflow-y: scroll;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks {
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-header {
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-header .emp-dash-modal-left {
    width: 9%;
    display: inline-block;
    vertical-align: top;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-header .emp-dash-modal-left .emp-dash-modal-navbar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FEF0ED;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C78B7F;
    margin-right: 12px;
    font-weight: bold;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-header .emp-dash-modal-left .emp-dash-modal-navbar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-header .emp-dash-modal-right {
    display: inline-block;
    width: 80%;
    padding: 0px 6px;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-header .emp-dash-modal-right .emp-dash-modal-title {
    font-size: 14px;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-header .emp-dash-modal-right .emp-dash-modals-info {
    font-size: 12px;
    color: gray;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-body {
                            
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-body .emp-dash-modal-message {
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #D9D9D9;
    color: #369479;
    background: #e7e7e7;
    border-radius: 3px;
    font-size: 14px;
    resize: none;
    outline: none;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-footer {
    text-align: right;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-footer button{
    border-radius: 22px;
    padding: 4px 20px;
    font-size: 14px;
}

.emp-dashboard-horizon .emp-dash-modal .modal-body .emp-dash-modal-blocks .emp-dash-modal-footer .emp-dash-modal-send {
    background: #8854D0;
}


.emp-dashboard-horizon .emp-dash-hr-announcements {
    
}

.emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content {
    padding: 20px 17px;
}

.emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content .ed-hr-announcements-left {
    margin-bottom: 10px;
    width: 54%;
    font-size: 13px;
    margin-right: 10px;
    display: inline-block;
}

.emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content .ed-hr-announcements-left p {
    margin-bottom: 10px;
}

.emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content .ed-hr-announcements-left .ed-hr-announcements-view {
    background: #6669db;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    cursor:pointer;
}

.emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content .ed-hr-announcements-right {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.emp-dashboard-horizon .emp-dash-hr-announcements .emp-dash-block-content .ed-hr-announcements-right img {
    width: 100%;
}


.emp-dashboard-horizon #emp-dash-hr-announcement-popup .modal-lg {
    max-width: 630px;
}

.emp-dashboard-horizon #emp-dash-hr-announcement-popup .modal-header button {
    font-size: 14px;
    z-index: 999;
}

.emp-dashboard-horizon #emp-dash-hr-announcement-popup .modal-body{
    margin-top: -15px;
}

.emp-dashboard-horizon #emp-dash-hr-announcement-popup .ed-hr-announcements-left {
    margin-bottom: 10px;
    width: 50%;
    font-size: 13px;
    margin-right: 10px;
    display: inline-block;
}

.emp-dashboard-horizon #emp-dash-hr-announcement-popup .ed-hr-announcements-left p {
    margin-bottom: 10px;
}

.emp-dashboard-horizon #emp-dash-hr-announcement-popup .ed-hr-announcements-left .ed-hr-announcements-view {
    background: #6669db;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.emp-dashboard-horizon #emp-dash-hr-announcement-popup .ed-hr-announcements-right {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.emp-dashboard-horizon #emp-dash-hr-announcement-popup .ed-hr-announcements-right img {
    width: 100%;
}

.emp-dashboard-horizon .emp-dash-leave .emp-dash-block-content {
    padding: 15px 15px;
    height: 255px;
}

.emp-dashboard-horizon .emp-dash-leave .emp-dash-block-content .leave-icon {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    margin: 0 auto 10px;
    font-size: 1.5rem;
    color: #fff;
}

.emp-dashboard-horizon .emp-dash-leave .emp-dash-block-content .leave-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
}

.emp-dashboard-horizon .emp-dash-leave .emp-dash-block-content .leave-container {
    margin-top: 35px !important;
}

/* emp dashboard end */

/* emp upcoimg holidays start */

.emp-upcomingholidays-list-horizon {
    background: #efefef;
    /*height: 100vh;*/
}

.emp-upcomingholidays-list-horizon .main-content {
    margin-left: 0;
    /*padding-top: 0px;
    margin-top: 50px;*/
}

.emp-upcomingholidays-list-horizon #empUpcomingHolidays {
    background: #fff;
    padding: 10px;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable thead th:first-child {
    border-top-left-radius: 5px;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable thead th:last-child {
    border-top-right-radius: 5px;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable th {
    background-color: #267EC4 !important;
    color: #fff;
    font-weight: normal;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable tbody {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable tbody tr {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable tbody tr:nth-child(even) {
    background-color: #EBFAFF !important;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable thead th,
.emp-upcomingholidays-list-horizon #empupcomingholidaysTable tbody td {
    border: none;
    padding: 10px 75px;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable .emp-upcomingholidays-table-last {
    text-align: right;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable tbody .emp-upcomingholidays-table-last {
    padding-right: 100px;
}

.emp-upcomingholidays-list-horizon #empupcomingholidaysTable tbody .emp-upcomingholidays-table-last i {
    cursor: pointer;

}

#compOffModal .modal-header button {
    font-size: 14px;
}

#compOffModal .modal-footer {
    border-top: 0px;
    padding-top: 0px;
}

#compOffModal .modal-footer button{
    padding: 5px 15px;
    border-radius: 30px;
}

/* emp upcoimg holidays end */

/* emp self service start */

.emp-selfservice-list-horizon {
    background: #efefef;
    /*height: 100vh;*/
}

.emp-selfservice-list-horizon .main-content {
    margin-left: 0;
    /*padding-top: 0px;
margin-top: 50px;*/
}

.emp-selfservice-list-horizon .emp-selfservice-details {
    background: #fff;
    width: 100%;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left {
        
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 {
    width: 100%;
    display: inline-block;
    padding: 30px 30px 0px 45px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 .emp-ss-details-block1-left {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 .emp-ss-details-block1-left .img-edit-icon {
    position: relative;
    top: -40px;
    left: 107px;
    width: 30px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 .emp-ss-details-block1-left .img-edit-icon span {
    color: #fff;
    background: #267EC4;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 .emp-ss-details-block1-left img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 .emp-ss-details-block1-right {
    width: 73%;
    display: inline-block;            
}

.emp-ss-details-designation,
.emp-ss-details-category,
.emp-ss-details-dob {
    font-size: 14px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block2 {
    position: absolute;
    bottom: 0;
    padding: 0 25px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-left .emp-ss-details-block1 .emp-ss-details-block1-right .emp-ss-details-user-info-2 {
    margin-top: 15px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-ss-details-block2 .res-emp-ss-tabs {
    border-bottom: none;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-ss-details-block2 .nav-tabs .nav-item.show .nav-link,
.emp-selfservice-list-horizon .emp-selfservice-details .emp-ss-details-block2 .nav-tabs .nav-link {
    border: 0px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-ss-details-block2 .nav-tabs .nav-item.show .nav-link, 
.emp-selfservice-list-horizon .emp-selfservice-details .emp-ss-details-block2 .nav-tabs .nav-link.active {
    color: #000;
    border-bottom: 2px solid #267EC4;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-ss-details-block2 .nav-tabs .nav-item {
    padding: 0 10px;
}

.emp-selfservice-list-horizon .color-gray {
    color: gray;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-center {
    border-left: 1px dashed;
    margin-top: 25px;
    margin-bottom: 45px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right {
    padding: 25px 20px 15px 20px;
    max-width: 40%;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block3 {
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block3 .emp-ss-details-right-left {
    padding: 3px 0;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block3 .emp-ss-details-left-block {
    display: inline-block;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block3 .emp-ss-details-right-block {
    /*display: inline-block;*/
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block4 {
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block4 .emp-change-password {
    float: right;
    margin-right: 20px;
}

.emp-selfservice-list-horizon .emp-selfservice-details .emp-selfservice-details-right .emp-ss-details-block4 .emp-change-password button{
    padding: 5px 25px;
    border-radius: 20px;
}

.emp-selfservice-list-horizon .emp-selfservice-details-all {
    margin: 30px 0;
    background: #fff;
    padding: 10px 10px;
    display: inline-block;
    width: 100%;
}

.emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block1,
.emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block2,
.emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-details-all-block3 {
    justify-content: right;
    margin: 25px 0;
}

.emp-selfservice-list-horizon .emp-selfservice-details-all .emp-ss-detailed-all-header {
    background-color: #267EC4;
    color: #fff;
}

.emp-selfservice-list-horizon .emp-selfservice-details-all label {
    margin-left: 20px !important;
}

.emp-selfservice-list-horizon .emp-selfservice-details-all .block-view .form-group.row div {
    color: gray;
}

.emp-selfservice-list-horizon .emp-selfservice-details-all .block-view:hover {
    /*transform: scale(1.002);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}

#empChangePasswordModal .modal-header button {
    font-size: 14px;
}

#empChangePasswordModal .modal-footer {
    border-top: 0px;
    padding-top: 0px;
}

#empChangePasswordModal .modal-footer button {
    padding: 5px 15px;
    border-radius: 30px;
}

.emp-selfservice-list-horizon .emp-ss-assetview .tree-structure .allocate-details.tree-child img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 10px;
}

.emp-selfservice-list-horizon .emp-ss-assetview .tree-structure .allocate-info span {
    color: gray;
}

.emp-selfservice-list-horizon .emp-ss-monthlymaintenanceview .emp-ss-mm-year {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.emp-selfservice-list-horizon .emp-ss-monthlymaintenanceview .mm-year-dropdown {
    position: relative;
    display: inline-block;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable thead th:first-child {
    border-top-left-radius: 5px;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable thead th:last-child {
    border-top-right-radius: 5px;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable thead th {
    color: #fff;
    font-weight: normal;
}

.emp-selfservice-list-horizon .emp-maintenanceinfo-image-btn .default-image-navbar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 7px;
    display: inline-flex;
}

.emp-selfservice-list-horizon .emp-maintenanceinfo-image-btn img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 7px;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable .emp-maintenance-id-select {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 71px;
    display: inline-block;
    vertical-align: middle;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable .emp-maintenance-status {
    padding: 2px 9px;
    color: #fff;
    border-radius: 20px;
    font-size: 11px;
    text-align: center;
    width: 75px;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable .emp-maintenance-status.completed {
    background: #34C7AC;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable .emp-maintenance-status.pending {
    background: #26ABED;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable .emp-maintenanceinfo-list-edit .emp-maintenance-options {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 3px 1px #ccc;
    text-align: left;
    right: 20px;
    cursor: pointer;
    padding: 3px 0;
    z-index: 1;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable .emp-maintenanceinfo-list-edit .emp-maintenance-options a {
    padding: 3px 10px;
    color: #8693a1;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable tbody {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable tbody tr {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.emp-selfservice-list-horizon #empmaintenanceinfotable tbody tr:nth-child(even) {
    background-color: #EBFAFF !important;
}

#RescheduleEmpMaintenancePopup #reschedulemaintenance-header-title {
    font-size: 18px;
}
#RescheduleEmpMaintenancePopup .modal-header button {
    font-size: 14px;
}

#RescheduleEmpMaintenancePopup .maintenanceapprove-info .text-right button {
    padding: 5px 15px;
    border-radius: 30px;
}
/* emp self service end */