body {
    color: #212529;
}

tbody {
    font-size: 14px;
}

.chatIcon {
    color: #e0e0d1 !important;
}

.sidebar li .material-icons {
    width: 30px;
}

.mutedText {
    color: #9A9A9A;
}

#leaveHistoryTable tbody .fontSmall {
    line-height: 1.2rem;
}

#icon-change {
    margin-top: 2px;
}

#empleaveCompOffTable td {
    border: 1px solid transparent;
}

input[type=radio] {
    border: 2px solid white;
    box-shadow: 0 0 0 1px #007bff;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transition: all ease-in 0.2s;
}

input[type=radio]:checked {
    background-color: #007bff;
}

/* admin dashnoard start */

.res-admin-dashboard .dashcard_style {
    height: auto;
    width: auto;
}

.res-admin-dashboard .header-title {
    margin-left: -7px !important;
}

.admindash_card .dashhoiday_description {
}

.admindash_card .res-holidays-details-left {
    display: inline-block;
    font-size: 12px;
    width: 80%;
}

.admindash_card .res-holidays-details-right {
    display: inline-block;
    font-size: 10px;
    width: 18%;
    text-align: center;
}

    .admindash_card .res-holidays-details-right div.res-holiday-count {
        border: 1px solid #00ffcc;
        border-radius: 10px;
        width: 25px;
        text-align: center;
        font-size: 11px;
        margin: 0 auto;
        color: #00ffcc;
    }
    .admindash_card .res-holidays-details-right div.res-holiday-desc {
        padding: 2px 5px;
        color: #00ffcc;
    }


    /* admin dashnoard end */
    /* admin employee management start */
    .res-admin-employee-management .res-admin-filter-inside {
        //display: inline-block !important;
        margin-right: 0px !important;
    }

.res-admin-employee-management .res-admin-filter-inside .dropdown {
    display: inline-block;
    width: 21%;
}

.res-admin-employee-management .res-clear-btn {
    background: #2693F8;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize;
    margin-left: 0 !important;
    margin-top: 10px;
    display: inline-block;
}

.res-admin-employee-management .admin-empadd-view #myTabContent .save-and-next,
.res-admin-employee-management .admin-empadd-view #myTabContent .addemp-submit-btn {
    height: auto;
    width: auto !important;
    margin-top: auto !important;
    margin-left: 0px !important;
    float: left;
    margin-bottom: 30px;
}

.admin-empmanagement-container .submit-button {
    margin-top: 20px;
    text-align: left;
    margin-right: 0;
}

.admin-empmanagement-container .import-user-head {
    margin-top: 0;
    margin-bottom: 1%;
}

.admin-empmanagement-container {
    margin-bottom: 20px;
}

.dropdown-toggle {
    color: white;
}

.admin-empmanagement-view .res-admin-filter {
    margin-right: 0px !important;
}

.admin-empmanagement-view .res-admin-title {
    padding: 0;
}

#adminempmanagementtable {
    //width: inherit !important;
}

/* admin employee management end */

/*admin attendance start*/

.admin-attendancemgmt-view .b-from label,
.admin-attendancemgmt-view .b-to label {
    margin-right: 10px;
}

.admin-attendancemgmt-view .res-date-from-to {
    padding: 0 15px !important;
}

.admin-attendance-container .addshiftcontent {
    margin-top: -30px;
}

#leaveUpdateModal .leaveupdate_checkin, #leaveUpdateModal .leaveupdate_checkout {
    width: 100%;
}

#leaveUpdateModal .res-submit-btn {
    margin: 0 15px !important;
    padding: 0;
}

.res-admin-individual-att-from-to {
    margin-left: 0% !important;
}

.res-admin-individual-att-from-to .form-inline {
    justify-content: right;
}

.adminatt-dropdown label{
    margin-right: 12px !important;
}

/*admin attendance end*/

/* admin leave start*/

.res-admin-leave .main-content.container-fluid {
    width: 87% !important;
    margin-left: 175px;
}

.res-admin-leave #adminleaveSettingsDropdown {
    background-color: #007bff;
    color: #fff;
}

.res-admin-leave .empleave-calendar-header {
    margin-right: 0;
}

.highlight-currentleave {
    background-color: #e6f2ff;
}

.res-admin-leave .leavemonthmonth-dropdown {
    margin-right: 10px;
}

.res-admin-leave #daysLeaveContainer.Leave-days-container {
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
}

.res-admin-leave .leavemonthmonth-dropdown #myLeaveMonth {
    width: 85%;
    border-radius: 17px;
    margin-left: 0px;
    background-color: aliceblue;
}

.res-admin-leave #daysLeaveContainer.Leave-days-container .dayLeave {
    display: inline-block;
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    margin: 2px;
    cursor: pointer;
    font-size: 14px;
}

#adminleaveTable-mgmt .mutedText {
    color: #aaa;
}

#adminleaveTable-mgmt .chatIcon {
    top: 5px;
}

#adminleaveTable-mgmt .acceptLeaveBtn {
    border: 1px solid #00ffcc;
    color: #00ffcc;
    margin-right: 10px;
}

#adminleaveTable-mgmt .acceptLeaveBtn:hover {
    border: 1px solid #00ffcc;
    color: #fff;
    background: #00ffcc;
}

#adminleaveTable-mgmt .rejectLeaveBtn {
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
}

#adminleaveTable-mgmt .rejectLeaveBtn:hover {
    border: 1px solid #ff4d4d;
    color: #fff;
    background: #ff4d4d;
}

.adminleave-dropdown select, .adminleave-dropdown .multiselect-container {
    border: 0px solid #ced4da;
}

.adminleave-dropdown .form-control:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

.admin-leave-container #LeaveDateDropdown {
    margin-left: 56%;
}

.admin-leave-container .export-label {
    margin-right: 15px !important;
}

.res-adminleaveTable-mgmt #adminleaveTable-mgmt_wrapper {
    padding: 0;
}

#LeaveDateDropdown label {
    margin-top: 4px;
}

.res-adminleave-header-right {
    padding-right: 0px;
}

.admin-leavecalender-view .empleave-calendar-table .empleave-leave-request {
    position: relative;
    float: left;
    top: 15px;
    left: 0px;
}

.admin-leavecalender-view .empleave-calendar-table .empleave-leave-request img {
    margin-left: -7px;
}

.admin-leavecalender-view .empleave-calendar-table .empleave-leave-request .more-count {
    background: #ccc;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    margin-left: -5px;
    padding-top: 4px;
}

/* admin leave end*/

/* admin leave balance start*/
.res-admin-leave-balance {
    margin-top: -25px;
    margin-left: -1%;
    width: 103%;
}

.res-admin-leave-balance .search-container {
    margin-left: 20% !important;
}

.res-admin-leave-balance .res-admin-leave-balance-export {
    margin-left: 10%;
}

    .res-admin-leave-balance #leaveBalanceTable {
        margin: 0px;
        width: 112%;
    }

.res-admin-leave-balance #leaveBalanceTable thead {
    background-color: transparent;
}

.res-admin-leave-balance #leaveBalanceTable thead th {
    color: #000;
    border-top: 0px;
    font-weight: normal;
    text-align: center;
}

.res-admin-leave-balance #leaveBalanceTable thead th:nth-child(1),
.res-admin-leave-balance #leaveBalanceTable thead th:nth-child(2) {
    visibility: hidden;
}

.res-admin-leave-balance #leaveBalanceTable tbody td {
    text-align: center;
}

.res-admin-leave-balance #leaveBalanceTable tbody td:nth-child(1),
.res-admin-leave-balance #leaveBalanceTable tbody td:nth-child(2) {
    text-align: left;
}

.res-admin-leave-balance #leaveBalanceTable thead th:nth-child(3) {
    width: 95px;
}

.res-admin-leave-balance #leaveBalanceTable thead th:nth-child(5) {
    width: 90px;
}

.res-admin-leave-balance #leaveBalanceTable thead th:nth-child(7) {
    width: 140px;
}

.res-admin-leave-balance #leaveBalanceTable thead th:nth-child(11) {
    width: 60px;
}

#exportLeaveButton i {
    color: #212529;
}

.res-admin-leave-balance-update h1 {
    font-size: 20px;
}

.table.leaveblanceupdate-table {
    width: 80%;
}

    .table.leaveblanceupdate-table thead th {
        border-bottom: 0px solid #dee2e6;
        width: 20%;
        font-weight: normal;
    }

.table.leaveblanceupdate-table thead th:nth-child(1) {
    visibility: hidden;
}

.res-admin-leave-balance-update .res-adminleaveapply-btn {
    width: 70%;
    display: inline-block;
    text-align: right;
    padding-right: 27px;
}

/* admin leave balance end*/

/* admin leave history start */
.res-admin-leave .res-admin-filter-inside {
    margin-right: 0px !important;
}
.res-admin-leave.res-admin-filter {
    margin-right: 0px !important;
}
.res-admin-leave .res-admin-filter-inside .dropdown {
    display: inline-block;
    width: 21%;
}
.res-admin-leave-balance-export .form-group select, .res-admin-leave-balance-export .multiselect-container {
    border: none;
}

.res-admin-leave-balance-export .form-control:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

.res-admin-leave-history .res-admin-leavehistory-block-header {
    display: inline-block;
    justify-content: end;
}

.res-admin-leave-history .res-admin-leavehistory-filter {
    width: 20%;
}

.res-admin-leave-history .res-admin-leave-balance-export {
    width: 12%;
    margin-top: -5px;
}

.res-admin-leave-history .res-admin-leave-balance-calender {
    width: 2%;
    margin-left: -9%;
    display: inline-flex;
    margin-top: 4px;
}

#adminleavehistoryfilter .res-adminadvfilter-leavehistory {
    display: inline-block !important;
}

#adminleavehistoryfilter .res-adminadvfilter-leavehistory label,
#adminleavehistoryfilter .res-adminadvfilter-leavehistory input {
    display: inline-block;
    font-size: 12px;
}

#adminleavehistoryfilter .res-adminadvfilter-leavehistory select {
    font-size: 12px;
    height: 30px !important;
}

.res-admin-leavehistory-block-header.leavehistory-exportdropdown {
    margin-bottom: 0 !important;
}

#adminleaveHistoryTable .mutedText {
    color: #aaa;
}

.res-admin-leave-history .adminleavehistory-dropdown-toggle {
    border: 1px solid #ccc;
    border-radius: 0;
    color: #ccc;
    width: 85%;
}

.res-admin-leave-history .adminleavehistory-dropdown-toggle:hover, .res-admin-leave-history .adminleavehistory-dropdown-toggle:focus {
    background-color: transparent;
    color: #ccc;
    border: 1px solid;
}

.res-admin-leave-history .adminleavehistory-dropdown-menu #employeeSearchinput {
    border-radius: 5px;
    border: 1px solid #80ccff;
}

.res-admin-leave-history .adminleavehistory-dropdown-menu {
    width: 83%;
}

/* admin leave history end*/

/* admin leave import start*/
.admin-leaveimport-view {
}

.admin-leaveimport-view .download-leave-btn {
    border: 2px solid #007bff;
    background-color: #fff;
    color: #007bff;
}

.admin-leaveimport-view .leave-file-upload {
    border: 2px dashed #007bff;
    padding: 32px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: 45%;
}

.admin-leaveimport-view #leave-file-upload-input {
    display: none;
}

.admin-leaveimport-view .submit-button {
    margin-top: 20px;
    text-align: left;
    margin-right: 0;
}

.admin-leaveimport-view .download-leave-btn:hover {
    color: #fff;
    background-color: #007bff;
}

/* admin leave import end*/

/* admin leave compoff start*/
.res-admin-leavecompoff-view .dropdowns-leave-compoff-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.res-admin-leavecompoff-view .adminleave-compoff-dropdown select, .res-admin-leavecompoff-view .adminleave-compoff-dropdown .multiselect-container {
    border: 0px solid #ced4da;
}

.res-admin-leavecompoff-view #LeavecompoffDateDropdown {
    margin-left: 56%;
    margin-top: 10px;
}

.res-admin-leavecompoff-view #adminleavecompoffTable_filter,
.res-admin-leavecompoff-view #adminleavecompoffTable_length {
    display: none;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .mutedText {
    color: #aaa;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .chatIcon {
    margin-right: 10px;
    display: inline-block;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .acceptLeavecompoffBtn {
    border: 1px solid #00ffcc;
    color: #00ffcc;
    margin-right: 10px;
    border-radius: 30px;
    padding: 5px 17px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .acceptLeavecompoffBtn:hover {
    border: 1px solid #00ffcc;
    color: #fff;
    background: #00ffcc;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .rejectLeavecompoffBtn {
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    border-radius: 30px;
    padding: 5px 17px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .rejectLeavecompoffBtn:hover {
    border: 1px solid #ff4d4d;
    color: #fff;
    background: #ff4d4d;
}

.res-admin-leavecompoff-view .statusBtnFlex {
    display: flex;
    justify-content: flex-end;
}

.res-admin-leavecompoff-view .res-adminleave-compoff-header-right {
    margin-top: -10px;
}

.res-admin-leavecompoff-view #adminleavecompoffTable {
    margin-top: 15px;
}

.res-admin-leavecompoff-view .res-adminleave-drop {
    margin-right: 0px;
}

.res-admin-leavecompoff-view .res-adminleave-compoff-header-right .adminleave-compoff-dropdown {
    margin-right: 35px;
}

.res-admin-leavecompoff-view .export-compoff-label {
    margin-right: 20px;
}

.res-admin-leavecompoff-view .res-admincompoff-header {
    justify-content: space-around;
}

.res-admin-leavecompoff-view #adminleavecompoffTable .commentSec p {
    display: inline-block;
}

#adminleavecompoffTable .adminleave-edit-history {
    margin-top: 7px;
    color: #aaa;
    margin-left: 10px;
    cursor: pointer;
}

#adminleavecompoffTable .admin-leavehistoryoptions {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    right: 90px;
}

/* admin leave compoff end*/

/* employee dashboard start*/
.emp-dashboard .main-content.container-fluid {
    padding: 75px 0px;
}

/* employee dashboard end*/

/* employee attendance start */

#attendanceTable_wrapper {
    padding: 0;
}

.attendance-nav .att-calender {
    width: 50%;
    display: inline-block;
    margin-top: -7px;
    margin-right: 0;
}

.attendance-nav .att-calender .from-to-calen {
    width: 74%;
    display: inline-flex;
}

.attendance-nav .att-calender .apply-div {
    width: 20%;
    padding: 0;
    display: inline-block;
}

/* employee attendance end */

/* emp leave start */

.leave-dashboard-data {
    margin-top: 0% !important;
    margin-left: 0% !important;
}

.empleave-container .container-fluid {
    padding: 0;
}

#leaveCarousel .carousel-item.carousel-leave-item .col-md-2 {
    padding: 0;
}

.empleave-container .tracker_topic {
    margin: 15px 0px 0px 0px !important;
}

.empleave-container .empleave-calendar-body {
    //padding: 1rem 0;
}

#leaveHistoryTable_wrapper {
    padding: 0 !important;
}

#leaveHistoryTable {
    margin: 0 !important;
}

.leavehistory_btn i {
    color: #007bff;
}

.empleave-calendar-body .highlight-festival-leave div {
    font-size: 12px;
    text-align: left;
    color: orangered;
}

.empleave-calendar-body .highlight-festival-leave {
    color: #212529;
}

.empleave-calendar-body thead th {
    padding: 5px 0;
    height: 26px;
    font-size: 14px;
}

.empleave-calendar-body .empleave-calendar-table td {
    border: 1px solid #ccc;
    text-align: right;
}

.leave-dashboard-data .popup-form {
    margin-top: 20px;
}

.leave-dashboard-data #dayTypeContainer {
    border: 0px solid #ccc;
    padding: 0;
}

.apply-leave-form .form-control:disabled, .apply-leave-form .form-control[readonly] {
    background-color: transparent;
    color: #ccc;
}

input[type=checkbox], input[type=radio] {
    accent-color: #007bff;
}

.leave-dashboard-data .apply-leave-form {
    margin-bottom: 5px;
}

.leave-dashboard-data #dayTypeLabel {
    margin-bottom: 0;
}

.leave-dashboard-data .vertical-line {
    border-left: 1px solid #ccc;
}

#leaveForm #dayTypeContainer {
    border: 0px solid #ccc;
    padding: 0;
}

.empleave-container .empleave-calendar-body .empleave-leave-request {
    height: auto !important;
    text-align: center;
    background: none;
}

.empleave-container .empleave-calendar-body .empleave-leave-request div {
    height: auto !important;
    border-radius: 3px;
}

#leaveHistoryTable .emp-leaveoptions {
    position: absolute;
    top: auto;
    cursor: pointer;
}

.leave-history #leaveHistoryTable .chatIcon {
    margin-right: 10px;
    display: inline-block;
}

.leave-history #leaveHistoryTable .commentSec p {
    display: inline-block;
}

.leave-history #empleaveCompOffTable .chatIcon {
    margin-right: 10px;
    display: inline-block;
}

.leave-history #empleaveCompOffTable .commentSec p {
    display: inline-block;
}
/* emp leave end*/