
/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/

/*body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}*/

/* 11_addshift-employees css starts here */

/*.add {
    font-size: 20px;
    margin-bottom: 15px;
}*/

/*.selectemployees {
    height: 29px;
    width: 24%;
    margin: 7px 0px 20px 0px;
}*/

/*.select {
    font-size: 13px;
    font-weight: 500;
}
*/

/*.time {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 90px;
    margin-bottom: 20px;
}*/

/*.start {
    width: 165%;
    height: 29px;
    margin-top: 5px;
}*/

/*.end {
    width: 165%;
    height: 29px;
    margin-top: 5px;
}*/

/*.time1 {
    font-size: 13px;
    font-weight: 500;
}*/

/*.notifications span {
    margin-left: 4px;
    font-size: 13px;
    font-weight: 500;
}*/


/*.btn {
    height: 35px;
    width: 80px;
    background-color: rgb(0, 140, 255);
    color: white;
    border: 0;
    border-radius: 2px;
}*/

/*.save {
    margin: 18px 0px 0px 19%;
}
*/


/*.name {
    height: 29px;
    width: 24%;
    margin: 7px 0px 20px 0px;
}*/
.attendance-nav{
    width: 90%;
    margin: auto;
}

.attendence-title {
    font-size: 30px;
    margin-right: 15px;
}


.left-right-icon {
    font-weight: bold;
    font-size: 20px;
}

.left-btn, .right-btn {
    font-size: 18px;
    margin: 0px 2px 0px 2px;
}

.apply-filter {
    height: 30px;
    width: 70px;
    background-color: rgb(0, 140, 255);
    color: white;
    border: 0;
    border-radius: 1px;
    font-size: 15px;
}

.apply-div {
    margin: 8px 0px 0px 10px;
}

.from-to-calen {
    margin-top: 8px;
    font-size: 30px;
    font-size:13px;
}


.att-div {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    gap: 130px;
}


.att-calender {
    display: flex;
}


.table-attendence td, .table-attendence th {
    border: none !important;
}

.bar-width-green {
    width: 1% !important;
    background-color: #10cc94 !important;
}

.bar-width-red {
    width: 1% !important;
    background-color: red !important;
}

.bar-width-yellow {
    width: 1% !important;
    background-color: orange !important;
}

.bar-width-gray {
    width: 1% !important;
    background-color: lightgray !important;
}



.attendance-bar {
    background-color: #f0f4fc !important;
    height: 28px !important;
    border-radius: 2px !important;
}

.bar-wi {
    width: 65% !important;
}

.bar-wd {
    padding-right: 60px !important;
}

.attendence-thead th {
    background-color: #f0f4fc !important;
}

.present-btn {
    font-size: 13px;
    background-color: #10cc94;
    color: white;
    border: 0;
    height: 25px;
    width: 110%;
}

.leave-btn {
    font-size: 13px;
    background-color: red;
    color: white;
    border: 0;
    height: 25px;
    width: 110%;
}

.yellow-btn {
    font-size: 13px;
    background-color: orange;
    color: white;
    border: 0;
    height: 25px;
    width: 110%;
}

.gray-btn {
    font-size: 13px;
    background-color: lightgray;
    color: white;
    border: 0;
    height: 25px;
    width: 110%;
}

.fntblur {
    font-size: 14px;
    color: darkgrey;
    font-weight: bolder !important;
}

.bar-time {
    color: black !important;
    text-align: center !important;
    margin: auto;
    font-weight: 500;
}











