<style>
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Employee Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <h2>Employee Panel</h2>
                <ul id="empdash-menu">
                    <li><a href="#" class="active emp-dashboard">Dashboard</a></li>
                    <li><a href="#" class="emp-selfservice">Self Service</a></li>
                    <li><a href="#" class="emp-attendence">Attendance</a></li>
                    <li><a href="#" class="emp-leavetracker">Leave Tracker</a></li>
                    <li><a href="#" class="emp-myrequest">My Requests</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content emp-dashboard-data">
                <div class="hiddendashboard"></div>
                <!-- Your page content goes here -->
                <h1>Welcome to Employee Dashboard!</h1>
                <p>This is where you can access various employee services.</p>
            </div>

            <div class="content selfservice-dashboard-data" style="display: none">
                <div class="hiddenselfservice"></div>
            </div>

            <div class="content attedance-dashboard-data" style="display: none">
                <div class="hiddenattendance"></div>
                <!-- Your page content goes here -->
                <h1>Welcome Attedence page!</h1>
                <p>Coming soon!.</p>
            </div>

            <div class="content leave-dashboard-data" style="display: none">
                <div class="hiddenleave"></div>
                <h1>Welcome Leave page!</h1>
                <p>Coming soon!.</p>
            </div>

            <div class="content myrequest-dashboard-data" style="display: none">
                <div class="hiddenmyrequest"></div>
                <h1>Welcome My Request page!</h1>
                <p>Coming soon!.</p>
            </div>
        </div>
    </div>
</div>


