
<nav class="navbar navbar-expand-lg navbar-light bg-light empdash-navbar" >
   
        <a class="dash-logo" href="#">
            <img src="~/Assets/AMBC_Logo.png" alt="logo" class="logo-img" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav ml-auto">
                <li class="nav-item">
                    <select id="help-nav" name="help">
                        <option value="" disabled selected hidden>Help</option>
                        <option value="option1">option1</option>
                        <option value="option2">option2</option>
                    </select>
                </li>
                <li class="nav-item" id="navbar-profile">
                    <img src="~/Assets/EmpProfile.png" alt="profile" class="nav-profile" />
                    <p class="nav-name">Admin_HRMS</p>
                    <select id="profile-nav" name="profile">
                        <option value="" disabled selected hidden></option>
                        <option value="option1">option1</option>
                        <option value="option2">option2</option>
                    </select>
                </li>

            </ul>
        </div>
    
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <ul id="empdash-menu" style="list-style-type: none;">
                    <li>
                        <a href="#" class="active emp-dashboard">
                            <span class="material-icons">dashboard</span>Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="emp-selfservice">
                            <span class="material-icons">groups</span>Self Service
                        </a>
                    </li>
                    <li>
                        <a href="#" class="emp-attendence">
                            <span class="material-icons">calendar_month</span>Attendance
                        </a>
                    </li>
                    <li>
                        <a href="#" class="emp-leavetracker">
                            <span class="material-icons">logout</span>Leave Tracker
                        </a>
                    </li>
                    <li>
                        <a href="#" class="emp-myrequest">
                            <span class="material-icons">laptop_chromebook</span>Ticketing
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 dashboard-content">
            <div class="content emp-dashboard-data">
                <div class="hiddendashboard"></div>
                <!-- Your page content goes here -->
                <h1>Welcome to Employee Dashboard!</h1>
                <p>This is where you can access various employee services.</p>
            </div>

            <div class="content selfservice-dashboard-data" style="display: none">
                <div class="hiddenselfservice"></div>
            </div>

            <div class="content attedance-dashboard-data" style="display: none">
                <div class="hiddenattendance"></div>
                <!-- Your page content goes here -->
                <h1>Welcome Attedence page!</h1>
                <p>Coming soon!.</p>
            </div>

            <div class="content leave-dashboard-data" style="display: none">
                <div class="hiddenleave"></div>
                <h1>Welcome Leave page!</h1>
                <p>Coming soon!.</p>
            </div>

            <div class="content myrequest-dashboard-data" style="display: none">
                <div class="hiddenmyrequest"></div>
                <h1>Welcome My Request page!</h1>
                <p>Coming soon!.</p>
            </div>
        </div>
    </div>
</div>


