
<div class="employeeleaveapply-view">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <form id="leaveForm">
                    <div class="form-group">
                        <label for="leaveType" class="leave_label">Leave Type*</label>
                        <select class="form-control" id="leaveType">
                            <option selected disabled>Select Leave Type</option>
                            <option value="1">Earned Leave</option>
                            <option value="2">Emergency Leave</option>
                            <option value="3">Sick Leave</option>
                            <option value="4">Bereavement Leave</option>
                            <option value="5">Hourly Permission</option>
                        </select>
                    </div>
                    <div class="apply-date-section">
                        <div class="form-group">
                            <label for="fromleaveDate">From Date*</label>
                            <input type="date" class="form-control" id="fromleaveDate">
                        </div>
                        <div class="form-group">
                            <label for="toleaveDate">To Date*</label>
                            <input type="date" class="form-control" id="toleaveDate">
                        </div>
                    </div>
                    <div class="form-group" id="dayTypeLabel" style="display: none">
                        <label>Day Type*</label>
                    </div>
                    <div id="dayTypeContainer"></div>
                    <div class="form-group">
                        <label for="teamEmail">Team Email</label>
                        <input type="text" class="form-control" id="teamEmail">
                    </div>
                    <div class="form-group">
                        <label for="reason">Reason</label>
                        <textarea class="form-control" id="reason"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-apply-empleave">Apply</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="balance-section mt-4 ml-4">
                    <div class="row" style="line-height:2;">
                        <div class="col-md-4">
                            <span>Available Balance</span>
                        </div>
                        <div class="col-md-6">
                            <div>3</div>
                        </div>
                        <div class="col-md-4">
                            <span>Currently Booked</span>
                        </div>
                        <div class="col-md-6">
                            <div>3</div>
                        </div>
                        <div class="col-md-4">
                            <span>Balance</span>
                        </div>
                        <div class="col-md-6">
                            <div>3</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
