<style>
    .employee {
        margin-bottom: 20px;
    }

    .bar {
        height: 20px;
        background-color: #3498db;
        margin-bottom: 5px;
    }
</style>
<div class="employee">
    <h3>Employee 1</h3>
    <div class="bar" style="width: 80%;"></div>
    <p>8 hours</p>
</div>
<div class="employee">
    <h3>Employee 2</h3>
    <div class="bar" style="width: 60%;"></div>
    <p>6 hours</p>
</div>
<div class="employee">
    <h3>Employee 3</h3>
    <div class="bar" style="width: 90%;"></div>
    <p>9 hours</p>
</div>