
<div class="employeeleaveapply-view">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form id="leaveForm">
                    <div class="form-group">
                        <h4 class="mb-4">Apply Leave</h4>
                        <label for="leaveType" class="leave_label">Leave Type*</label>
                        <select class="form-control" id="leaveType">
                            <option selected disabled>Select Leave Type</option>
                            <option value="Earned Leave">Earned Leave</option>
                            <option value="Emergency Leave">Emergency Leave</option>
                            <option value="Sick Leave">Sick Leave</option>
                            <option value="Bereavement Leave">Bereavement Leave</option>
                            <option value="Hourly Permission">Hourly Permission</option>
                            <option value="Marriage Leave">Marriage Leave</option>
                            <option value="Maternity Leave">Maternity Leave</option>
                            <option value="Paternity Leave">Paternity Leave</option>
                            <option value="Comp Off">Comp Off</option>
                        </select>
                    </div>
                    <div class="apply-date-section">
                        <div class="form-group">
                            <label for="fromleaveDate">From Date*</label>
                            <input type="date" class="form-control" id="fromleaveDate">
                        </div>
                        <div class="form-group">
                            <label for="toleaveDate">To Date*</label>
                            <input type="date" class="form-control" id="toleaveDate">
                        </div>
                    </div>
                    <div class="form-group" id="dayTypeLabel" style="display: none">
                        <label>Day Type*</label>
                    </div>
                    <div id="dayTypeContainer"></div>
                    <div id="totalLeavesContainer" class="mb-4"></div>
                    <div class="form-group">
                        <label for="teamEmail">Team Email</label>
                        <input type="text" class="form-control" id="teamEmail">
                    </div>
                    <div class="form-group">
                        <label for="reason">Reason</label>
                        <textarea class="form-control" id="reason"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="BackupName">Backup Resource Name</label>
                        <input type="text" class="form-control" id="BackupName">
                    </div>
                    <div class="form-group">
                        <label for="BackupNo">Contact Number (In case of Emergency)</label>
                        <input type="text" class="form-control" id="BackupNo">
                    </div>
                    <button type="submit" class="btn btn-primary btn-apply-empleave">Apply</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="balance-section-wrapper">
                </div>
            </div>
        </div>
    </div>


</div>
