@model HRMS.Models.Employee.EmpDashBoardModel
@using HRMS.Models

@{
    var loginID = 0;
    var buttonText = "Check In";
    DateTime checkInTime = DateTime.MinValue;
    DateTime? checkOutTime = DateTime.MinValue;

    string starttimeWithAmPm = "";
    string endtimeWithAmPm = "00:00:00";

    string lastCheckinDate = "";
    bool showCheckInButton = false;

    bool previousdayortodaycheckinexist = false;

    var buttonDeafultbgcolor = "#3E78CF";


    if (Model.empLastDayCheckInDetails != null && !Model.empLastDayCheckInDetails.IsSignedOutOnLastCheckInDate && Model.empLastDayCheckInDetails.LoginID != 0)
    {
        buttonText = "Check Out";
        loginID = Model.empLastDayCheckInDetails.LoginID;

        checkInTime = Model.empLastDayCheckInDetails.SignInTime;
        checkOutTime = Model.empLastDayCheckInDetails.SignOutTime;

        lastCheckinDate = checkInTime.ToString("dd/MM/yyyy");
        starttimeWithAmPm = checkInTime.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture);
        showCheckInButton = true;
        previousdayortodaycheckinexist = true;
        buttonDeafultbgcolor = "#C70000";
    }

    var ButtonDisabled = "";

    if (Model.empLastDayCheckInDetails.SignInTime == DateTime.MinValue && Model.todayCheckInInfo != null && Model.todayCheckInInfo.login_id != 0)
    {
        loginID = Model.todayCheckInInfo.login_id;
        buttonText = "Check Out";
        checkInTime = Model.todayCheckInInfo.Signin_Time;
        checkOutTime = Model.todayCheckInInfo.Signout_Time;

        if ((checkOutTime != null && checkOutTime != DateTime.MinValue) || Model.IsOnLeave == true)
        {
            buttonText = "Check In";
            ButtonDisabled = "disabled";
        }
        else
        {
            buttonDeafultbgcolor = "#C70000";
        }

        starttimeWithAmPm = checkInTime.ToString("hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture);
        endtimeWithAmPm = checkOutTime?.ToString("hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture);
        previousdayortodaycheckinexist = true;
    }

    if (Model.IsOnLeave == true && previousdayortodaycheckinexist == false)
    {
        if (Model.empLeaveInfo != null && (Model.empLeaveInfo.LeaveStatus == "Cancelled" || Model.empLeaveInfo.LeaveStatus == "Rejected"))
        {
            //Do nothing
        }
        else
        {
            buttonText = "Check In";
            if (Model.empLeaveInfo != null && (Model.empLeaveInfo.DayType == "halfDay" || Model.empLeaveInfo.DayType == ""))
            {
                ButtonDisabled = "";
            }
            else
            {
                ButtonDisabled = "disabled";
            }
        }

    }

    var currentUserSession = Session["SiteContext"] as HRMS.Models.SiteContextModel;

    buttonDeafultbgcolor = buttonText == "Check In" ? "#3E78CF" : "#C70000";

    if ((Model.todayCheckInInfo.Signin_Time != null && Model.todayCheckInInfo.Signin_Time != DateTime.MinValue) && (Model.todayCheckInInfo.Signout_Time == DateTime.MinValue || Model.todayCheckInInfo.Signout_Time == null))
    {
        buttonText = "Check Out";
        buttonDeafultbgcolor = "#C70000";
        ButtonDisabled = "";
    }

}

<style>

    /*.emp-imgs {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

        .emp-imgs img {
            max-width: 100%;
            height: auto;*/ /* Ensures the image maintains its aspect ratio */
    /*}

    .img-edit-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }*/

</style>

@Html.Partial("_EmployeeNavbar")
<div class="container-fluid emp-dashboard emp-dashboard-horizon">   
    <div class="main-content container-fluid" style="width: 84%">
        <div class="hiddenempdashboard"></div>

        <div class="dashboard-header-block">
            <div class="dashboard-header-left">
                <div class="dh-user-name">Hello Test User</div>
                <div class="dh-welcome">Welcome to AMBC HRMS Portal</div>
            </div>
            <div class="dashboard-header-right">
                <div class="dh-left">
                    <div class="dh-date">Thursday, Oct 07 2024</div>
                    <div class="dh-attendance">Mark Attendance</div>
                    <div class="dh-time">01:01:11</div>
                </div>
                <div class="dh-right">
                    <div class="dh-checkin">
                        <label>Check In Time</label>
                        <div class="dh-checkin-time">01:01:01</div>
                    </div>
                    <div class="dh-checkout">
                        <label>Check Out Time</label>
                        <div class="dh-checkout-time">01:01:01</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-body-block">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 emp-dash-block-1">
                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-left-block">
                        <div class="ed-blocks ed-birthday">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/birthday.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <div class="ed-block-1 ed-b-birthday">Birthday</div>
                                <div class="ed-block-2 ed-b-celebration">2 Celebration</div>
                            </div>
                        </div>
                        <div class="ed-blocks ed-work-anniversary">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/work-anniversary.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <div class="ed-block-1 ed-b-birthday">Work Anniversary</div>
                                <div class="ed-block-2 ed-b-celebration">2 Celebration</div>
                            </div>
                        </div>
                        <div class="ed-blocks ed-new-joiners">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/new-joiners.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <div class="ed-block-1 ed-b-birthday">New Joiners</div>
                                <div class="ed-block-2 ed-b-celebration">No New Joiners</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-middle-block emp-dash-attendance">
                        <div class="emp-dash-block-header">
                            <span class="header-title">Attendance</span>
                        </div>
                        <div class="emp-dash-block-content">
                            <canvas id="emp-dash-attendance" style="width:100%;max-width:100%"></canvas>
                        </div>                        
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-right-block emp-dash-management">
                        <div class="ed-blocks ed-learning-management">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/circum_laptop.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <div class="ed-block-1 ed-b-learning-management">Learning Management System</div>
                            </div>
                        </div>
                        <div class="ed-blocks ed-policies">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/fluent-mdl2_entitlement-policy.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <div class="ed-block-1 ed-b-policies">Policies</div>
                            </div>
                        </div>
                        <div class="ed-blocks ed-job-referal">
                            <div class="ed-block-left ed-b-left"><img src="~/Assets/dashboard/hugeicons_job-share.png"></div>
                            <div class="ed-block-right ed-b-right">
                                <div class="ed-block-1 ed-b-job-referal">Job Referral</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 emp-dash-block-2">
                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-upcoming-holidays">
                        <div class="emp-dash-block-header">
                            <span class="header-title">Upcoming Holidays</span>
                            <span class="header-viewall">View All <i class="far fa-arrow-alt-circle-right"></i></span>
                        </div>
                        <div class="emp-dash-block-content">
                            <div class="emp-dash-upcoming-holidays-block">
                                <div class="emp-upcoming-left">
                                    <div class="holiday-name">Independance Day</div>
                                    <div class="holiday-date">15 Aug 24 Thursday</div>
                                </div>
                                <div class="emp-upcoming-right">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                            <div class="emp-dash-upcoming-holidays-block">
                                <div class="emp-upcoming-left">
                                    <div class="holiday-name">Independance Day</div>
                                    <div class="holiday-date">15 Aug 24 Thursday</div>
                                </div>
                                <div class="emp-upcoming-right">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-recent-tickets">
                        <div class="emp-dash-block-header">
                            <span class="header-title">Recent Tickets</span>
                        </div>
                        <div class="emp-dash-block-content">
                            <div class="emp-dash-recent-tickets-block">
                                <div class="emp-recent-tickets-left">
                                    <div class="emp-ticket-navbar">IT</div>
                                </div>
                                <div class="emp-recent-tickets-right">
                                    <div class="recent-tickets-title">System Not Working</div>
                                    <div class="recent-tickets-info">
                                        <span class="recent-tickets-info-left"><img src="/Assets/dashboard/iconoir-priority-high.png"><span class="emp-ticket-priority-label">Priority</span> - <span class="emp-ticket-priority-status priority-high">High</span></span>
                                        <span class="recent-tickets-info-right"><img src="/Assets/ei_user.png"> <span class="emp-ticket-priority-label">Status</span> <span class="emp-ticket-priority-status status-pending">Pending</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="emp-dash-recent-tickets-block">
                                <div class="emp-recent-tickets-left">
                                    <div class="emp-ticket-navbar">IT</div>
                                </div>
                                <div class="emp-recent-tickets-right">
                                    <div class="recent-tickets-title">System Not Working</div>
                                    <div class="recent-tickets-info">
                                        <span class="recent-tickets-info-left"><img src="/Assets/dashboard/iconoir-priority-high.png"><span class="emp-ticket-priority-label">Priority</span> - <span class="emp-ticket-priority-status priority-medium">Medium</span></span>
                                        <span class="recent-tickets-info-right"><img src="/Assets/ei_user.png"> <span class="emp-ticket-priority-label">Status</span> <span class="emp-ticket-priority-status status-closed">Closed</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 emp-dash-basic-info emp-dash-hours-spent">
                        <div class="emp-dash-block-header">
                            <span class="header-title">Upcoming Holidays</span>
                            <span class="header-dropdown">
                                <select name="emp-dash-hours-spent-yearly" id="emp-dash-hours-spent-yearly">
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                            </span>
                        </div>
                        <div class="emp-dash-block-content">
                            <canvas id="emp-dash-hours-spent" style="width:100%;max-width:100%"></canvas>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        
    </div>
    @Html.Partial("_compoff", Model.Employees)
</div>

<script src="~/Scripts/z-EmpDash.js"></script>
<script src="~/Scripts/z-empleave.js"></script>

<script>
    let currentIndex = 0;

    function updateleaveslider() {
        const leavesliderWrapper = document.querySelector('.leaveslider-wrapper');
        const items = document.querySelectorAll('.leaveslider-item');
        const itemWidth = items[0].getBoundingClientRect().width;
        const totalItems = items.length;
        const visibleItems = Math.floor(document.querySelector('.leaveslider-container').clientWidth / itemWidth);

        if (currentIndex >= totalItems - visibleItems) {
            currentIndex = totalItems - visibleItems;
        }

        if (currentIndex < 0) {
            currentIndex = 0;
        }

        leavesliderWrapper.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
    }

    function nextSlide() {
        currentIndex++;
        if (currentIndex >= document.querySelectorAll('.leaveslider-item').length) {
            currentIndex = 0; // Loop back to the first item
        }
        updateleaveslider();
    }

    function prevSlide() {
        currentIndex--;
        if (currentIndex < 0) {
            currentIndex = document.querySelectorAll('.leaveslider-item').length - 1; // Loop back to the last item
        }
        updateleaveslider();
    }

    window.addEventListener('resize', updateleaveslider);
    window.addEventListener('load', () => {
        updateleaveslider();

        // Start automatic sliding
        /*setInterval(nextSlide, slideInterval);*/
    });





</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    var xValues = ["Present", "Leave", "Absent"];
    var yValues = [55, 20, 33];
    var barColors = [
        "#96CD5C",
        "#C85353",
        "#00B4F2"
    ];

    new Chart("emp-dash-attendance", { 
        type: "doughnut",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {
                display: true,
                position: 'bottom' // Set the legend to the bottom
            }
        }
    });


    var xValues = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug"];
    var yValues = [290, 250, 245, 125, 10, 255, 160, 60];
    var barColors = ["#9540ED", "#9540ED", "#9540ED", "#9540ED", "#9540ED", "#9540ED", "#9540ED", "#9540ED"];

    new Chart("emp-dash-hours-spent", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues,
                borderWidth: 0 
            }]
        },
        options: {
            legend: {
                display: false // Disable the legend
            },
            scales: {
                xAxes: [{
                    barPercentage: 0.5,  // Adjust the width of the bars
                    categoryPercentage: 0.5, // Adjust the space between bars
                    gridLines: {
                        display: false // Remove gridlines on the x-axis
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        display: false // Remove gridlines on the x-axis
                    }
                }]
            }
        }
    });
</script>