
@{
    ViewBag.Title = "TimesheetMonthlyTemplate";
}

<style>
    .monthly-timesheet-header {
        text-align: center;
        font-size: 25px;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        padding: 0px !important;
    }

    #adminmonthlytimesheet td {
        font-size: 17px;
        border: 2px solid #dee2e6;
        padding: 5px;
    }

    .monthlyupdate-timesheet-header {
        text-align: center;
        font-size: 20px;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        padding: 0px !important;
    }

    .monthlyupdate-timesheet-subheader th {
        text-align: center;
        font-size: 16px;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        padding: 0px !important;
    }

    #adminmonthlyupdatesheet td {
        font-size: 14px;
        border: 2px solid #dee2e6;
        padding: 5px;
    }

    .leaveupdate-timesheetmonthly-header {
        text-align: center;
        font-size: 20px;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        padding: 0px !important;
    }

    .leaveupdate-timesheetmonthly-subheader th {
        text-align: center;
        font-size: 16px;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        padding: 0px !important;
    }

    #adminleaveupdatesheetmonthly td {
        font-size: 14px;
        border: 2px solid #dee2e6;
        padding: 5px;
    }

    .analysisupdate-timesheetmonthly-header {
        text-align: center;
        font-size: 20px;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        padding: 0px !important;
    }

    #adminanalysisupdatesheetmonthly td {
        font-size: 14px;
        border: 2px solid #dee2e6;
        padding: 5px;
    }

    #adminanalysisupdatesheetmonthly tbody th {
        font-size: 14px;
        border: 2px solid #dee2e6;
        padding: 5px;
    }
    #adminmonthlyupdatesheet {
        width: 100%;
        table-layout: fixed;
    }

    .dataTables_wrapper {
        padding: 0px;
    }
    #adminmonthlyupdatesheet_paginate
    {
        display:none;
    }
    #adminmonthlyupdatesheet_length
    {
        font-size:14px;
        margin-bottom:0px;
    }
</style>


<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-9 p-0">
            <table class="table table-admin-monthly-timesheet" id="adminmonthlytimesheet" style="table-layout:fixed;font-size:14px;">
                <thead style="background-color: #d8e6fb;">
                    <tr>
                        <th class="monthly-timesheet-header" colspan="4">Designation - Monthly Status Report For Month</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Resource Name</b></td>
                        <td>Prathiksha Kubendran</td>
                        <td><b>Project Manager</b></td>
                        <td> Shantha M Balakumar</td>
                    </tr>
                    <tr>
                        <td><b>Month Start Date</b></td>
                        <td>01-11-2024</td>
                        <td><b>Month End Date</b></td>
                        <td>30-11-2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center p-0">
            <img class="" src="~/Assets/Logol.png" />
        </div>
    </div>
    <div class="row mb-2">
        <table class="table table-admin-monthlyupdate-timesheet" id="adminmonthlyupdatesheet" style="width:100%;font-size:14px;">
            <thead style="background-color: #d8e6fb;">
                <tr>
                    <th class="monthlyupdate-timesheet-header" colspan="8">TASK DETAILS(25-11-2024 TO 01-12-2024)</th>
                </tr>
                <tr class="monthlyupdate-timesheet-subheader">
                    <th style="width: 7%;">Date</th>
                    <th style="width: 10%;">Category</th>
                    <th style="width: 15%;">Task/Incident Name</th>
                    <th style="width: 30%;">Task/Incident Description</th>
                    <th style="width: 10%;">Priority</th>
                    <th style="width: 10%;">Requester</th>
                    <th style="width: 10%;">Status</th>
                    <th style="width: 8%;">Total Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>02-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>03-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>04-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>05-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>06-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>07-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>08-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>09-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>11-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>16-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>17-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>18-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>19-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>20-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>21-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>22-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>23-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>24-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>25-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>26-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>27-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>28-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>29-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>30-11-2024</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-4">
        <div class="col-6 p-0">
            <table class="table table-admin-leaveupdate-timesheetmonthly" id="adminleaveupdatesheetmonthly" style="width:80%;font-size:14px;">
                <thead style="background-color: #d8e6fb;">
                    <tr>
                        <th class="leaveupdate-timesheetmonthly-header" colspan="8">LEAVE INFORMATION</th>
                    </tr>
                    <tr class="leaveupdate-timesheetmonthly-subheader">
                        <th>LEAVE DATE</th>
                        <th>LEAVE TYPE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sick Leave</td>
                        <td>2 days</td>
                    </tr>
                    <tr>
                        <td>NA</td>
                        <td>NA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 p-0">
            <table class="table table-admin-analysisupdate-timesheetmonthly" id="adminanalysisupdatesheetmonthly" style="width:80%;font-size:14px;">
                <thead style="background-color: #d8e6fb;">
                    <tr>
                        <th class="analysisupdate-timesheetmonthly-header" colspan="8">ANALYSIS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Total Billable Hours(till Date)</th>
                        <td>40</td>
                    </tr>
                    <tr>
                        <th>Total NonBillable Hours(till Date)</th>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (!$.fn.DataTable.isDataTable('#adminmonthlyupdatesheet')) {
            $('#adminmonthlyupdatesheet').DataTable({
                "paging": true,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false, // Disable automatic width adjustment
                "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]],
                "columnDefs": [
                    { "orderable": false, "targets": 1 },
                    { "orderable": false, "targets": 3 }
                ],
                "columns": [
                    { "width": "7%" },
                    { "width": "10%" },
                    { "width": "15%" },
                    { "width": "30%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "10%" },
                    { "width": "8%" }
                ]
            });
        }
    });
</script>