<div class="admin-empadd-view">
    <h2 style="margin-bottom: 73px;
    margin-left: 58px;">
        Add Employee
    </h2>
    <nav class="navbar navbar-expand-xl navbar-light" style="margin-right: 229px;">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="tab1-link" class="nav-link admin-add-emptab active" href="#tab1" data-toggle="tab">General information</a>
                </li>
                <li class="nav-item">
                    <a id="tab2-link" class="nav-link admin-add-emptab" href="#tab2" data-toggle="tab">Bank details</a>
                </li>
                <li class="nav-item">
                    <a id="tab3-link" class="nav-link admin-add-emptab" href="#tab3" data-toggle="tab">ID proof details</a>
                </li>
                <li class="nav-item">
                    <a id="tab4-link" class="nav-link admin-add-emptab" href="#tab4" data-toggle="tab">Statutory details</a>
                </li>
                <li class="nav-item">
                    <a id="tab5-link" class="nav-link admin-add-emptab" href="#tab5" data-toggle="tab"> Education details</a>
                </li>
                <li class="nav-item">
                    <a id="tab6-link" class="nav-link admin-add-emptab" href="#tab6" data-toggle="tab"> Previous employer details</a>
                </li>
                <li class="nav-item">
                    <a id="tab7-link" class="nav-link admin-add-emptab" href="#tab7" data-toggle="tab"> Seperation information</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="tab-content">
        <div id="tab1" class="tab-pane active">
            <form id="tab1-form" class="tabs-view">
                <div class="container tab-container" style="margin-left: 5px">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employeeID">Employee ID</label>
                                <input type="text" class="form-control" id="employeeID">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employeeName">Employee Name</label>
                                <input type="text" class="form-control" id="employeeName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="fatherName">Father's Name</label>
                                <input type="text" class="form-control" id="fatherName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dateOfJoining">Date of Joining</label>
                                <input type="date" class="form-control" id="dateOfJoining">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dateOfBirth">Date of Birth</label>
                                <input type="date" class="form-control" id="dateOfBirth" onchange="calculateAge()">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" readonly="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="bloodGroup">Blood Group</label>
                                <select class="form-control" id="bloodGroup">
                                    <option value="" disabled="" selected="" hidden=""></option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="employeeStatus">Employee Status</label>
                                <select class="form-control" id="employeeStatus">
                                    <option value="" disabled="" selected="" hidden=""></option>
                                    <option value="active">Active</option>
                                    <option value="inactive">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Add more rows with columns as needed for additional form fields -->

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employeeID">Employee ID</label>
                                <input type="text" class="form-control" id="employeeID">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employeeName">Employee Name</label>
                                <input type="text" class="form-control" id="employeeName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="fatherName">Father's Name</label>
                                <input type="text" class="form-control" id="fatherName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dateOfJoining">Date of Joining</label>
                                <input type="date" class="form-control" id="dateOfJoining">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="gender">Gender</label>
                                <select class="form-control" id="gender">
                                    <option value="" disabled selected hidden></option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="maritalStatus">Marital Status</label>
                                <select class="form-control" id="maritalStatus">
                                    <option value="" disabled selected hidden></option>
                                    <option value="single">Single</option>
                                    <option value="married">Married</option>
                                    <option value="divorced">Divorced</option>
                                    <option value="widowed">Widowed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="designation">Designation:</label>
                                <select class="form-control" id="designation">
                                    <option value="" disabled selected hidden></option>
                                    <option value="manager">Manager</option>
                                    <option value="engineer">Engineer</option>
                                    <option value="analyst">Analyst</option>
                                    <option value="developer">Developer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="department">Department</label>
                                <select class="form-control" id="departmentSelect">
                                    <option value="" disabled selected hidden></option>
                                    <option value="1">Department 1</option>
                                    <option value="2">Department 2</option>
                                    <option value="3">Department 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="client">Client</label>
                                <select class="form-control" id="client" onchange="handleClientChange(this.value)">
                                    <option value="" disabled selected hidden></option>
                                    <option value="client1">Client 1</option>
                                    <option value="client2">Client 2</option>
                                    <option value="client3">Client 3</option>
                                    <option value="add">Add New Client</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="employeeType">Employee Type</label>
                                <select class="form-control" id="employeeType">
                                    <option value="" disabled selected hidden></option>
                                    <option value="full_time">Full-Time</option>
                                    <option value="part_time">Part-Time</option>
                                    <option value="contract">Contract</option>
                                    <option value="intern">Intern</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="location">Location</label>
                                <select class="form-control" id="location">
                                    <option value="" disabled selected hidden></option>
                                    <option value="hyderabad">Hyderabad</option>
                                    <option value="madurai">Madurai</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="reportingManager">Reporting Manager</label>
                                <select class="form-control" id="reportingManager">
                                    <option value="" disabled selected hidden></option>
                                    <option value="manager1">Manager 1</option>
                                    <option value="manager2">Manager 2</option>
                                    <option value="manager3">Manager 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group drop-menu">
                                <label for="leaveRM">Leave Reporting Manager</label>
                                <select class="form-control" id="leaveRM">
                                    <option value="" disabled selected hidden></option>
                                    <option value="manager1">Manager 1</option>
                                    <option value="manager2">Manager 2</option>
                                    <option value="manager3">Manager 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="mobileNumber">Mobile Number</label>
                                <input type="text" class="form-control" id="mobileNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="officialEmail">Official Email</label>
                                <input type="email" class="form-control" id="officialEmail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group present-address">
                                <label for="presentAddress">Present Address</label>
                                <textarea class="form-control" id="presentAddress"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group permanent-address">
                                <label for="permanentAddress">Permanent Address</label>
                                <input type="checkbox" id="copyPresentAddress">
                                <label for="copyPresentAddress">Same as Present Address</label>
                                <textarea class="form-control" id="permanentAddress"></textarea>
                            </div>
                        </div>
                    </div>
                    <h4 class="emergency-det">Emergency Contact Details</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="relationship">Relationship</label>
                                <input type="text" class="form-control" id="relationship">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="famMobileNumber">Family Mobile Number</label>
                                <input type="text" class="form-control" id="famMobileNumber">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save and Next</button>
                </div>
            </form>
        </div>

        <div id="tab2" class="tab-pane">
            <form id="tab2-form" class="tabs-view">
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="bankName">Bank Name</label>
                                <input type="text" class="form-control" id="bankName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="accountNumber">Account Number</label>
                                <input type="text" class="form-control" id="accountNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="branch">Branch</label>
                                <input type="text" class="form-control" id="branch">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="typeOfAccount">Type of Account</label>
                                <input type="text" class="form-control" id="typeOfAccount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ifscCode">IFSC Code</label>
                                <input type="text" class="form-control" id="ifscCode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div id="tab3" class="tab-pane">
            <form id="tab3-form" class="tabs-view" style="display: none;">
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="panNumber">PAN Number</label>
                                <input type="text" class="form-control" id="panNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="aadharNumber">Aadhar Number</label>
                                <input type="text" class="form-control" id="aadharNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="passportNumber">Passport Number</label>
                                <input type="text" class="form-control" id="passportNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="passportDOE">Passport Date of Expiry</label>
                                <input type="text" class="form-control" id="passportDOE">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div id="tab4" class="tab-pane">
            <form id="tab4-form" class="tabs-view" style="display: none;">
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="uanNumber">UAN Number</label>
                                <input type="text" class="form-control" id="uanNumber">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pfNumber">PF Number</label>
                                <input type="text" class="form-control" id="pfNumber">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="esicNumber">ESIC Number</label>
                                <input type="text" class="form-control" id="esicNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div id="tab5" class="tab-pane">

            <form id="tab5-form" class="tabs-view" style="display: none;">
                <div class="container tab-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="latestDegree">Latest Degree</label>
                                <input type="text" class="form-control" id="latestDegree">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="collegeName">College Name</label>
                                <input type="text" class="form-control" id="collegeName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="specialization">Specialization</label>
                                <input type="text" class="form-control" id="specialization">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="yearOfCompletion">Year of Completion</label>
                                <input type="text" class="form-control" id="yearOfCompletion">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div id="tab6" class="tab-pane">
            <form id="tab6-form" class="tabs-view" style="display: none;">
                <div class="container tab-container">
                    <div class="row">
                        <!-- Previous Employer Details fields -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employerName">Employer Name</label>
                                <input type="text" class="form-control" id="employerName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="jobTitle">Job Title</label>
                                <input type="text" class="form-control" id="jobTitle">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="fromDate">From Date</label>
                                <input type="date" class="form-control" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="toDate">To Date</label>
                                <input type="date" class="form-control" id="toDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="reasonOfRelieving">Reason of Relieving:</label>
                                <input type="text" class="form-control" id="reasonOfRelieving">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Save and Next</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div id="tab7" class="tab-pane">
            <form id="tab7-form" class="tabs-view" style="display: none;">
                <div class="container tab-container">
                    <div class="row">
                        <!-- Separation Information fields -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dateOfExit">Date of Exit:</label>
                                <input type="date" class="form-control" id="dateOfExit">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reason">Reason</label>
                                <input type="text" class="form-control" id="reason">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="eligibleForRehire">Eligible for Rehire</label>
                                <input type="text" class="form-control" id="eligibleForRehire">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



