@Html.Partial("_NavBar")
<div class="container-fluid res-admin-Ticketing">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid" style="width: 84%">
        <div class="content admin-'Ticketing-container" style="margin-left: -25px; margin-top: 10px;">
            <h2>AdminTicketingView</h2>
        </div>
    </div>
   
</div>

