
@{
    ViewBag.Title = "AdminJobDetail";
}

@Html.Partial("_NavBar")
<div class="container-fluid res-admin-jobreferral">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
<div class="main-content container-fluid admin-jobreferral-list-horizon admin-jobreferral-detail-horizon" style="width: 86%">
        <div class="content admin-jobreferral" style="margin-top:20px;padding:0px">
            <div class="admin-jobreferal-container">
                <div class="row admin-jobreferral-header">
                    <div class="col-lg-12 admin-jobreferral-title">
                        <h4>Recruitment Administrator-12891/#01</h4>
                    </div>
                </div>
            </div>

            <div class="admin-jobreferral-details" id="adminJobReferralDetail">
                <div class="row">
                    <div class="col-lg-8 admin-jobreferral-detail-left">
                        <div class="admin-jobreferral-detail-work-block">
                            <div class="work-block-experince">Work Experience : 5 to 10 Years</div>
                            <div class="title-block-location">Location : Chennai</div>
                        </div>
                        <div class="admin-jobreferral-detail-desc-block">
                            <div class="emp-jobreferral-detail-desc-title" style="font-weight:700;margin-bottom:10px;">Job Description:</div>
                            <div>
                                <p>Engage with business users to understand their requirements and translate them into actionable analytical problems.</p>
                            </div>

                            <div>
                                <p>Data Modeling and Solution Development:</p>
                                <p>Design, develop, and implement SAP BW 4 HANA based data models and ETL processes to meet business reporting and analytical needs.</p>
                            </div>

                            <div>
                                <p>Collaboration and Teamwork:</p>
                                <p>Work closely with SAP Functional consultants, Solution Architects, and UI developers to integrate data models into comprehensive business solutions.</p>
                            </div>

                            <div>
                                <p>Technical Documentation:</p>
                                <p>Create and maintain technical specification documents outlining data models, ETL processes, and system integrations.</p>
                            </div>

                            <div>
                                <p>Support and Issue Resolution:</p>
                                <p>Resolve SAP BW related issues and support requests according to defined service level agreements (SLAs).</p>
                            </div>

                            <div>
                                <p>Process Chain Monitoring:</p>
                                <p>Monitor daily process chains within SAP BW 4 HANA and proactively address any issues to ensure data integrity and system performance.</p>
                            </div>

                            <div>
                                <p>Continuous Learning and Skill Development:</p>
                                <p>Stay updated with the latest SAP BW technologies and tools. Willingness to cross-skill and explore emerging technologies in the analytics domain.</p>
                            </div>

                            <div>
                                <p>Reporting and Communication:</p>
                                <p>Effectively communicate with stakeholders, customers, and project teams to ensure alignment on project goals, timelines, and deliverables.</p>
                            </div>

                        </div>                        

                    </div>
                    <div class="col-lg-4 admin-jobreferral-detail-right">
                        <div class="admin-jobreferal-details">
                            <div class="admin-jobreferral-detail-title">Track Referal Status</div>
                            <div class="admin-jobreferral-detail-body">
                                <div class="admin-jobreferral-detail-track">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-1 col-sm-2 admin-jobreferral-detail-track-left">
                                            <div class="userIcon"><img src="~/Assets/calender-icon.png" alt="Image" class="admin-jobreferral-detail-track-image" style="height:38px;"></div>
                                            <div class="status-line"></div>
                                        </div>
                                        
                                        <div class="col-lg-9 col-md-10 col-sm-10 admin-jobreferral-detail-track-mid" style="padding-top:6px;line-height:1.2rem">
                                            <span class="admin-jobreferral-detail-track-ref">Referal Date</span><br />
                                            <span class="admin-jobreferral-detail-track-refvalue"><b>05 October 2024</b></span>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="admin-jobreferral-detail-track">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-1 col-sm-2 admin-jobreferral-detail-track-left">
                                            <div class="userIcon"><img src="~/Assets/status_icon.png" alt="Image" class="admin-jobreferral-detail-track-image"  style="height:38px;"></div>
                                        </div>
                                        <div class="col-lg-9 col-md-10 col-sm-10 admin-jobreferral-detail-track-mid" style="padding-top:6px;line-height:1.2rem;">
                                            <span class="admin-jobreferral-detail-track-status">Status</span><br />
                                            <span class="admin-jobreferral-detail-track-statusvalue"><b>Closed</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

