
@{
    ViewBag.Title = "AdminHrTicketing";
}
@Html.Partial("_NavBar")
<div class="container-fluid res-admin-Ticketing">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid AdminHrTicketing-View" style="width: 84%">
        <h2>AdminHrTicketing</h2>
    </div>

</div>