<div class="admin-leave-compoff-view">
    <div class="container-fluid res-admin-leavecompoff-view">
        <div class="row res-admincompoff-header">
            <div class="col-sm-12 col-md-12 col-lg-4 res-adminleave-compoff-header-left">
                <h3>Compensatory Off Request</h3>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3 d-flex justify-content-center res-adminleave-compoff-header-center">
                <div class="search-container">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 10px 0 0 10px; height: 35px;"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" placeholder="Search By Keyword" class="advanceLeavecompoffsearch form-control" aria-label="Search By Keyword" style="border-radius: 0 10px 10px 0; height: 35px; font-size: 14px;">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 d-flex justify-content-end res-adminleave-compoff-header-right">
                <div class="dropdowns-leave-compoff-container">
                    

                    <div class="form-group adminleave-compoff-dropdown" style="margin-top: 10px;">
                        <label class="export-compoff-label" for="exportcompoffLeaveLabel" style="margin:0;">Filter</label>
                        <i class="fas fa-chevron-down" id="exportcompoffLeaveIcon" style="cursor: pointer; font-size:13px;" data-toggle="collapse" data-target="#LeavecompoffDateDropdown"></i>
                    </div>
                    <div class="dropdown res-adminleave-drop">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="leavecompoffSettingsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Leave Settings
                        </button>
                        <div class="dropdown-menu" aria-labelledby="leavecompoffSettingsDropdown" style="border:1px solid gray">
                            <a class="dropdown-item adminleave-compoff-Balanve-link">Leave Balance</a>
                            <a class="dropdown-item adminside-leave-compoff-apply">Apply Leave</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="collapse" id="LeavecompoffDateDropdown">

            <div class="col-md-4"></div> <!-- Empty column -->
            <div class="col-md-8 d-flex res-adminleave-compoff-from-to">
                <div class="form-group d-flex">
                    <label for="from" class="mr-2">From</label>
                    <input type="date" class="form-control form-control-sm mr-2" id="fromDate" style="width: 120px;">
                </div>
                <div class="form-group d-flex">
                    <label for="to" class="mr-2">To</label>
                    <input type="date" class="form-control form-control-sm mr-2" id="toDate" style="width: 120px;">
                </div>
                <div class="form-group d-flex align-items-center mr-2">
                    <button type="button" class="btn btn-sm btn-primary leave-submit">Submit</button>
                    <a href="#" class="clearLeave-compoff-filter ml-2">Clear</a>
                </div>

            </div>
        </div>

        <div class="res-adminleavecompoffTable-mgmt table-responsive">
            <table id="adminleavecompoffTable" class="table leave-compoff-table" style="width:96%;">
                <thead class="thead-light" style="display:none;">
                </thead>
                <tbody>
                    <tr class="rowBorder">
                        <td class="fontSmall">232</td>
                        <td>
                            <div class="userLeaveDetails">
                                <img src="/img"
                                     class="userIcon"
                                     alt="user" />
                                <div class="fontSmall">
                                    <p class="mb-0 fontWtMedium">test user</p>
                                    <a href="#">emailid@ambc.com</a>
                                </div>
                            </div>
                        </td>
                        <td class="fontSmall dataMinWidth dateMaxWidth">
                            <span class="mutedText">Requested Date</span>
                            <p class="mb-0 fontWtMedium">10 Oct 2024, Mon</p>

                        </td>
                        <td class="fontSmall">
                            <div class="mutedText">Work Date</div>
                            <span class="fontWtMedium">10 Oct 2024, Mon</span>
                        </td>
                        <td class="fontSmall">
                            <div class="mutedText">Location</div>
                            <span class="fontWtbold">Madurai</span>
                        </td>
                        <td class="fontSmall commentSec">
                            <div class="dFlex">
                                <i class="fa-solid fa-message chatIcon"></i>
                                <p>
                                    Test data Test data Test data Test data
                                </p>
                            </div>
                            <div class="statusBtnFlex">
                                <a href="" class="statusBtn acceptLeavecompoffBtn" data-leavename="Approve">Approve</a>
                                <a href="" class="statusBtn rejectLeavecompoffBtn" data-leavename="Reject">Reject</a>
                                <i class="fas fa-ellipsis-h adminleave-edit-history" onclick="toggleAdminLeaveHistoryActionOptions(this)"></i>
                                <div class="admin-leavehistoryoptions" style="display:none">
                                    <a class="dropdown-item admin-leavehistory-edit" onclick="adminleavehistoryedit($(this))" data-adminleavehistoryname=''>Edit</a>
                                    <a class="dropdown-item admin-leavehistory-cancel" onclick="adminleavehistorycancel($(this))" data-adminleavehistoryname=''>Cancel</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {

            if (!$.fn.DataTable.isDataTable('#adminleavecompoffTable')) {
                $('#adminleavecompoffTable').DataTable({
                    "responsive": true,
                    "paging": true,
                    "searching": true,
                    "ordering": false,
                    "info": true,
                    "autoWidth": false,
                    "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]],
                    "columnDefs": [
                        { "orderable": false, "targets": 0 },
                        { "orderable": false, "targets": 1 },
                        { "orderable": false, "targets": 2 },
                        { "orderable": false, "targets": 3 },
                        { "orderable": false, "targets": 4 },
                        { "orderable": false, "targets": 5 },
                        { "orderable": false, "targets": 6 },
                    ]
                });
            }
        });

    function toggleAdminLeaveHistoryActionOptions(iconElement) {
        const optionsMenu = $(iconElement).next('.admin-leavehistoryoptions');
        $('.admin-leavehistoryoptions').not(optionsMenu).hide(); // Hide any other open menus
        optionsMenu.toggle(); // Toggle visibility of the clicked menu
    }
</script>