
@{
    ViewBag.Title = "AdminTimesheetView";
}
@Html.Partial("_NavBar")
<div class="container-fluid res-admin-timesheet">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid AdminTimesheet-View">
        <div class="content admin-timesheet-list">
            <div class="container-fluid admin-timesheet">
                <div class="admin-timesheet-container">

                    <div class="row admin-timesheet-header">
                        <div class="admin-timesheet-header-title">
                            <h4>Timesheet</h4>
                        </div>
                        <div class="admin-timesheet-header-right ml-auto">
                            <span class="admin-timesheet-header-report">
                                <select class="form-control" id="admin-timesheet-report">
                                    <option value="1">Daily Report</option>
                                    <option value="2">Weekly Report</option>
                                </select>
                            </span>
                            <button type="button" class="btn btn-primary btn-admin-timesheet-sendremainder" data-toggle="modal" data-target="#adminTimesheetSendRemainderModal">Send Remainder</button>
                        </div>
                    </div>

                    <div class="admin-timesheet-content">

                        <div class="emp-timesheet-details timesheet-nav" id="adminTimesheet">

                            <div class="admin-timesheet-header-block">
                                <div class="admin-timesheet-header-block-left">
                                    <div class="admin-timesheet-block1">
                                        <span class="admin-timesheet-weekno">Week 42</span>
                                        <span class="admin-timesheet-weekrange-info">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            <span class="admin-timesheet-weekrange">04 November 2024 <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 10 November 2024</span>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="admin-timesheet-block2">
                                        <div class="form-group col-lg-12 div-timesheet-company">
                                            <select class="form-control" id="admintimesheetCompany">
                                                <option value="1">AMBC</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="admin-timesheet-block3">
                                        <div class="form-group col-lg-12 div-timesheet-employeename">
                                            <select class="form-control" id="admintimesheetEmployeeName">
                                                <option value="1">Test1</option>
                                                <option value="2">Test2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="admin-timesheet-block4">
                                        <button type="button" class="btn btn-primary timesheet-View">View</button>
                                    </div>
                                </div>
                                <div class="admin-timesheet-header-block-right">
                                    <img src="~/Assets/Export.png">
                                </div>
                            </div>

                            <div class="admin-timesheet-graph-block">
                                <div class="admin-timesheet-graph-header">
                                    <span class="admin-timesheet-graph-resourcename"><span>Resource Name </span> 1122 Test User</span>
                                    <span class="admin-timesheet-graph-reportingmanager"><span>Reporting Manager </span> Shanta M Balakumar</span>
                                </div>
                                <div class="admin-timesheet-graph-body">
                                    <div class="admin-timesheet-hours-spent">
                                        <div class="admin-timesheet-block-content admin-timesheet-block-bar">
                                            <div id="admin-timesheet-hours-spent" style="height: 270px; width: 100%;"></div>
                                        </div>
                                    </div>
                                    <div class="admin-timesheet-attendance">
                                        <div class="admin-timesheet-block-content admin-timesheet-block-donut">
                                            <div class="admin-timesheet-block-donut-title">Hours Spent</div>
                                            <canvas id="admin-timesheet-attendance" style="width:100%;max-width:100%"></canvas>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>

                        <div class="admin-timesheet-table-block">
                            <div class="admin-timesheet-table-body">
                                <div class="admin-timesheet-body table-responsive">
                                    <table id="admintimesheetlistingTable" class="table admin-timesheet-table" style="width: 100%; color: #272727">
                                        <thead style=" background-color: #3E78CF; border-radius: 10px;">
                                            <tr>
                                                <th>Date</th>
                                                <th>Category</th>
                                                <th>Task/Incident Name</th>
                                                <th>Task/Incident Description</th>
                                                <th>Priority</th>
                                                <th>Requester</th>
                                                <th>Status</th>
                                                <th>Total Hours</th>
                                            </tr>
                                        </thead>
                                        <tbody id="admintimesheetBody">
                                            <tr>
                                                <td>07-11-2024</td>
                                                <td>Support</td>
                                                <td>HRMS</td>
                                                <td>Help Desk Tickets and IDERA Monitoring & Diskspace</td>
                                                <td>Medium</td>
                                                <td>Medium</td>
                                                <td>Closed</td>
                                                <td>0.90</td>
                                            </tr>
                                            <tr>
                                                <td>07-11-2024</td>
                                                <td>Support</td>
                                                <td>HRMS</td>
                                                <td>Help Desk Tickets and IDERA Monitoring & Diskspace</td>
                                                <td>Medium</td>
                                                <td>Medium</td>
                                                <td>Closed</td>
                                                <td>0.90</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!-- Timesheet Send Remainder Password Modal -->
<div id="adminTimesheetSendRemainderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="adminTimesheetSendRemainderModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empTicketConfirmCancelModalLabel">Send Remainder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="admin-timesheetsendremainder-body table-responsive">
                    <table id="admintimesheetsendremainderTable" class="table admin-timesheet-table" style="width: 100%; color: #272727">
                        <thead style=" background-color: #3E78CF; border-radius: 10px;">
                            <tr>
                                <th>Select Employee</th>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Client</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody id="admintimesheetBody">
                            <tr>
                                <td><input type="checkbox" name="adminTimesheetEmpCheckbox" value="test" /></td>
                                <td>112</td>
                                <td>Test Name</td>
                                <td>AMBC</td>
                                <td>Madurai</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="adminTimesheetEmpCheckbox" value="test" /></td>
                                <td>112</td>
                                <td>Test Name</td>
                                <td>AMBC</td>
                                <td>Madurai</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="admin-timesheet-sendremainder-notes">
                    <span>Note:</span>  Send remainder for all the selected employees in single/group email
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ticketname="" id="adminTimesheetSendRemainderSubmitButton">Send Remainder</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script>
    $(document).ready(function () {
        // Define static data points in jQuery

        var dataPoints1 = [
            { label: "4-11-2024", y: 0, indexLabel: "" },
            { label: "5-11-2024", y: 0, indexLabel: "" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0.2, indexLabel: "Leave" },
            { label: "8-11-2024", y: 0, indexLabel: "" },
            { label: "9-11-2024", y: 0, indexLabel: "" },
            { label: "10-11-2024", y: 0, indexLabel: "" }
        ];

        var dataPoints2 = [
            { label: "4-11-2024", y: 0, indexLabel: "" },
            { label: "5-11-2024", y: 0, indexLabel: "" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0, indexLabel: "" },
            { label: "8-11-2024", y: 0.2, indexLabel: "Holiday" },
            { label: "9-11-2024", y: 0, indexLabel: "" },
            { label: "10-11-2024", y: 0, indexLabel: "" }
        ];

        var dataPoints3 = [
            { label: "4-11-2024", y: 0, indexLabel: "" },
            { label: "5-11-2024", y: 0, indexLabel: "" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0, indexLabel: "" },
            { label: "8-11-2024", y: 0, indexLabel: "" },
            { label: "9-11-2024", y: 0.2, indexLabel: "Weekend" },
            { label: "10-11-2024", y: 0.2, indexLabel: "Weekend" }
        ];

        var dataPoints4 = [
            { label: "4-11-2024", y: 8, indexLabel: "Hours Spent" },
            { label: "5-11-2024", y: 8.10, indexLabel: "Hours Spent" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0, indexLabel: "" },
            { label: "8-11-2024", y: 0, indexLabel: "" },
            { label: "9-11-2024", y: 0, indexLabel: "" },
            { label: "10-11-2024", y: 0, indexLabel: "" }
        ];

        var dataPoints5 = [
            { label: "4-11-2024", y: 1, indexLabel: "Overtime" },
            { label: "5-11-2024", y: 0.10, indexLabel: "Overtime" },
            { label: "6-11-2024", y: 0, indexLabel: "" },
            { label: "7-11-2024", y: 0, indexLabel: "" },
            { label: "8-11-2024", y: 0, indexLabel: "" },
            { label: "9-11-2024", y: 0, indexLabel: "" },
            { label: "10-11-2024", y: 0, indexLabel: "" }
        ];

        // Initialize CanvasJS Chart
        var chart = new CanvasJS.Chart("admin-timesheet-hours-spent", {
            axisY: {
                suffix: " h",
                interval: 2, // Set the interval for Y-axis labels
                minimum: 0,  // Set the starting value of Y-axis
                gridThickness: 0, // Removes the Y-axis grid lines
                lineThickness: 0 // Remove the left axis line
            },
            data: [
                {
                    type: "stackedColumn",
                    name: "Leave",
                    showInLegend: false, // Hide from legend
                    color: "#FF5733",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints1
                },
                {
                    type: "stackedColumn",
                    name: "Hoilday",
                    showInLegend: false, // Hide from legend
                    color: "#FFC300",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints2
                },
                {
                    type: "stackedColumn",
                    name: "Week End",
                    showInLegend: false, // Hide from legend
                    color: "#3e4652",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints3
                },
                {
                    type: "stackedColumn",
                    name: "Hours Spent",
                    showInLegend: false, // Hide from legend
                    color: "#33FF57",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints4
                },
                {
                    type: "stackedColumn",
                    name: "Overtime",
                    showInLegend: false, // Hide from legend
                    color: "#50aced",
                    yValueFormatString: "#,##0 h",
                    dataPoints: dataPoints5
                }

            ]
        });

        // Render the chart
        chart.render();

        // Define the toggleDataSeries function
        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    var xValues = ["Hours Spent", "Overtime"];
    var yValues = [16, 1.10];
    var barColors = [
        "#33FF57",
        "#50aced"
    ];

    // Create the chart
    new Chart("admin-timesheet-attendance", {
        type: "doughnut",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {
                display: true,
                position: 'bottom'
            },
            // Disable hover effects
            hover: {
                mode: null // Disable hover mode
            },
            // Disable animations if you want it to load instantly without hover effects
            animation: {
                duration: 0 // Disable animations on hover
            }
        }
    });

</script>

<script>
    $(document).ready(function () {

        @*$('#admintimesheetEmployeeName').select2();*@

        var table = $('#admintimesheetlistingTable').DataTable({
            "paging": true,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
</script>

