@model HRMS.Models.Admin.AdminLeaveManagementModel

@{
    var pageUrlPath = Request.Url.ToString().ToLowerInvariant();
}


@Html.Partial("_NavBar")

<style>
    .weekend-background {
        color: gray;
    }
</style>

<div class="container-fluid res-admin-leave">
    @Html.Partial("_adminsidemenu")
    <div class="hiddenadmindashboard" style="display: none"></div>
    <div class="main-content container-fluid" style="width: 84%">

        <div class="content admin-leave-container">


            <div class="admin-leavecalender-view">
                <div class="container admin-leave-tracker">
                    <div class="d-flex justify-content-between align-items-center mb-4 res-admin-leave-header">
                        <h4>Leave Tracker</h4>
                        <div class="dropdown">
                            @*<button class="btn dropdown-toggle" type="button" id="adminleaveSettingsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
                                    Leave Settings
                                </button>
                                <div class="dropdown-menu leaveSettings-dropdown" aria-labelledby="leaveSettingsDropdown" style="border:1px solid gray">
                                    <a class="dropdown-item adminleave-history">Leave History</a>
                                    <a class="dropdown-item adminleave-Balanve-link">Leave Balance</a>
                                    <a class="dropdown-item adminleave-CompOff-link">CompOff Request</a>*@
                            <a class="dropdown-item adminside-leaveapply btn-sm">Apply Leave</a>

                            @*</div>*@
                        </div>
                    </div>

                    @if (!pageUrlPath.Contains("fromcompoff"))
                    {
                        <div class="card empleave-card mb-3">
                            <div class="card-header empleave-card-header empleave-calendar-header text-dark">
                                <i class="fas fa-chevron-left empleave-chevron-icon" onclick="prevLeaveMonth()"></i>
                                <h6 id="empleave-monthYear"></h6>
                                <i class="fas fa-chevron-right empleave-chevron-icon" onclick="nextLeaveMonth()"></i>
                            </div>
                            <div class="card-body empleave-calendar-body table-responsive">
                                <table class="table empleave-calendar-table" style="">
                                    <thead>
                                        <tr>
                                            <th scope="col">Monday</th>
                                            <th scope="col">Tuesday</th>
                                            <th scope="col">Wednesday</th>
                                            <th scope="col">Thursday</th>
                                            <th scope="col">Friday</th>
                                            <th scope="col">Saturday</th>
                                            <th scope="col">Sunday</th>
                                        </tr>
                                    </thead>
                                    <tbody id="empleave-calendarBody"></tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <script>
                            $(document).ready(function () {
                                if (document.location.href.toLocaleLowerCase().indexOf('fromcompoff') > -1) {
                                    $('.adminleave-CompOff-link').click();

                                    var uri = window.location.toString();
                                    if (uri.indexOf("?") > 0) {
                                        var clean_uri = uri.substring(0, uri.indexOf("?"));
                                        window.history.replaceState({}, document.title, clean_uri);
                                    }
                                }

                            });
                        </script>
                    }
                </div>

                <div class="empleavesbasedonmonthselected" style="display: none">@Newtonsoft.Json.JsonConvert.SerializeObject(Model.LeavesInfo);</div>

                <script>
                    /* generateLeaveCalendar(new Date().getMonth(), new Date().getFullYear());*/
                </script>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/z-empleave.js"></script>
