
@{
    ViewBag.Title = "AdminAssignAgent";
}
<div class="AdminAssignAgent-View">
    <div class="col-lg-5 col-md-11 admin-ticket-it-popup-form">
        <form id="admin-ticket-it-Form">
            <div class="form-group">
                <h4 class="mb-4 admin-it-ticketing-pagetitle">IT Ticketing</h4>
                <div class="form-group div-admin-itticket-category">
                    <label for="admin-itticket-category" class="admin-itticket-label">Category</label>
                    <input type="text" class="form-control" id="admin-itticket-category" value="Laptop" readonly>
                </div>
                <div class="form-group">
                    <label for="admin-itticket-subject">Subject</label>
                    <input type="text" class="form-control" id="admin-itticket-subject" value="Internet port not working" readonly>
                </div>
                <div class="form-group">
                    <label for="admin-itticket-description">Description*</label>
                    <textarea readonly class="form-control" id="admin-itticket-description">Test data</textarea>
                </div>
                <div class="form-group">
                    <label for="admin-itticket-raisedby">Raised By</label>
                    <input type="text"class="form-control" id="admin-itticket-raisedby" value="1212 Sriram" readonly>
                </div>
                <div class="form-group">
                    <label for="admin-itticket-raisedon">Raised On</label>
                    <input type="text" class="form-control" id="admin-itticket-raisedon" value="03 July 2024" readonly>
                </div>
                <div class="form-group div-admin-itticket-priority">
                    <label for="admin-itticket-priority" class="admin-itticket-priority-label">Priority</label>
                    <input type="text" class="form-control" id="admin-itticket-raisedon" value="High" readonly>
                </div>
                <div class="form-group div-admin-itticket-closedby">
                    <label for="admin-itticket-closedby" class="admin-itticket-priority-label">Closed By*</label>
                    <select class="form-control" id="admin-itticket-closedby">
                        <option selected disabled>Select Name</option>
                        <option value="1">Raj</option>
                        <option value="2">Kumar</option>
                    </select>
                    <span class="error-message" id="admin-itticket-closedby-error"></span>
                </div>
                <div class="admin-itticketing-block">
                    <div class="form-group col-lg-5 div-admin-itticket-status">
                        <label for="admin-itticket-closedby" class="admin-itticket-priority-label">Select Status*</label>
                        <select class="form-control" id="admin-itticket-status">
                            <option selected disabled>Select Status</option>
                            <option value="1">Pending</option>
                            <option value="2">Hold</option>
                        </select>
                        <span class="error-message" id="admin-itticket-status-error"></span>
                    </div>
                    <div class="form-group col-lg-5 div-admin-itticket-closeddate">
                        <label for="admin-itticket-closeddate" class="admin-itticket-closeddate-label">Closed Date*</label>
                        <input type="date" class="form-control form-control-sm mr-2" id="admin-itticketing-closeddate" value="">
                    </div>
                </div>
                <div class="admin-itticket-submit">
                    <button type="submit" class="btn btn-apply-admin-itticket-cancel mb-4">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-apply-admin-itticket-submit mb-4">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>