@model HRMS.Models.Admin.AdminLeaveBalanceUpdateModel

<div class="admin-leaveBalanceUpdate-view">
    <style>
        .leaveupdate-type {
            display: flex;
            align-items: center;
        }

            .leaveupdate-type span {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-weight: bold;
                border: 1px solid #ccc;
            }

        .ELupdate {
            background-color: #f4cccc;
        }

        .EMLupdate {
            background-color: #ea9999;
        }

        .SLupdate {
            background-color: #c9daf8;
        }

        .BLupdate {
            background-color: #ffe599;
        }

        .HPupdate {
            background-color: #b6d7a8;
        }

        .leaveblanceupdate-table input {
            width: 70px;
            text-align: center;
        }

        .leaveblanceupdate-table th, .leaveblanceupdate-table tbody td {
            border: none;
        }
    </style>
    <div class="container">
        <h1 class="mb-4">Leave Balance</h1>
        <div class="d-flex justify-content-between mb-4">
            <select class="custom-select w-50" id="userSelect">
                <option selected>Select User</option>

                @foreach (var emp in Model.Employees)
                {
                    <option value="@emp.EmployeeID">@emp.EmployeeName</option>
                }
            </select>
            @*<button class="btn btn-primary" data-toggle="modal" data-target="#addLeaveModal">Add Leave</button>*@
        </div>
        <table class="table leaveblanceupdate-table">
            <thead>
                <tr>
                    <th scope="col">Leave Type</th>
                    <th scope="col">Total Days</th>
                    <th scope="col">Booked</th>
                    <th scope="col">Available</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="leaveupdate-type"><span class="ELupdate">EL</span> Earned Leave</td>
                    <td><input type="number" class="form-control" value="14"></td>
                    <td><input type="number" class="form-control" value="3"></td>
                    <td><input type="number" class="form-control" value="11"></td>
                </tr>
                <tr>
                    <td class="leaveupdate-type"><span class="EMLupdate">EL</span> Emergency Leave</td>
                    <td><input type="number" class="form-control" value="4"></td>
                    <td><input type="number" class="form-control" value="2"></td>
                    <td><input type="number" class="form-control" value="2"></td>
                </tr>
                <tr>
                    <td class="leaveupdate-type"><span class="SLupdate">SL</span> Sick Leave</td>
                    <td><input type="number" class="form-control" value="6"></td>
                    <td><input type="number" class="form-control" value="1"></td>
                    <td><input type="number" class="form-control" value="5"></td>
                </tr>
                <tr>
                    <td class="leaveupdate-type"><span class="BLupdate">BL</span> Bereavement Leave</td>
                    <td><input type="number" class="form-control" value="3"></td>
                    <td><input type="number" class="form-control" value="1"></td>
                    <td><input type="number" class="form-control" value="2"></td>
                </tr>
                <tr>
                    <td class="leaveupdate-type"><span class="HPupdate">HP</span> Hourly Permission</td>
                    <td><input type="number" class="form-control" value="2"></td>
                    <td><input type="number" class="form-control" value="0"></td>
                    <td><input type="number" class="form-control" value="2"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary">Update</button>
    </div>

    <!-- Add Leave Modal -->
    <div class="modal fade" id="addLeaveModal" tabindex="-1" role="dialog" aria-labelledby="addLeaveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLeaveModalLabel">Add New Leave Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addLeaveForm">
                        <div class="form-group">
                            <label for="leaveLabel">Leave Label</label>
                            <input type="text" class="form-control" id="leaveLabel" placeholder="Enter leave label">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveNewLeave()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function saveNewLeave() {
        const leaveLabel = document.getElementById('leaveLabel').value;
        if (leaveLabel) {
            alert('New leave type added: ' + leaveLabel);
            $('#addLeaveModal').modal('hide');
        } else {
            alert('Please enter a leave label.');
        }
    }
</script>