@Html.Partial("_NavBar")


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar" style="top: 56px !important">
                <ul id="admindash-menu">
                    <li class="mb-2"><a href="#" class="active admin-dashboard"><span class="material-icons">dashboard</span>Dashboard</a></li>
                    <li class="mb-2"><a href="#" class="admin-empmanagement"><span class="material-icons">groups</span>Employee</a></li>
                    <li class="mb-2"><a href="#" class="admin-attendance"><span class="material-icons">calendar_month</span>Attendance</a></li>
                    <li class="mb-2"><a href="#" class="admin-leave"><span class="material-icons">logout</span>Leave</a></li>
                    <li class="mb-2"><a href="#" class="admin-ticketing"><span class="material-icons">laptop_chromebook</span>Ticketing</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content container-fluid" style="width: 84%">
        <div class="hiddenadmindashboard"></div>
        <div class="content admin-dashboard-container" style="margin-top: 3% ">
            <img src="~/Assets/empdashboard.png" style=" width: 100%; margin-top: -20px;" />
        </div>

        <div class="content admin-empmanagement-container" style="display: none; margin-left: -5px; margin-top: 2% ">
        </div>

        <div class="content admin-emppadd-container" style="display: none; ">
        </div>

        <div class="content admin-attendance-container" style="display: none; margin-left: -25px; margin-top: 3%">
           
        </div>

        <div class="content admin-leave-container" style="display: none; margin-top: 3%">        
        </div>

        <div class="content admin-ticketing-container" style="display: none; margin-top: 3%">           
        </div>

    </div>
</div>

