@model HRMS.Models.Admin.EmployeeManagementViewModel


<div class="admin-empmanagement-view">
    <div class="container-fluid top">
        <div class="row navbar">
            <div class="col-lg-5 topic">
                <p class="header">Employee Directory</p>
                <select name="action" id="action" style="display: none">
                    <option value="" disabled selected hidden>Action</option>                 
                    <option value="export">Export</option>
                </select>
            </div>
            <div class="col-lg-7 navbarl">
                <div class="container-fluid">
                    <div class="search-container col-3">
                        <input type="text" placeholder="Search" class="advancesearch">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>

                    <div class="features col-4">
                        <p class="advancetitle">Advanced Features</p>
                        <div class="toggle-button">
                            <button class="collapsedropdown" type="button" data-toggle="collapse" data-target="#demo" aria-expanded="false" aria-controls="demo">
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="addingemployee col-4">
                        <select name="addemployee" class="addemployee" id="addemployee">
                            <option value="" disabled selected hidden>Add Employee</option>
                            <option value="Addmanually">+ Add Manually</option>
                            <option value="importuser">+ Import User</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div id="demo" class="collapse advancefilter">
                <div class="collapse-topic">
                    Filter By
                    <select class="dropdown" name="department" id="department-dropdown">
                        <option value="" disabled selected>Department</option>
                        <option value="HR">HR</option>
                        <option value="DGM - Design">DGM - Design</option>
                        <option value="DGM - Web">DGM - Web</option>
                        <option value="All">All</option>
                    </select>
                    <select class="dropdown" name="Location" id="Location-dropdown">
                        <option value="" disabled selected>Location</option>
                        <option value="Madurai">Madurai</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="All">All</option>
                    </select>
                    <select class="dropdown" name="status" id="status-dropdown">
                        <option value="" disabled selected>Status</option>
                        <option value="Active">Active</option>
                        <option value="In Active">In Active</option>
                        <option value="All">All</option>
                    </select>
                    <a href="#" class="clearfilter">clear</a>
                </div>
            </div>
        </div>
    </div>

    <table id="adminempmanagementtable" class="display" style="width: 100%;">
        <thead style="background-color: #F2F6FF">
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>Emp ID</th>             
                <th>Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Type</th>
                <th>Location</th>
                <th>Status</th>
                <th>
                    Actions

                </th>
                <th>
                    <div class="dropdown">
                        <span class="menu-icon" id="dropdownMenu"><i class="fa-solid fa-list"></i></span>
                        <div class="dropdown-menu" id="dropdownMenuContent">
                            <a href="#" class="empid"><input type="checkbox"> Emp ID</a>
                            <a href="#" class="name"><input type="checkbox"> Name</a>
                            <a href="#" class="Designation"><input type="checkbox"> Designation</a>
                            <a href="#" class="Department"><input type="checkbox"> Department</a>
                            <a href="#" class="Type"><input type="checkbox"> Type</a>
                            <a href="#" class="Location"><input type="checkbox"> Location</a>
                            <a href="#" class="Status"><input type="checkbox"> Status</a>
                        </div>
                    </div>
                </th> 
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <div class="emplsthidden" style="display: none">@Model.EmpListJson</div>

    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="delete-message">Are you sure you want to delete <span class="deleteempnameval" style="font-weight: bold; font-style: italic; color:red"></span> ?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary refresh-emptablist" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger delete-employee">Delete</button>
                </div>
                <div class="deleteempid" style="display: none"></div>
                <div class="deleteempname" style="display: none"></div>
            </div>
        </div>
    </div>
</div>