@model HRMS.Models.Admin.EmployeeManagementViewModel
<div class="admin-empmanagement-view">
    <div class="container-fluid top admin-empview">
        <div class="row navbar align-items-center">
            <!-- Employee column -->
            <div class="col-lg-1 topic d-flex">
                <p class="header mb-0 text-right">Employee</p>
                <select class="form-control ml-2" name="action" id="action" style="display: none;">
                    <option value="" selected>Action</option>
                    <option value="export">Export</option>
                </select>
            </div>
            <div class="col-lg-4"></div>
            <!-- Search box -->
            <div class="col-lg-3 navbarl">
                <div class="search-container" style=" margin-left: 32px; ">
                    <div class="input-group" style="border-radius: 20px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 20px 0 0 20px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                        </div>
                        <input type="text" placeholder="Search By Keyword" class="advancesearch form-control" aria-label="Search By Keyword" style="border-radius: 0 20px 20px 0; height: 35px; font-size: 14px;">
                    </div>
                </div>
            </div>


            <!-- Advanced Filters -->
            <div class="col-lg-2 navbarl">
                <div class="advanced-filtertab d-flex justify-content-between align-items-center">
                    <p class="advancetitle mb-0">Advanced Filters</p>
                    <div class="toggle-button advance-button ml-2">
                        <button class="collapsedropdown collapsed btn" type="button" data-toggle="collapse" data-target="#demo" aria-expanded="false" aria-controls="demo">
                            <i class="fa-solid fa-angle-down"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Add Employee dropdown -->
            <div class="col-lg-2 navbarl">
                <div class="addingemployee form-group">
                    <select name="addemployee" class="addemployee form-control form-select" id="addemployee">
                        <option value="" disabled="" selected="" hidden="">Add Employee</option>
                        <option value="Addmanually">+ Add Manually</option>
                        <option value="importuser">+ Import User</option>
                    </select>
                </div>
            </div>




        </div>
    </div>

    <div class="row justify-content-end ml-2">
        <div class="col-lg-6">
            <div id="demo" class="collapse advancefilter">
                <div class="collapse-topic d-flex align-items-center justify-content-end" style="margin-right: 24px;">
                    <span class="mr-3">Filter By</span>
                    <div class="dropdown mr-3" style="border-radius: 10px;">
                        <select class="form-control form-select-sm" name="department" id="department-dropdown" style="border-radius: 15px; height: 35px; width: 131px;">
                            <option value="" disabled selected>Department</option>
                            <option value="HR">HR</option>
                            <option value="DGM - Design">DGM - Design</option>
                            <option value="DGM - Web">DGM - Web</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                    <div class="dropdown mr-3">
                        <select class="form-control form-select-sm" name="Location" id="Location-dropdown" style="border-radius: 15px; height: 35px; width: 131px;">
                            <option value="" disabled selected>Location</option>
                            <option value="Madurai">Madurai</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                    <div class="dropdown">
                        <select class="form-control form-select-sm" name="status" id="status-dropdown" style="border-radius: 15px; height: 35px; width: 131px;border: 1px solid lightgray">
                            <option value="" disabled selected>Status</option>
                            <option value="Active">Active</option>
                            <option value="In Active">In Active</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                    <a href="#" class="clearfilter ml-3">clear</a>
                </div>
            </div>
        </div>
    </div>

    <table id="adminempmanagementtable" class="display" style="width: 100%;">
        <thead style="background-color: #EEF4FF; border-radius: 10px;">
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>Emp ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Type</th>
                <th>Location</th>
                <th>Status</th>
                <th>
                    Actions

                </th>
                <th>
                    <div class="dropdown dropdown-columns">
                        <span class="menu-icon dropdown-th" id="dropdownMenu"><i class="fa-solid fa-list"></i></span>
                        <div class="action-menu" id="dropdownMenuContent" style="display: none; background-color:white; border-radius:5px;">
                            <a href="#" class="empid"><input type="checkbox"> Emp ID</a>
                            <a href="#" class="name"><input type="checkbox"> Name</a>
                            <a href="#" class="Designation"><input type="checkbox"> Designation</a>
                            <a href="#" class="Department"><input type="checkbox"> Department</a>
                            <a href="#" class="Type"><input type="checkbox"> Type</a>
                            <a href="#" class="Location"><input type="checkbox"> Location</a>
                            <a href="#" class="Status"><input type="checkbox"> Status</a>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <div class="emplsthidden" style="display: none">@Model.EmpListJson</div>

    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="delete-message">Are you sure you want to delete <span class="deleteempnameval" style="font-weight: bold; font-style: italic; color:red"></span> ?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary refresh-emptablist" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger delete-employee">Delete</button>
                </div>
                <div class="deleteempid" style="display: none"></div>
                <div class="deleteempname" style="display: none"></div>
            </div>
        </div>
    </div>
</div>