
@{
    ViewBag.Title = "JobBulkImport";
}


@Html.Partial("_NavBar")
<div class="container-fluid res-admin-jobupload">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid" style="width: 84%">
        <div class="content admin-jobupload-container" style="margin-left: -5px; margin-top: 0px;">
            <div class="admin-jobupload-view">
                <div class="container res-admin-jobupload-import col-lg-6">
                    <!-- Headline: Import Employee -->
                    <h4 class="import-user-head">Bulk Upload Job</h4>

                    <!-- Description with bullet points -->
                    <div class="description">
                        <p>Here's how to import list:</p>
                        <ul>
                            <li>Prepare your job data in a xlsx format.</li>
                            <li>Make sure the CSV file follows the correct format.</li>
                            <li>Use the template provided for best results.</li>
                        </ul>
                    </div>

                    <div>
                        <button class="btn btn-primary download-btn" onclick="downloadJobTemplate()">Download Template</button>
                    </div>
                    <p style=" margin-bottom: 35px; margin-top: 5px;">Sample excel template</p>

                    <div class="job-file-upload" id="job-file-upload-area">
                        <label for="job-file-upload-input" id="job-file-upload-label">
                            <i class="fas fa-cloud-upload-alt fa-3x mb-3"></i><br>
                            Drag and drop files or Browse<br>
                            Supported formats: .XLSX
                        </label>
                        <input type="file" id="job-file-upload-input" accept=".xlsx" onchange="handleJobFileUpload(this)">
                    </div>

                    <div class="job-uploaded-file" id="job-uploaded-file-info" style="display: none;">
                        <p style="color: green; font-size: 13px;" id="job-uploaded-file-text"></p>
                    </div>

                    <div class="submit-button">
                        <button class="btn btn-primary btn-importjob" style="background-color:#2693F8;float:right;" onclick="submitFile()">Submit</button>
                    </div>

                    <div class="modal fade" id="importSuccessModal" tabindex="-1" role="dialog" aria-labelledby="importSuccessModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="importSuccessModalLabel">Import Holidays</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="success-message" style="color: green">Job imported successfully!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary refresh-jobupload">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function downloadJobTemplate() {
        var link = document.createElement('a');
        link.href = '/assets/templates/JobImportSample.xlsx';
        link.download = 'JobImportSample.xlsx';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }


    let uploadedFile = null;;

    function handleJobFileUpload(input) {
        uploadedFile = input.files[0];
        if (uploadedFile) {
            document.getElementById("job-uploaded-file-info").style.display = "block";
            document.getElementById("job-uploaded-file-text").innerText = `Uploaded File: ${uploadedFile.name}`;
        } else {
            alert("Please select a file.");
        }
    }


    function submitFile() {
        if (!uploadedFile) {
            alert("Please upload a file before submitting.");
            return;
        }

        const formData = new FormData();
        formData.append("file", uploadedFile);

        $.ajax({
            url: '/admindash/jobimport',
            method: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    $("#importSuccessModal").modal("show");
                    document.getElementById('uploaded-file-info').style.display = 'none';
                    uploadedFile = null;
                } else {
                    alert("Error: " + response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while importing holidays.");
            }
        });
    }


   
    $(document).on('click', '.refresh-jobupload', function () {
        event.preventDefault();
        window.location.href = "/admindashboard/adminjoblisting";
        return;
    });

</script>
