@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid VendorApprovalPage-View" style="width: 84%">

        <div class="content sadmin-vendorapproval-container" style="margin-left: -10px; ">
            <div class="sadmin-vendorapproval-view">
                <div class="container-fluid top sadmin-vendorapproval">
                    <div class="row navbar align-items-center">
                        <!-- Employee column -->
                        <div class="col-lg-4 col-md-5 col-sm-12 topic d-flex res-admin-title">
                            <h4 class="header mb-0 ">Vendor Approval Request</h4>
                        </div>
                        <!-- Search box -->
                        <div class="col-lg-4 navbarl1 col-sm-12 col-md-7 res-sadmin-vendorapproval-search">
                            <div class="search-container" style=" margin-left: 32px; ">
                                <div class="input-group" style="border-radius: 20px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="background-color: transparent; border-right: none; border-radius: 5px 0 0 5px; height: 35px;"><i class="fas fa-search" style="color: #369479"></i></span>
                                    </div>
                                    <input type="text" placeholder="Search By Keyword" class="advancesearch form-control" aria-label="Search By Keyword" style="border-radius: 0 5px 5px 0; height: 35px; font-size: 14px;">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 navbarl1 col-sm-12 col-md-12 res-sadmin-vendorapproval-header-right d-flex">
                            <!-- Export -->
                            <div class="col-lg-4 navbarl1 col-sm-6 col-md-4 res-sadmin-vendorapproval-status p-0">
                                <div class="form-group res-vendorapproval">
                                    <select class="form-control form-select" name="vendorapprovalstatus" id="sadmin-vendorapproval-status-dropdown" style="">
                                        <option value="" disabled selected>Status</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Rejected">Rejected</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 navbarl1 col-sm-4 col-md-2 res-admin-vendor-export p-0">
                                <div class="sadminvendorapproval-export" style="">
                                    <button type="button" class="btn vendorapproval-export-btn pt-0" id="exportVendorapproval" onclick="exportVendorapproval()">
                                        <span class="vendorapproval-export"><img src="/assets/Export.png" alt="Export" style=""></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="res-sadmin-vendorapproval-table table-responsive">
                    <table id="sadminvendorapprovaltable" class="display" style="width: 100%;">
                        <thead style="background-color: #d8e6fb; border-radius: 10px;">
                            <tr>
                                <th><input type="checkbox" id="selectAll"></th>
                                <th>Vendor ID</th>
                                <th>Vendor Name</th>
                                <th>Vendor Contact</th>
                                <th>Vendor Address</th>
                                <th>Created Date</th>
                                <th>Created By</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td><input type="checkbox" class="vendorapproval-check"></td>
                                <td class="tdvendorapprovalid">2000</td>
                                <td class="tdvendorapprovalname">
                                    <div style="display: flex; align-items: center;" data-toggle="modal" data-target="#sadmin-approvalcard">
                                        <span style="margin-top: 0px; margin-right: 10px;">Mithun Sivaprakasam<br><span style="color: #3E78CF;">mithun@ambconline.com</span></span>
                                    </div>
                                </td>
                                <td>+901212122</td>
                                <td>Test Address</td>
                                <td>03-09-2024</td>
                                <td>Test User</td>
                                <td><span class="sadmin-vendorapproved-btn"><img src="/assets/Approve.png" alt="Approved" style="width:25px"></span></td>
                                <td><span class="vendor-approval-edit" data-toggle="modal" data-target="#deletevendorapproval"><i class="fas fa-trash-alt"></i></span></td>
                            </tr>
                            <tr class="even">
                                <td><input type="checkbox" class="vendorapproval-check"></td>
                                <td class="tdvendorapprovalid">2000</td>
                                <td class="tdvendorapprovalname">
                                    <div style="display: flex; align-items: center;" data-toggle="modal" data-target="#sadmin-approvalcard">
                                        <span style="margin-top: 0px; margin-right: 10px;">Mithun Sivaprakasam<br><span style="color: #3E78CF;">mithun@ambconline.com</span></span>
                                    </div>
                                </td>
                                <td>+901212122</td>
                                <td>Test Address</td>
                                <td>03-09-2024</td>
                                <td>Test User</td>
                                <td><span class="sadmin-vendorapproved-btn"><img src="/assets/Approve.png" alt="Approved" style="width:25px"></span></td>
                                <td><span class="vendor-approval-edit" data-toggle="modal" data-target="#deletevendorapproval"><i class="fas fa-trash-alt"></i></span></td>
                            </tr>
                            <tr class="odd">
                                <td><input type="checkbox" class="vendorapproval-check"></td>
                                <td class="tdvendorapprovalid">2000</td>
                                <td class="tdvendorapprovalname">
                                    <div style="display: flex; align-items: center;" data-toggle="modal" data-target="#sadmin-approvalcard">
                                        <span style="margin-top: 0px; margin-right: 10px;">Mithun Sivaprakasam<br><span style="color: #3E78CF;">mithun@ambconline.com</span></span>
                                    </div>
                                </td>
                                <td>+901212122</td>
                                <td>Test Address</td>
                                <td>03-09-2024</td>
                                <td>Test User</td>
                                <td><span class="sadmin-vendorapproved-btn"><img src="/assets/Approve.png" alt="Approved" style="width:25px"></span></td>
                                <td><span class="vendor-approval-edit" data-toggle="modal" data-target="#deletevendorapproval"><i class="fas fa-trash-alt"></i></span></td>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="modal fade" id="deletevendorapproval" tabindex="-1" role="dialog" aria-labelledby="deletevendorapproval" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center pt-5">
                        <h5>Are you sure you want to delete vendor?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn closing-delete" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="sadmin-approvalcard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title ">
                            <h6>Vendor ID</h6>
                            <p class="m-0 sadmin-vendorid-approvalcard">24</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column sadmin-approvalcard-tabs">
                            <label>Vendor Name</label>
                            <span style="margin-top: 0px; margin-right: 10px;line-height:1rem">Mithun Sivaprakasam<br><p style="color: #3E78CF;font-size:13px; margin:0px">mithun@ambconline.com</p></span>
                        </div>
                        <div class="d-flex flex-column sadmin-approvalcard-tabs">
                            <label>Vendor Contact</label>
                            <span>+901212122</span>
                        </div>
                        <div class="d-flex flex-column sadmin-approvalcard-tabs">
                            <label>Vendor Address</label>
                            <span>Khasra numbers:444(p),445(p),460(p),461(p),village-Bhaukapur,New Delhi.</span>
                        </div>
                        <div class="d-flex flex-column sadmin-approvalcard-tabs">
                            <label>Reason for approval or Reject</label>
                            <textarea id="approvalreason" class="form-control"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">Reject</button>
                        <button type="button" class="btn btn-success">Approve</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Initialize DataTable if not already initialized
        if (!$.fn.DataTable.isDataTable('#sadminvendorapprovaltable')) {
            var table = $('#sadminvendorapprovaltable').DataTable({
                "responsive": true,
                "paging": true,
                "searching": true, // Enable searching
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
            });
        }
    });

    const textarea = document.getElementById('approvalreason');

    textarea.addEventListener('input', function () {
        this.style.height = 'auto'; 
        this.style.height = this.scrollHeight + 'px';
    });
</script>