@Html.Partial("_NavBar")
<div class="container-fluid">
    <div class="hiddenadmindashboard" style="display: none"></div>
    @Html.Partial("_adminsidemenu")
    <div class="main-content container-fluid VendorApprovalPage-View" style="width: 84%">

        <h2>VendorApprovalPage</h2>

    </div>
</div>