<div class="row">
    <div class="col-md-2">
        <div class="sidebar" style="top: 56px !important">
            <ul id="admindash-menu">
                <li class="mb-2"><a href="/admindash/index" class="active "><span class="material-icons">dashboard</span>Dashboard</a></li>
                <li class="mb-2"><a href="/admindashboard/employeemanagement" class=""><span class="material-icons">groups</span>Employee</a></li>
                <li class="mb-2"><a href="/adminattendance/attendance" class=""><span class="material-icons">calendar_month</span>Attendance</a></li>
                <li class="mb-2"><a href="/adminleave/index" class=""><span class="material-icons">logout</span>Leave</a></li>
                <li class="mb-2"><a href="#" class=""><span class="material-icons">laptop_chromebook</span>Ticketing</a></li>
            </ul>
        </div>
    </div>
</div>

