<div id="left-side-menu-normal" class="row" style="margin-left: -29px; ">
    <div class="col-md-2">
        <div class="sidebar" style="top: 56px !important">
            <ul id="empdash-menu" style="list-style-type: none;">
                <li class="mb-2">
                    <a href="/empdash/index" class="active ">
                        <span class="material-icons dash-icon">dashboard</span>Dashboard
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/employeedashboard/selfservice" class="">
                        <span class="material-icons self-icon">groups</span>Self Service
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/EmpAttendance/Index" class="">
                        <span class="material-icons attendance-icon">calendar_month</span>Attendance
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/EmpLeave/Index" class="">
                        <span class="material-icons leave-icon-emp">logout</span>Leave Tracker
                    </a>
                </li>
                <li class="mb-2">
                    <a href="" class="">
                        <span class="material-icons ticket-icon">laptop_chromebook</span>Ticketing
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="left-side-menu" class="row" style="margin-left: -29px; ">    
    <div class="col-md-2">        
        <div class="sidebar" style="">

            <div class="sidebar-header mt-4">
                <div class="bl"><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--kg3uPx2P--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5%3Fs%3D250" alt="Employee Image" class="profile img-fluid nav-image-profile"></div>
                <div class="br">
                    <div class="name font-weight-bold">Karthick Babu OM</div>
                    <div class="email"><a href="mailtojohn@test.com">kumar@test.com</a></div>
                    <div class="designation">Graphics UI/UX Designer</div>
                </div>
            </div>

            <ul id="empdash-menu" style="list-style-type: none;">
                <li class="mb-2">
                    <a href="/empdash/index" class="active ">
                        <span class="material-icons">dashboard</span>Dashboard
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/employeedashboard/selfservice" class="">
                        <span class="material-icons">groups</span>Self Service
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/EmpAttendance/Index" class="">
                        <span class="material-icons">calendar_month</span>Attendance
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/EmpLeave/Index" class="">
                        <span class="material-icons">logout</span>Leave Tracker
                    </a>
                </li>
                <li class="mb-2">
                    <a href="" class="">
                        <span class="material-icons">laptop_chromebook</span>Ticketing
                    </a>
                </li>
            </ul>

            <ul id="logout_sidebar_button" class="nav nav-sidebar">
                <li><a href="#">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>
