
@model Testhrms.empinfo

@{ ViewBag.Title = "Forgot password Email Page"; }

<style>
    body {
        background-color: #fff;
        font-family: Calibri;
        font-size: initial;
        color: #2167ae;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
        border: 0px !important;
    }

    tr:nth-child(even) {
        background-color: grey;
    }

    .time-header {
        color: white;
    }


    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .emailbody {
        font-family: "Lato", sans-serif;
    }

    .email-footer {
        background-color: #eee;
        font-size: medium;
        height: 25px;
        border-radius: 20px;
    }

    .emailbodycontent {
        font-family: "Lato", sans-serif;
        color: #2167ae;
    }

    #specifyColor {
        accent-color: #d3d3d3;
    }

    .circle {
        height: 20px;
        width: 20px;
        background-color: #d3d3d3;
        border-radius: 50%;
    }
</style>

@if (Model != null)
{
<div class="emailbodycontent">
    <div style="font-family: Calibri; color: #2167ae; ">
        <h2>Dear <b>@Model.empname</b>,</h2>
    </div>

    <div style="font-family: Calibri; color: #2167ae; ">
        Follow the link below to reset it:
    </div>

    [Reset Password Link]

    <br />
    <br />
    <div style="font-family: Calibri; color: #2167ae; font-size: initial">
        Thanks & Regards,
        <br />
        <b>AMBC HR Department</b>
    </div>
    <br />
    <br />

</div>}