<img src="~/Assets/AMBC_Logo.png" alt="Logo" class="logo">
<div class="container">
    <div class="login-container">
        <h2 class="mb-4 login-heading">Login</h2>
        <form id="loginForm">
            <div class="login-form">
                <div class="form-group empid-field">
                    <label for="EmployeeID" class="form-label">Employee ID</label>
                    <input type="text" id="EmployeeID" class="form-control input-lg" placeholder="Enter your Emp ID">
                    <span class="text-danger" id="empIDError"></span>
                </div>
                <div class="form-group empemail-field" style="display: none">
                    <label for="EmailID" class="form-label">Email ID</label>
                    <input type="email" id="EmailID" class="form-control input-lg" placeholder="Enter Admin Email">
                    <span class="text-danger" id="emailError"></span>
                </div>
                <div class="form-group">
                    <label for="Password" class="form-label d-flex justify-content-between align-items-center">
                        Password
                    </label>
                    <div class="forgot-password">
                        <a href="#" class="forgot-password">Forgot password?</a>
                    </div>
                    <input type="password" id="Password" class="form-control input-lg" placeholder="Enter your password">
                    <span class="text-danger" id="passwordError"></span>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" id="StaySignedIn" class="form-check-input">
                    <label for="StaySignedIn" class="form-check-label stay-signed-in">Stay Signed In</label>
                </div>
                <div class="g-recaptcha" data-sitekey="6LfVc7wpAAAAAOjHUeyjy_FGS6-gyCmfS_TXDdvk" id="recaptchaid"></div>
                <button type="button" class="btn btn-primary login-continue">Continue</button>

                <div class="error-message" style="color: red; display: none">
                    Invalid Login Details!
                </div>
            </div>
        </form>
        <div class="mt-5 signin-as">
            <a href="#" class="text-secondary emp-login" style="display: none">Sign in as Employee</a>
            <a href="#" class="text-secondary admin-login">Sign in as Admin</a>
        </div>
    </div>


    <style>
       
    </style>

    <div class="forgot-container" style="display: none">
        <h2 class="mb-4 forgot-heading">Forgot Password</h2>
        <form id="forgotpassword">
            <div class="login-form">
                <div class="form-group empemail-field">
                    <label for="ForgotEmailID" class="form-label">Employee Email ID</label>
                    <input type="email" id="ForgotEmailID" class="form-control input-lg" placeholder="Enter email">
                    <span class="text-danger" id="forgotemailError"></span>
                </div>
                <button type="button" class="btn forgot-continue">

                    Continue
                </button>

                <div id="ajax-overlay">
                    <div class="cv-spinner">
                        <span class="spinner"></span>
                    </div>
                </div>
                <div class="response-message" style="color: #2E8B57; display: none">
                    <b>Reset password link sent to email!</b>
                </div>
            </div>
        </form>
    </div>
</div>



