
<img src="~/Assets/AMBC_Logo.png" alt="Logo" class="logo">
<div class="container">
    <div class="login-container">
        <h2 class="mb-4 login-heading">Login</h2>
        <form id="loginForm">
            <div class="login-form">
                <div class="form-group empid-field">
                    <label for="EmployeeID" class="form-label">Employee ID</label>
                    <input type="text" id="EmployeeID" class="form-control input-lg" placeholder="Enter your Emp ID">
                    <span class="text-danger" id="empIDError"></span>
                </div>
                <div class="form-group empemail-field" style="display: none">
                    <label for="EmailID" class="form-label">Email ID</label>
                    <input type="email" id="EmailID" class="form-control input-lg" placeholder="Enter Admin Email">
                    <span class="text-danger" id="emailError"></span>
                </div>
                <div class="form-group">
                    <div class="password-label">
                        <label for="Password" class="form-label d-flex justify-content-between align-items-center">
                            Password
                        </label>
                        <div class="forgot-password">
                            <a href="#" class="forgot-password">Forgot password?</a>
                        </div>
                    </div>
                    <input type="password" id="Password" class="form-control input-lg" placeholder="Enter your password">
                    <span class="text-danger" id="passwordError"></span>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" id="StaySignedIn" class="form-check-input">
                    <label for="StaySignedIn" class="form-check-label stay-signed-in">Stay Signed In</label>
                </div>
                <button type="button" class="btn login-continue">Continue</button>
                <div class="error-message" style="color: red; display: none">
                    Invalid Login Details!
                </div>
            </div>
        </form>
        <div class="mt-5 signin-as">
            <a href="#" class="text-secondary emp-login" style="display: none">Sign in as Employee</a>
            <a href="#" class="text-secondary admin-login">Sign in as Admin</a>
        </div>
    </div>
     <style>
        .forgot-container {
            width: 40%;
            margin: 0 auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 100px;
            position: relative;
        }

        .forgot-continue {
            width: 93%;
            padding: 3%;
            margin-bottom: 5%;
        }

        .forgot-heading {
            font-size: 25px;
            margin-bottom: 23px;
            margin-left: 30px;
        }

        .empemail-field input {
            max-width: 358px;
        }
    </style>

    <div class="forgot-container" style="display: none">
        <h2 class="mb-4 forgot-heading"> Forgot Password</h2>
        <form id="forgotpassword">
            <div class="login-form">
                <div class="form-group empemail-field">
                    <label for="ForgotEmailID" class="form-label"> Employee Email ID</label>
                    <input type="email" id="ForgotEmailID" class="form-control input-lg" placeholder="Enter email">
                    <span class="text-danger" id="forgotemailError"> </span>
                </div>
                <button type="button" class="btn forgot-continue"> Continue </button>

                <div id="ajax-overlay">
                    <div class="cv-spinner">
                        <span class="spinner"> </span>
                    </div>
                </div>
                <div class="response-message" style="color: #2E8B57; display: none">
                    <b class="response-message-innermessage"> Reset password link sent to email!</b>
                </div>
            </div>
        </form>
    </div>
</div>



