@model HRMS.Models.ResetPasswordModel

<style>
    body {
        background-color: #F2F6FF;
    }
</style>

<div class="container">
    <img src="~/Assets/AMBC_Logo.png" alt="Logo" class="resetlogo">

    <div class="reset-container bg-white">
        <h2 class="mb-4 login-heading reset-heading">Reset Password</h2>
        <form id="resetpasswordform" style="margin-left: 7%">
            <div class="reset-form">
                <div class="form-group">
                    <label for="resetPassword" class="form-label d-flex justify-content-between align-items-center">
                        New Password
                    </label>
                    <input type="password" id="resetPassword" class="form-control input-lg resetinput" placeholder="Enter your password">
                    <span toggle="#resetPassword" class="fa fa-fw fa-eye field-icon toggle-resetPassword"></span>
                    <span class="text-danger" id="resetpasswordError"></span>
                </div>
                <div class="form-group">
                    <label for="resetconfirmPassword" class="form-label d-flex justify-content-between align-items-center">
                        Confirm Password
                    </label>
                    <input type="password" id="resetconfirmPassword" class="form-control input-lg resetinput" placeholder="Re Enter your password">
                    <span toggle="#resetconfirmPassword" class="fa fa-fw fa-eye field-icon toggle-resetconfirmPassword"></span>
                    <span class="text-danger" id="resetpasswordError1"></span>
                </div>

                <button type="button" class="btn btn-primary btn-md btn-block confirmPassword-continue" style=" width: 90%; margin-top: 7%;">Continue</button>
            </div>
            <div class="confirmPassword-message">
            </div>
            <button type="button" class="btn btn-primary btn-md btn-block backtologin-btn" style="display: none;">Back to login</button>

            @if (Model != null && Model.EmpInfo != null)
            {
                <div class="reset-empid" style="display: none">@Model.EmpInfo.EmployeeID</div>
            }

        </form>
    </div>
</div>

<script>
    $(".toggle-resetPassword").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $(".toggle-resetconfirmPassword").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
